openapi: 3.2.0
info:
  title: Infrahub Snapshots API
  version: '1.0'
  description: Snapshot APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Snapshots
  description: Snapshot APIs
paths:
  /core/snapshots:
    get:
      tags:
      - Snapshots
      summary: Retrieve list of snapshots with pagination
      description: Retrieves a list of snapshots, providing details such as snapshot name, timestamp, VM ID, and other relevant information.
      operationId: List_snapshots
      parameters:
      - name: page
        in: query
        description: Page Number
        schema: {}
      - name: pageSize
        in: query
        description: Data Per Page
        schema: {}
      - name: search
        in: query
        description: Search By Snapshot ID or Name
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshots'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/snapshots/name-availability/{name}:
    get:
      tags:
      - Snapshots
      summary: Fetch snapshot name availability
      description: Check if a Snapshot name is available
      operationId: Fetch_snapshot_name_availability
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailableModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/snapshots/{id}:
    get:
      tags:
      - Snapshots
      summary: Retrieve a snapshot
      description: Retrieve a snapshot.
      operationId: Get_snapshot
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotRetrieve'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    delete:
      tags:
      - Snapshots
      summary: Delete snapshot
      description: Delete a snapshot. Provide the snapshot ID in the path to delete the specified snapshot. If the snapshot is connected with an image, that image will also bedeleted and the deleted image ID will be returned in the success message response.
      operationId: Delete_snapshot
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/snapshots/{id}/restore:
    post:
      tags:
      - Snapshots
      summary: Restore a snapshot
      description: Restore a snapshot.
      operationId: Restore_snapshot
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapshotRestoreRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/snapshots/{snapshot_id}/image:
    post:
      tags:
      - Snapshots
      summary: Create an image from a snapshot
      description: Create a new custom image from an existing snapshot.Requires a name and any labels for your new custom image.
      operationId: Create_custom_image
      parameters:
      - name: snapshot_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImagePayload'
        required: true
      responses:
        '200':
          description: Creation of image successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create_Image'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
components:
  schemas:
    Instance_Image_Fields:
      type: object
      properties:
        name:
          type: string
    Volume_Attachment_Fields:
      type: object
      properties:
        id:
          type: integer
        volume:
          $ref: '#/components/schemas/Volume_Fields_for_Instance'
        status:
          type: string
        device:
          type: string
        protected:
          type: boolean
        created_at:
          type: string
          format: date-time
    Snapshots:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        snapshots:
          type: array
          items:
            $ref: '#/components/schemas/SnapshotFields'
        count:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
    SnapshotRestoreRequest:
      required:
      - new_vm_name
      type: object
      properties:
        new_vm_name:
          type: string
          description: The name of the newly restored VM
        contract_id:
          type: integer
          description: Contract ID to assign to the newly restored VM
    Instance_Enhanced_Metrics_Fields:
      type: object
      properties:
        enabled:
          type: boolean
    NameAvailableModel:
      type: object
      properties:
        name:
          type: string
        available:
          type: boolean
        message:
          type: string
    Instance_Flavor_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        cpu:
          type: integer
        ram:
          type: integer
        disk:
          type: integer
        ephemeral:
          type: integer
        gpu:
          type: string
        gpu_count:
          type: integer
        labels:
          type: array
          items:
            $ref: '#/components/schemas/FlavorLabelFields'
        features:
          type: object
          properties: {}
    SnapshotFields:
      required:
      - created_at
      - description
      - id
      - is_image
      - name
      - region_id
      - size
      - status
      - updated_at
      - vm_id
      type: object
      properties:
        id:
          type: integer
          description: Snapshot ID
        name:
          type: string
          description: Snapshot name
        description:
          type: string
          description: Description of the snapshot
        vm_id:
          type: integer
          description: ID of the VM from which the snapshot is created
        region_id:
          type: integer
          description: Region where the snapshot will be available
        status:
          type: string
          description: Status of the snapshot
        is_image:
          type: boolean
          description: Indicates if the snapshot is an image
        size:
          type: integer
          description: Size in GB of the snapshot
        has_floating_ip:
          type: boolean
          description: Indicates if the VM had a floating IP assigned
        labels:
          type: array
          description: Labels associated with snapshot
          items:
            type: string
            description: ''
        created_at:
          type: string
          description: Creation timestamp
          format: date-time
        updated_at:
          type: string
          description: Last update timestamp
          format: date-time
    CreateImagePayload:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: Name for the new custom image
        labels:
          type: array
          description: List of labels to attach to the image
          items:
            type: string
            description: ''
    Volume_Fields_for_Instance:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        volume_type:
          type: string
        bootable:
          type: boolean
        size:
          type: integer
    Instance_Keypair_Fields:
      type: object
      properties:
        name:
          type: string
    Instance_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        environment:
          $ref: '#/components/schemas/Instance_Environment_Fields'
        image:
          $ref: '#/components/schemas/Instance_Image_Fields'
        flavor:
          $ref: '#/components/schemas/Instance_Flavor_Fields'
        os:
          type: string
        keypair:
          $ref: '#/components/schemas/Instance_Keypair_Fields'
        volume_attachments:
          type: array
          items:
            $ref: '#/components/schemas/Volume_Attachment_Fields'
        security_rules:
          type: array
          items:
            $ref: '#/components/schemas/Security_Rules_Fields_for_Instance'
        power_state:
          type: string
        vm_state:
          type: string
        fixed_ip:
          type: string
        floating_ip:
          type: string
        floating_ip_status:
          type: string
        port_randomization_status:
          type: string
        port_randomization:
          type: boolean
        callback_url:
          type: string
        locked:
          type: boolean
        contract_id:
          type: integer
        created_at:
          type: string
          format: date-time
        labels:
          type: array
          items:
            type: string
        features:
          type: object
          properties: {}
        requires_public_ip:
          type: boolean
        enhanced_metrics:
          $ref: '#/components/schemas/Instance_Enhanced_Metrics_Fields'
    Create_Image:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        id:
          type: integer
    Instance:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        instance:
          $ref: '#/components/schemas/Instance_Fields'
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    SnapshotRetrieveFields:
      required:
      - created_at
      - description
      - id
      - is_image
      - name
      - region_id
      - size
      - status
      - updated_at
      - vm_id
      type: object
      properties:
        id:
          type: integer
          description: Snapshot ID
        name:
          type: string
          description: Snapshot name
        description:
          type: string
          description: Description of the snapshot
        vm_id:
          type: integer
          description: ID of the VM from which the snapshot is created
        region_id:
          type: integer
          description: Region where the snapshot will be available
        status:
          type: string
          description: Status of the snapshot
        is_image:
          type: boolean
          description: Indicates if the snapshot is an image
        size:
          type: integer
          description: Size in GB of the snapshot
        has_floating_ip:
          type: boolean
          description: Indicates if the VM had a floating IP assigned
        labels:
          type: string
          description: ''
        created_at:
          type: string
          description: Creation timestamp
          format: date-time
        updated_at:
          type: string
          description: Last update timestamp
          format: date-time
        region:
          type: string
          description: ''
        vm_name:
          type: string
          description: ''
        vm_status:
          type: string
          description: ''
        vm_environment:
          type: string
          description: ''
        vm_flavor:
          type: string
          description: ''
        vm_image:
          type: string
          description: ''
        vm_keypair:
          type: string
          description: ''
        volume_id:
          type: string
          description: ''
        volume_name:
          type: string
          description: ''
        custom_image:
          type: string
          description: ''
    SnapshotRetrieve:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        snapshot:
          $ref: '#/components/schemas/SnapshotRetrieveFields'
    Security_Rules_Fields_for_Instance:
      type: object
      properties:
        id:
          type: integer
        direction:
          type: string
        protocol:
          type: string
        port_range_min:
          type: integer
        port_range_max:
          type: integer
        ethertype:
          type: string
        remote_ip_prefix:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    FlavorLabelFields:
      type: object
      properties:
        id:
          type: integer
          description: ''
        label:
          type: string
          description: ''
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Instance_Environment_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        org_id:
          type: integer
        region:
          type: string
        features:
          $ref: '#/components/schemas/Environment_Features'
    Environment_Features:
      type: object
      properties:
        network_optimised:
          type: boolean
        green_status:
          type: string
          example: GREEN
          enum:
          - GREEN
          - PARTIALLY_GREEN
          - NOT_GREEN
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
