openapi: 3.2.0
info:
  title: Infrahub Organization API
  version: '1.0'
  description: Organizations API
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Organization
  description: Organizations API
paths:
  /auth/organizations:
    get:
      tags:
      - Organization
      summary: Retrieve Organization Information
      description: Retrieves detailed information about your organization, including current credit, threshold, number of instances, and number of volumes. For additional information on organizations, click here.
      operationId: Retrieve_Organization_Information
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrganizationResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /auth/organizations/remove-member:
    post:
      tags:
      - Organization
      summary: Remove Organization Member
      description: Removes a member from your organization. For additional information, click here.
      operationId: Remove_Organization_Member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveMemberPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveMemberFromOrganizationResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /auth/organizations/update:
    put:
      tags:
      - Organization
      summary: Update Organization Information
      description: Updates the name of the organization. For additional information, click here.
      operationId: Update_Organization_Information
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateOrganizationResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
components:
  schemas:
    OrganizationFields:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        credit:
          type: integer
        threshold:
          type: integer
        total_instances:
          type: integer
        total_volumes:
          type: integer
        total_containers:
          type: integer
        total_clusters:
          type: integer
        users:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUserResponseModel'
        created_at:
          type: string
          format: date-time
    GetOrganizationResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        organization:
          $ref: '#/components/schemas/OrganizationFields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    UpdateOrganizationPayload:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 50
          minLength: 3
          type: string
          description: The new name for the organition
    RbacRoleField:
      type: object
      properties:
        name:
          type: string
    OrganizationUserResponseModel:
      type: object
      properties:
        id:
          type: integer
        sub:
          type: string
        email:
          type: string
        username:
          type: string
        name:
          type: string
        role:
          type: string
        rbac_roles:
          type: array
          items:
            $ref: '#/components/schemas/RbacRoleField'
        joined_at:
          type: string
          format: date-time
        last_login:
          type: string
          format: date-time
    RemoveMemberFromOrganizationResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    RemoveMemberPayload:
      required:
      - email
      type: object
      properties:
        email:
          maxLength: 64
          type: string
          description: The email of the user to be removed.
    UpdateOrganizationResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
