openapi: 3.2.0
info:
  title: Infrahub Billing API
  version: '1.0'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Billing
paths:
  /billing/billing/history:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History for a specific Billing Cycle
      description: User will receive billing history for the specified billing cycle. This data will include 'incurred_bill', 'non_discounted_bill', 'vm_cost', 'volume_cost'
      operationId: Get_User_Billing_History
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: graph
        in: query
        description: Set this value to "true" for getting graph value
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationLevelBillingHistoryResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/bucket:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of a Bucket for a specific Billing Cycle
      description: User will receive billing history of buckets for thespecified billing cycle. This data will include 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'
      operationId: List_Bucket_Billing_History
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelBucketBillingHistoryResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/bucket/{bucket_id}:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of a Specific Snapshot for a specific Billing Cycle
      description: Retrieve billing history of a specific Bucket for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour', 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'.
      operationId: Get_Bucket_billing_history
      parameters:
      - name: bucket_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelBucketBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/bucket/{bucket_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Bucket for a specific billing…
      description: User will receive hourly cost datapoints for a Bucket for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: Buckets_billing_history_hourly_chart
      parameters:
      - name: bucket_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelGraphBillingDetailsBucket'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/cluster:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of Clusters for a specific Billing Cycle
      description: User will receive billing history of clusters for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'
      operationId: List_Clusters_billing_history
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterBillingHistoryResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/cluster/{cluster_id}:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of a Specific Cluster for a specific Billing Cycle
      description: User will receive billing history of a specific Cluster for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour', 'non_discounted_price_per_hour', 'incurred_bill', 'non_discounted_bill', 'usage_time', 'usage_time_ACTIVE', 'usage_time_SHUTOFF', 'usage_time_HIBERNATED'.
      operationId: Get_Cluster_billing_history
      parameters:
      - name: cluster_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/cluster/{cluster_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a specific Cluster for a specific billing…
      description: User will receive hourly cost datapoints for a Cluster for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: Get_cluster_billing_history_graph
      parameters:
      - name: cluster_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterGraphBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/contract:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of Contract for a specific Billing Cycle
      description: User will receive billing history of contracts for the specified billing cycle. This data will include 'description', gpu_type','infrahub_id', 'status', 'incurred_bill', 'price_per_hour'
      operationId: List_billing_contract_history
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: search
        in: query
        description: Search by Contract "Description" or "ID"
        schema: {}
      responses:
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/data_synthesis:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of data synthesis for a specific Billing Cycle
      description: User will receive billing history of data_synthesis for the specified billing cycle.
      operationId: Get_data_synthesis_billing_history
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/data_synthesis/{resource_id}:
    get:
      tags:
      - Billing
      description: 'Retrieve billing history for a specific Data Synthesis resource. Includes: ''resource_name'', ''infrahub_id'', ''base_model'', ''base_model_display_name'', ''lora_adapter'', ''incurred_bill'', ''non_discounted_bill'', ''usage_time'', ''input_tokens'', ''output_tokens'', ''input_tokens_incurred_bill'', ''input_tokens_non_discounted_bill'', ''output_tokens_incurred_bill'', ''output_tokens_non_discounted_bill'''
      operationId: Get_data_synthesis_history_for_resource
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSynthesisBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      summary: Get data synthesis history for resource
      x-summary-source: derived
  /billing/billing/history/data_synthesis/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Data Synthesis for a specific
      description: 'User will receive hourly cost datapoints for a data synthesis job for a specified billing cycle. This data will include ''incurred_bill'' graph datapoints.

        billing cycle'
      operationId: Get_data_synthesis_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSynthesisBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/fine_tuning:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of model evaluation for a specific Billing Cycle
      description: User will receive billing history of fine_tuning for the specified billing cycle.
      operationId: Get_fine-tuning_billing_history
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadBillingHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/fine_tuning/{resource_id}:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of a Specific Fine Tuning for a specific Billing Cycle
      description: Retrieve billing history of a specific Fine tuning for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour', 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'.
      operationId: Get_resource_fine-tuning_billing_history
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/fine_tuning/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Fine Tuning for a specific…
      description: User will receive hourly cost datapoints for a Fine Tunings for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: Get_fine-tuning_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/image_generation:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of image generation for a specific Billing Cycle
      description: User will receive billing history of image_generation for the specified billing cycle.
      operationId: Get_image_generation_billing_history
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/image_generation/{resource_id}:
    get:
      tags:
      - Billing
      description: 'Retrieve billing history for a specific Image Generation resource. Includes: ''resource_name'', ''infrahub_id'', ''base_model'', ''base_model_display_name'', ''lora_adapter'', ''incurred_bill'', ''non_discounted_bill'', ''usage_time'', ''input_tokens'', ''output_tokens'', ''input_tokens_incurred_bill'', ''input_tokens_non_discounted_bill'', ''output_tokens_incurred_bill'', ''output_tokens_non_discounted_bill'''
      operationId: Get_image_generation_history_for_resource
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      summary: Get image generation history for resource
      x-summary-source: derived
  /billing/billing/history/image_generation/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Image Generation for a specific
      description: 'User will receive hourly cost datapoints for an image generation job for a specified billing cycle. This data will include ''incurred_bill'' graph datapoints.

        billing cycle'
      operationId: Get_image_generation_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/model_evaluation:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of model evaluation for a specific Billing Cycle
      description: User will receive billing history of model_evaluation for the specified billing cycle.
      operationId: Get_model_evaluation_billing_history
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/model_evaluation/{resource_id}:
    get:
      tags:
      - Billing
      description: 'Retrieve billing history for a specific Model Evaluation resource. Includes: ''resource_name'', ''infrahub_id'', ''base_model'', ''base_model_display_name'', ''lora_adapter'', ''incurred_bill'', ''non_discounted_bill'', ''usage_time'', ''input_tokens'', ''output_tokens'', ''input_tokens_incurred_bill'', ''input_tokens_non_discounted_bill'', ''output_tokens_incurred_bill'', ''output_tokens_non_discounted_bill'''
      operationId: Get_resource_model_evaluation_billing_history
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluationBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      summary: Get resource model evaluation billing history
      x-summary-source: derived
  /billing/billing/history/model_evaluation/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Model Evaluation for a specific
      description: 'User will receive hourly cost datapoints for a model evaluation for a specified billing cycle. This data will include ''incurred_bill'' graph datapoints.

        billing cycle'
      operationId: Get_model_evaluation_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluationBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/serverless_inference:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of serverless inference for a specific Billing Cycle
      description: User will receive billing history of serverless_inference for the specified billing cycle.
      operationId: List_serverless_inference_billing_history
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/serverless_inference/{resource_id}:
    get:
      tags:
      - Billing
      description: 'Retrieve billing history for a specific Serverless Inference resource. Includes: ''resource_name'', ''infrahub_id'', ''base_model'', ''base_model_display_name'', ''lora_adapter'', ''incurred_bill'', ''non_discounted_bill'', ''usage_time'', ''input_tokens'', ''output_tokens'', ''input_tokens_incurred_bill'', ''input_tokens_non_discounted_bill'', ''output_tokens_incurred_bill'', ''output_tokens_non_discounted_bill'''
      operationId: Get_serverless_inferences_billing_history
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessInferencedBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      summary: Get serverless inferences billing history
      x-summary-source: derived
  /billing/billing/history/serverless_inference/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Serverless Inference for a…
      description: 'User will receive hourly cost datapoints for a serverless inference for a specified billing cycle. This data will include ''incurred_bill'' graph datapoints.

        billing cycle'
      operationId: Get_serverless_inference_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessInferencedBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/snapshot:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of Snapshot for a specific Billing Cycle
      description: User will receive billing history of snapshots for thespecified billing cycle. This data will include 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'
      operationId: List_snapshot_billing_history
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingHistoryResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/snapshot/{snapshot_id}:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of a Specific Snapshot for a specific Billing Cycle
      description: Retrieve billing history of a specific Snapshot for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour', 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'.
      operationId: Get_Snapshot_billing_history
      parameters:
      - name: snapshot_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/snapshot/{snapshot_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Snapshot for a specific billing…
      description: User will receive hourly cost datapoints for a Snapshot for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: Get_snapshot_billing_history_graph
      parameters:
      - name: snapshot_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/virtual-machine:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of Virtual Machine for a specific Billing Cycle
      description: User will receive billing history of virtual machine for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'
      operationId: Get_VM_Billing_History
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVmBillingHistoryResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/virtual-machine/{vm_id}:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of a Specific Virtual Machine for a specific Billing…
      description: User will receive billing history of a specific Virtual Machine for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour', 'non_discounted_price_per_hour', 'incurred_bill', 'non_discounted_bill', 'usage_time', 'usage_time_ACTIVE', 'usage_time_SHUTOFF', 'usage_time_HIBERNATED'
      operationId: Get_VM_Billing_Details
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVMBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/virtual-machine/{vm_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Virtual Machine for a specific…
      description: User will receive hourly cost datapoints for a VM for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: Get_VM_Billing_Graph
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVmGraphBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/volume:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of Volume for a specific Billing Cycle
      description: User will receive billing history of volumes for thespecified billing cycle. This data will include 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'
      operationId: Get_Volume_Billing_History
      parameters:
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingHistoryResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/volume/{volume_id}:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History of a Specific Volume for a specific Billing Cycle
      description: Retrieve billing history of a specific Volume for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour', 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'.
      operationId: Get_Volume_Billing_Details
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/history/volume/{volume_id}/graph:
    get:
      tags:
      - Billing
      summary: Retrieve hourly cost datapoints of a Specific Volume for a specific billing…
      description: User will receive hourly cost datapoints for a Volume for a specified billing cycle. This data will include 'incurred_bill' graph datapoints.
      operationId: Get_Volume_Billing_History_Graph
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/last-day-cost:
    get:
      tags:
      - Billing
      summary: 'GET: Last Day Cost'
      description: Retrieve the previous day's costs for instances, volumes, and clusters. Returns a breakdown of the costs and the total cost for the last day. For additional information on Retrieve Previous Day Usage Costs, **click here**
      operationId: Get_last_day_cost
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Last_day_cost_response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/threshold:
    get:
      tags:
      - Billing
      summary: 'GET: All Thresholds for Organization'
      description: Retrieve all the notification thresholds for an organization.
      operationId: List_Org_notification_thresholds
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization_thresholds_response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/threshold/{threshold_id}:
    put:
      tags:
      - Billing
      summary: 'Update: Subscribe or Unsubscribe Notification Threshold'
      description: By default, you are subscribed to all the threshold values and you will be receiving the email notification for these default thresholds values. `false` indicates that the user will no longer receive notifications for this specific threshold, whereas `true` signifies that the user will receive notification emails.
      operationId: Get_notification_threshold
      parameters:
      - name: threshold_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscribe_or_unsubscribe_update_payload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization_threshold_update_response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /billing/billing/usage:
    get:
      tags:
      - Billing
      summary: 'GET: Billing usage'
      description: Retrieve active billing metrics for the organization's resources, including pricing, uptime, and total cost. Returns usage details for each active resource by defualt(`deleted=false` will return active resources). Additionally, adding `deleted=true` in query parameter will return inactive resources. For additional information on view usage costs for all resources, **click here**
      operationId: Get_usage
      parameters:
      - name: deleted
        in: query
        description: '`true` will return inactive resources and `false` will return active resources. By defualt(`deleted=false`)'
        schema: {}
      - name: environment
        in: query
        description: Filter resources by environment ID or Name
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Billing_metrices_response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/virtual-machine/{vm_id}/billing-events:
    get:
      tags:
      - Billing
      summary: Retrieve VM billing events history
      description: User will receive vm billing events history
      operationId: Get_VM_billing_events
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceBillingEventsHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/virtual-machine/{vm_id}/sub-resource:
    get:
      tags:
      - Billing
      summary: Retrieve Total Costs and Non Discount Costs for Sub Resources
      description: 'User will get total costs and non_discount costs of sub resources on a specific Virtual Machine for the specified billing cycle.

        on a Specific VM for the Specified Billing Cycle'
      operationId: Get_VM_sub-resource_costs
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubResourcesCostsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/virtual-machine/{vm_id}/sub-resource/graph:
    get:
      tags:
      - Billing
      summary: Retrieve Sub-Resources Historical Cost datapoints of a Virtual
      description: 'User will receive sub-resources historical cost datapoints for a VM sub resources for a specified billing cycle. This data will include ''incurred_bill'' graph datapoints.

        Machine sub resources for a specific billing cycle'
      operationId: Get_VM_sub-resource_graph
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubResourcesGraphResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/billing/volume/{volume_id}/billing-events:
    get:
      tags:
      - Billing
      summary: Retrieve Volume billing events history
      description: User will receive volume billing events history
      operationId: Get_volume_billing_events
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceBillingEventsHistoryResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    GraphDatetimeValueModel:
      type: object
      properties:
        datetime:
          type: string
        value:
          type: number
    ResourceLevelBillingDetailsVolumeMetrics:
      type: object
      properties:
        price_per_hour:
          type: number
        incurred_bill:
          type: number
        usage_time:
          type: number
        non_discounted_price_per_hour:
          type: number
        non_discounted_bill:
          type: number
    ResourceLevelClusterBillingHistoryResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_cluster:
          $ref: '#/components/schemas/ResourceLevelBillingHistory'
    ResourceLevelVMBillingDetailsResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_vm_details:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsVM'
    billing_history_fine_tuning:
      type: object
      properties:
        org_id:
          type: integer
          description: ''
        total_count:
          type: integer
          description: ''
        pagination:
          $ref: '#/components/schemas/pagination'
        billing_history:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/billing_history'
    ResourceBillingEventsHistoryMetrics:
      type: object
      properties:
        start:
          type: string
        event:
          type: string
        event_duration:
          type: number
        price_per_hour:
          type: number
        total_cost:
          type: number
    billing_history:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/attributes'
        metrics:
          $ref: '#/components/schemas/metrics'
    DataSynthesisBillingHistoryDetailsResponseSchema:
      type: object
      properties:
        status:
          type: boolean
          description: ''
        message:
          type: string
          description: ''
        billing_history_data_synthesis_details:
          $ref: '#/components/schemas/billing_history_data_synthesis_details'
    ResourceLevelBucketBillingDetailsResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_bucket_details:
          $ref: '#/components/schemas/ResourceLevelBillingBucketDetailsResources'
    ResourceLevelBillingVMDetailsResources:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsAttributes'
        metrics:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsMetrics'
    ResourceLevelBillingDetailsVolumeAttributes:
      type: object
      properties:
        id:
          type: string
        infrahub_id:
          type: integer
        resource_name:
          type: string
        subresource_type:
          type: string
        subresource_amount:
          type: integer
    ResourceLevelVmGraphBillingDetailsResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_vm_details:
          $ref: '#/components/schemas/ResourceLevelGraphBillingDetailsVM'
    ResourceLevelGraphBillingVMDetailsResources:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ResourceLevelGraphBillingDetailsAttributes'
        metrics:
          $ref: '#/components/schemas/ResourceLevelGraphBillingDetailsMetrics'
    ResourceLevelGraphBillingDetailsAttributes:
      type: object
      properties:
        id:
          type: string
        infrahub_id:
          type: integer
        resource_name:
          type: string
    ResourceLevelVolumeBillingDetailsResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_volume_details:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsVolume'
    Billing_metrices_response:
      type: object
      properties:
        message:
          type: string
        status:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Billing_metrices_fields'
    SubResourcesGraphResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        sub_resources_costs:
          $ref: '#/components/schemas/SubResourcesCostsResponseModel'
    ResourceLevelBillingDetailsVM:
      type: object
      properties:
        org_id:
          type: integer
        billing_history:
          type: array
          items:
            $ref: '#/components/schemas/ResourceLevelBillingVMDetailsResources'
        total_count:
          type: integer
    ResourceLevelBillingDetailsMetrics:
      type: object
      properties:
        price_per_hour:
          type: number
        non_discounted_price_per_hour:
          type: number
        incurred_bill:
          type: number
        non_discounted_bill:
          type: number
        usage_time:
          type: number
        usage_time_ACTIVE:
          type: number
        usage_time_SHUTOFF:
          type: number
        usage_time_HIBERNATED:
          type: number
    Organization_threshold_update_response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        threshold:
          $ref: '#/components/schemas/Organization_Threshold_fields'
    OrganizationLevelBillingHistoryResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history:
          $ref: '#/components/schemas/OrganizationLevelBillingHistory'
    SubResourcesCostsResponseModel:
      type: object
      properties:
        org_id:
          type: integer
        billing_history:
          type: array
          items:
            $ref: '#/components/schemas/SubResourcesGraphBillingHistoryFields'
        total_count:
          type: integer
        granularity:
          type: integer
    billing_history_serverless_inference:
      type: object
      properties:
        org_id:
          type: integer
          description: ''
        total_count:
          type: integer
          description: ''
        pagination:
          $ref: '#/components/schemas/pagination'
        billing_history:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/billing_history'
    SubResourcesGraphBillingHistoryFields:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsAttributes'
        metrics:
          $ref: '#/components/schemas/SubResourceGraphBillingDetailsMetrics'
    attributes:
      type: object
      properties:
        infrahub_id:
          type: integer
          description: ''
        resource_name:
          type: string
          description: ''
        status:
          type: string
          description: ''
        base_model:
          type: string
          description: ''
        base_model_display_name:
          type: string
          description: ''
        lora_adapter:
          type: string
          description: ''
    billing_history_data_synthesis_details:
      type: object
      properties:
        org_id:
          type: integer
          description: ''
        total_count:
          type: integer
          description: ''
        pagination:
          $ref: '#/components/schemas/pagination'
        billing_history:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/billing_history'
    ResourceLevelBillingHistory:
      type: object
      properties:
        org_id:
          type: integer
        billing_history:
          type: array
          items:
            $ref: '#/components/schemas/ResourceLevelBillingHistoryResources'
        total_count:
          type: integer
        pagination:
          $ref: '#/components/schemas/PaginationData'
    ResourceLevelGraphBillingDetailVolume:
      type: object
      properties:
        org_id:
          type: integer
        billing_history:
          type: array
          items:
            $ref: '#/components/schemas/ResourceLevelGraphBillingVolumeDetailsResources'
        total_count:
          type: integer
        granularity:
          type: integer
    ResourceLevelBillingBucketDetailsResources:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsAttributes'
        metrics:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsMetrics'
    ResourceLevelBillingHistoryResourcesCluster:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ResourceLevelBillingHistoryResponseAttributes'
        metrics:
          $ref: '#/components/schemas/ResourceLevelBillingHistoryResponseMetrics'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/ResourceLevelBillingHistoryResources'
    Subscribe_or_unsubscribe_update_payload:
      required:
      - subscribe
      type: object
      properties:
        subscribe:
          type: boolean
          description: '`false` indicates that the user will no longer receive notifications for this specific threshold, whereas `true` signifies that the user will receive notification emails.'
    ResourceLevelBillingVolumeDetailsResources:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsVolumeAttributes'
        metrics:
          $ref: '#/components/schemas/ResourceLevelBillingDetailsVolumeMetrics'
    metrics:
      type: object
      properties:
        incurred_bill:
          type: number
          description: ''
        non_discounted_bill:
          type: number
          description: ''
        input_tokens:
          type: number
          description: ''
        input_tokens_incurred_bill:
          type: number
          description: ''
        input_tokens_non_discounted_bill:
          type: number
          description: ''
        output_tokens:
          type: number
          description: ''
        output_tokens_incurred_bill:
          type: number
          description: ''
        output_tokens_non_discounted_bill:
          type: number
          description: ''
    ResourceLevelClusterBillingDetailsResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_cluster_details:
          $ref: '#/components/schemas/ResourceLevelBillingHistoryResourcesCluster'
    billing_history_model_evalutation_details:
      type: object
      properties:
        org_id:
          type: integer
          description: ''
        total_count:
          type: integer
          description: ''
        pagination:
          $ref: '#/components/schemas/pagination'
        billing_history:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/billing_history'
    Organization_thresholds_response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        thresholds:
          type: array
          items:
            $ref: '#/components/schemas/Organization_Threshold_fields'
    Organization_Threshold_fields:
      type: object
      properties:
        id:
          type: integer
        threshold:
          type: integer
        interface_title:
          type: string
        interface_tooltip:
          type: string
        subscribed:
          type: boolean
    ImageGenerationBillingHistoryDetailsResponseSchema:
      type: object
      properties:
        status:
          type: boolean
          description: ''
        message:
          type: string
          description: ''
        billing_history_image_generation_details:
          $ref: '#/components/schemas/billing_history_image_generation_details'
    SubResourceGraphBillingDetailsMetrics:
      type: object
      properties:
        gpu_incurred_bill:
          type: number
        gpu_incurred_bill_graph:
          type: array
          items:
            $ref: '#/components/schemas/GraphDatetimeValueModel'
        cpu_incurred_bill:
          type: number
        cpu_incurred_bill_graph:
          type: array
          items:
            $ref: '#/components/schemas/GraphDatetimeValueModel'
        ram_incurred_bill:
          type: number
        ram_incurred_bill_graph:
          type: array
          items:
            $ref: '#/components/schemas/GraphDatetimeValueModel'
        publicip_incurred_bill:
          type: number
        publicip_incurred_bill_graph:
          type: array
          items:
            $ref: '#/components/schemas/GraphDatetimeValueModel'
        disk_incurred_bill:
          type: number
        disk_incurred_bill_graph:
          type: array
          items:
            $ref: '#/components/schemas/GraphDatetimeValueModel'
        ephemeral_incurred_bill:
          type: number
        ephemeral_incurred_bill_graph:
          type: array
          items:
            $ref: '#/components/schemas/GraphDatetimeValueModel'
    billing_history_image_generation_details:
      type: object
      properties:
        org_id:
          type: integer
          description: ''
        total_count:
          type: integer
          description: ''
        pagination:
          $ref: '#/components/schemas/pagination'
        billing_history:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/billing_history'
    billing_history_serverless_inference_details:
      type: object
      properties:
        org_id:
          type: integer
          description: ''
        total_count:
          type: integer
          description: ''
        pagination:
          $ref: '#/components/schemas/pagination'
        billing_history:
          type: array
          description: ''
          items:
            $ref: '#/components/schemas/billing_history'
    ResourceLevelBillingDetailsVolume:
      type: object
      properties:
        org_id:
          type: integer
        billing_history:
          type: array
          items:
            $ref: '#/components/schemas/ResourceLevelBillingVolumeDetailsResources'
        total_count:
          type: integer
    ResourceLevelBucketBillingHistoryResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_bucket:
          $ref: '#/components/schemas/ResourceLevelBillingHistory'
    ResourceLevelBillingHistoryResponseMetrics:
      type: object
      properties:
        incurred_bill:
          type: number
        price_per_hour:
          type: number
        usage_time:
          type: number
    ResourceLevelGraphBillingDetailsBucket:
      type: object
      properties:
        org_id:
          type: integer
        billing_history:
          type: array
          items:
            $ref: '#/components/schemas/ResourceLevelBillingBucketDetailsResources'
        total_count:
          type: integer
        granularity:
          type: integer
    TokenBasedBillingHistoryResponse:
      type: object
      properties:
        success:
          type: boolean
          description: ''
        message:
          type: string
          description: ''
        billing_history_serverless_inference:
          $ref: '#/components/schemas/billing_history_serverless_inference'
    ResourceLevelVolumeBillingHistoryResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_volume:
          $ref: '#/components/schemas/ResourceLevelBillingHistory'
    ResourceLevelClusterGraphBillingDetailsResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_cluster_details:
          $ref: '#/components/schemas/ResourceLevelGraphBillingDetailVolume'
    ResourceLevelBillingDetailsAttributes:
      type: object
      properties:
        id:
          type: string
        infrahub_id:
          type: integer
        resource_name:
          type: string
    PaginationData:
      type: object
      properties:
        per_page:
          type: integer
        page:
          type: integer
        pages:
          type: integer
    ResourceLevelGraphBillingDetailsMetrics:
      type: object
      properties:
        incurred_bill:
          type: number
        incurred_bill_graph:
          type: array
          items:
            $ref: '#/components/schemas/GraphDatetimeValueModel'
    ResourceLevelBillingHistoryResources:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/ResourceLevelBillingHistoryResponseAttributes'
        metrics:
          $ref: '#/components/schemas/ResourceLevelBillingHistoryResponseMetrics'
    ResourceBillingEventsHistoryResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_events_history:
          type: array
          items:
            $ref: '#/components/schemas/ResourceBillingEventsHistoryMetrics'
    ModelEvaluationBillingHistoryDetailsResponseSchema:
      type: object
      properties:
        status:
          type: boolean
          description: ''
        message:
          type: string
          description: ''
        billing_history_model_evalutation_details:
          $ref: '#/components/schemas/billing_history_model_evalutation_details'
    Last_day_cost_response:
      type: object
      properties:
        message:
          type: string
        status:
          type: boolean
        data:
          $ref: '#/components/schemas/Last_day_cost_fields'
    Last_day_cost_fields:
      type: object
      properties:
        instances_cost:
          type: number
        volumes_cost:
          type: number
        clusters_cost:
          type: number
        total_cost:
          type: number
    ResourceLevelVmBillingHistoryResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        billing_history_vm:
          $ref: '#/components/schemas/ResourceLevelBillingHistory'
    OrganizationLevelBillingHistory:
      type: object
      properties:
        org_id:
          type: integer
        billing_history:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationLevelBillingHistoryResources'
        total_count:
          type: integer
    OrganizationLevelBillingHistoryResponseAttributes:
      type: object
      properties:
        id:
          type: string
    pagination:
      type: object
      properties:
        page:
          type: integer
          description: ''
        per_page:
          type: integer
          description: ''
        pages:
          type: integer
          description: ''
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    OrganizationLevelBillingHistoryResponseMetrics:
      type: object
      properties:
        incurred_bill:
          type: number
        non_discounted_bill:
          type: number
        vm_cost:
          type: number
        volume_cost:
          type: number
        contract_cost:
          type: number
        snapshot_cost:
          type: number
    Billing_metrices_fields:
      type: object
      properties:
        resource_id:
          type: integer
        resource_type:
          type: string
        name:
          type: string
        organization_id:
          type: integer
        bill_per_minute:
          type: number
        create_time:
          type: string
          format: date-time
        terminate_time:
          type: string
          format: date-time
        total_up_time:
          type: number
        total_bill:
          type: number
        active:
          type: boolean
        exclude_billing:
          type: boolean
    ServerlessInferencedBillingHistoryDetailsResponseSchema:
      type: object
      properties:
        status:
          type: boolean
          description: ''
        message:
          type: string
          description: ''
        billing_history_serverless_inference_details:
          $ref: '#/components/schemas/billing_history_serverless_inference_details'
    ResourceLevelVolumeGraphBillingDetailsResponseModel:
      type: object
      properties:
        status:
[...]
