openapi: 3.2.0
info:
  title: Infrahub Image API
  version: '1.0'
  description: Image APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Image
  description: Image APIs
paths:
  /core/image/name-availability/{name}:
    get:
      tags:
      - Image
      summary: Fetch name availability for Images
      description: Check if an Image name is available
      operationId: Fetch_Image_name_availability
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailableModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/images:
    get:
      tags:
      - Image
      summary: List Images
      description: Returns a list of all available operating system (OS) images, providing details about each image's corresponding virtual machine operating system. You can include the optional `region` parameter in the query string of the request to specifically return OS images from the designated region. Additionally, use the `include_public` parameter to specify whether to include public images in the response. For more information onOS images, **click here**.
      operationId: List_Images
      parameters:
      - name: region
        in: query
        description: Region Name
        schema:
          type: string
      - name: include_public
        in: query
        description: Flag to include public images in the response (true/false). Default is true.
        schema:
          type: boolean
      - name: search
        in: query
        description: Search query to filter images by name
        schema:
          type: string
      - name: page
        in: query
        description: Page number for pagination
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of Images per page
        schema:
          type: integer
      responses:
        '200':
          description: Retrieval of images list successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Images'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/images/{id}:
    get:
      tags:
      - Image
      summary: Get Private Image Details
      description: Retrieve details of a specific image by providing the image ID.
      operationId: Get_Image
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: include_related_vms
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Image details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Image'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    delete:
      tags:
      - Image
      summary: Delete an image
      description: Deletes an image permanently. Provide the image ID in the path to specify the image to be deleted.
      operationId: Delete_image
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Image successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    NameAvailableModel:
      type: object
      properties:
        name:
          type: string
        available:
          type: boolean
        message:
          type: string
    FlavorRestrictions:
      type: object
      properties:
        has_flavor_restrictions:
          type: boolean
          description: Whether the image has any flavor restrictions
        restriction_type:
          type: string
          description: Either 'hard', 'soft', or null if no restrictions
        compatible_flavors:
          type: array
          description: List of compatible flavors with their link metadata
          items:
            $ref: '#/components/schemas/CompatibleFlavor'
    Image_Get_Response:
      type: object
      properties:
        region_name:
          type: string
        type:
          type: string
        logo:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image_Fields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Image_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        region_name:
          type: string
        type:
          type: string
        version:
          type: string
        size:
          type: integer
        display_size:
          type: string
        description:
          type: string
        labels:
          type: array
          items:
            $ref: '#/components/schemas/LableResonse'
        is_public:
          type: boolean
        flavor_restrictions:
          type: object
          description: Flavor compatibility restrictions for this image
          allOf:
          - $ref: '#/components/schemas/FlavorRestrictions'
    LableResonse:
      type: object
      properties:
        id:
          type: integer
        label:
          type: string
    Images:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        images:
          type: array
          items:
            $ref: '#/components/schemas/Image_Get_Response'
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    Image:
      type: object
      properties:
        image:
          $ref: '#/components/schemas/Image_Fields'
    CompatibleFlavor:
      type: object
      properties:
        flavor_id:
          type: integer
        flavor_name:
          type: string
        link_type:
          type: string
          description: Either 'hard' or 'soft'
        constraints:
          type: object
          properties: {}
          description: JSON constraints object
        reason:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
