openapi: 3.2.0
info:
  title: Infrahub Permission API
  version: '1.0'
  description: Permission APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Permission
  description: Permission APIs
paths:
  /auth/permissions:
    get:
      tags:
      - Permission
      summary: List Permissions
      description: Retrieves a list of permissions that users can be granted to access a particular resource action. For additional information on permissions, click here.
      operationId: List_Permissions
      responses:
        '200':
          description: Getting permissions success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPermissionsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    GetPermissionsResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionFields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    PermissionFields:
      type: object
      properties:
        id:
          type: integer
        resource:
          type: string
        permission:
          type: string
        method:
          type: string
        endpoint:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
