openapi: 3.2.0
info:
  title: Infrahub vnc url API
  version: '1.0'
  description: VNC Console Link APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: vnc url
  description: VNC Console Link APIs
paths:
  /core/virtual-machines/{vm_id}/console/{job_id}:
    get:
      tags:
      - vnc url
      summary: Get VNC Console Link
      description: Retrieves the URL to access the VNC console for a specified virtual machine by providing the virtual machine ID and the job ID in the path. For more information, **click here**.
      operationId: Get_VNC_URL
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: job_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Get VNC Console Link Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VNC_URL'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/request-console:
    get:
      tags:
      - vnc url
      summary: Request Instance Console
      description: Retrieves the path of the VNC console for the given virtual machine ID by providing the virtual machine ID in the path. For more information, **click here**.
      operationId: Request_VM_Console
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Please wait a few seconds and visit the below link to access your VNC console URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request_Console'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    VNC_URL:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        vnc_url:
          $ref: '#/components/schemas/VNC_URL_Fields'
    Request_Console:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        url:
          type: string
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    VNC_URL_Fields:
      type: object
      properties:
        id:
          type: integer
        vnc_url:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
