openapi: 3.2.0
info:
  title: Infrahub Region API
  version: '1.0'
  description: Region APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Region
  description: Region APIs
paths:
  /core/regions:
    get:
      tags:
      - Region
      summary: List Regions
      description: Lists the currently available regions, each representing a distinct geographic location housing a data center. For additional information on regions, **click here**.
      operationId: List_Regions
      responses:
        '200':
          description: Successful retrieval of regions list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Regions'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Regions:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region_Fields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Region_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        country:
          type: string
        description:
          type: string
        green_status:
          type: string
          description: Green status
          example: GREEN
          enum:
          - GREEN
          - PARTIALLY_GREEN
          - NOT_GREEN
        features:
          type: object
          properties: {}
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
