openapi: 3.2.0
info:
  title: Infrahub Deployment API
  version: '1.0'
  description: Deployment APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Deployment
  description: Deployment APIs
paths:
  /core/marketplace/deployments:
    get:
      tags:
      - Deployment
      summary: List Deployments
      operationId: List_Deployments
      responses:
        '200':
          description: Getting deployments success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployments'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - Deployment
      summary: Start Deployment
      operationId: Start_Deployment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Start_Deployment_Payload'
        required: true
      responses:
        '200':
          description: Deployment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start_Deployment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/marketplace/deployments/{id}:
    get:
      tags:
      - Deployment
      summary: Details of Deployment by ID
      operationId: Get_deployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Getting deployment detail success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start_Deployment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    delete:
      tags:
      - Deployment
      summary: Delete Deployment
      operationId: Delete_Deployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Deployment_Fields_for_start_deployments:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        template:
          type: string
        status:
          type: string
        variables:
          type: string
        created_at:
          type: string
          format: date-time
    Start_Deployment:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        deployment:
          $ref: '#/components/schemas/Deployment_Fields_for_start_deployments'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Deployment_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        template:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    Start_Deployment_Payload:
      required:
      - description
      - name
      - template_id
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        template_id:
          type: integer
        variables:
          type: object
          additionalProperties:
            type: string
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    Deployments:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/Deployment_Fields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
