openapi: 3.2.0
info:
  title: Infrahub FIP Exclusions API
  version: '1.0'
  description: Floating IP Detachment Exclusions
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: FIP Exclusions
  description: Floating IP Detachment Exclusions
paths:
  /core/fip-detachment-exclusions/org/{org_id}:
    get:
      tags:
      - FIP Exclusions
      description: is org excluded from floating ip detachment
      operationId: Check_if_Org_is_Excluded_from_Floating_IP_Detachment
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      summary: Check if org is excluded from floating IP detachment
      x-summary-source: derived
components:
  schemas:
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
