openapi: 3.2.0
info:
  title: Nexgen Cloud Virtual Machine API
  version: '1.0'
  description: 'Operations tagged Virtual Machine across 2 of this provider''s published API definitions: nexgen-cloud-hyperstack-openapi.json, nexgen-cloud-infrahub-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
tags:
- name: Virtual Machine
  description: 'A virtual machine on Hyperstack is a single-tenant compute instance backed by dedicated GPU and CPU resources. Each VM runs in a region, attaches a root volume and optional data volumes, and is protected by an environment-scoped firewall. Most workflows follow this lifecycle: deploy → attach data volumes → run workload → snapshot → terminate. For long-running development VMs, hibernation is the cost-effective alternative to termination.'
paths:
  /core/firewalls/{firewall_id}/update-attachments:
    post:
      tags:
      - Virtual Machine
      summary: Attach firewalls to VMs
      description: Attaches an existing firewall to one or more virtual machines. Include the firewall ID in the path, and the IDs of the virtual machines to which it is  being added in the request body, as detailed below.
      operationId: Attach_firewall_to_Vms
      parameters:
      - name: firewall_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the firewall.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachFirewallWithVM'
              example:
                vms:
                - 793869
              properties: {}
            example:
              vms:
              - 793869
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: Firewall attachments with VMs are scheduled.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Firewall attachments with VMs are scheduled.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines:
    get:
      tags:
      - Virtual Machine
      summary: List virtual machines
      description: Returns a list of your existing virtual machines, providing configuration details for each. The list is sorted by creation date, with the oldest virtual machines displayed first.
      operationId: List_Vms
      parameters:
      - name: page
        in: query
        schema:
          type: integer
        description: Page number to retrieve.
      - name: pageSize
        in: query
        schema:
          type: integer
        description: Number of items to return per page.
      - name: search
        in: query
        schema:
          type: string
        description: Filter results by case-insensitive substring match against the resource name.
      - name: environment
        in: query
        schema:
          type: string
        description: Filter results to a specific environment by name.
      - name: exclude_firewalls
        in: query
        description: Comma-separated list of Security Group IDs to ignore instances attached
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: exact_environment_match
        in: query
        description: Flag to filter environment by exact match instead of partial match
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instances'
              example:
                status: true
                message: Getting VMs successful
                page: null
                page_size: null
                count: 3
                instances:
                - id: 7613
                  name: example-restored-1787
                  status: ACTIVE
                  environment:
                    id: 3287
                    name: example-environment
                    org_id: 6190
                    region: NORWAY-1
                    features:
                      network_optimised: false
                      green_status: GREEN
                  image: null
                  flavor:
                    id: 1402
                    name: n1-cpu-small
                    cpu: 4
                    ram: 4
                    disk: 100
                    ephemeral: 0
                    gpu: ''
                    gpu_count: 0
                    labels: []
                    features:
                      network_optimised: false
                      no_reboot: false
                      no_hibernation: false
                      no_snapshot: false
                      local_storage_only: false
                      api_only: false
                  os: Ubuntu Server 24.04 LTS (Noble Numbat)
                  keypair:
                    name: example-keypair
                  volume_attachments: []
                  power_state: RUNNING
                  vm_state: active
                  fixed_ip: 192.0.2.42
                  floating_ip: null
                  floating_ip_status: NO FLOATING IP
                  security_rules:
                  - id: 2058
                    direction: egress
                    protocol: any
                    port_range_min: 1
                    port_range_max: 65535
                    ethertype: IPv6
                    remote_ip_prefix: 0.0.0.0/0
                    status: SUCCESS
                    created_at: '2026-05-07T11:47:30Z'
                  - id: 5341
                    direction: egress
                    protocol: any
                    port_range_min: 1
                    port_range_max: 65535
                    ethertype: IPv4
                    remote_ip_prefix: 0.0.0.0/0
                    status: SUCCESS
                    created_at: '2026-05-06T14:32:11Z'
                  callback_url: null
                  locked: false
                  contract_id: null
                  labels: []
                  created_at: '2026-05-06T15:18:42Z'
                  features:
                    network_optimised: false
                    green_status: GREEN
                  is_snapshotting: false
                  cluster_id: null
                  port_randomization: true
                  port_randomization_status: NO_FLOATING_IP
                  requires_public_ip: false
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Getting VMs successful
                    page: null
                    page_size: null
                    count: 3
                    instances:
                    - id: 7613
                      name: example-restored-1787
                      status: ACTIVE
                      environment:
                        id: 3287
                        name: example-environment
                        org_id: 6190
                        region: NORWAY-1
                        features:
                          network_optimised: false
                          green_status: GREEN
                      image: null
                      flavor:
                        id: 1402
                        name: n1-cpu-small
                        cpu: 4
                        ram: 4
                        disk: 100
                        ephemeral: 0
                        gpu: ''
                        gpu_count: 0
                        labels: []
                        features:
                          network_optimised: false
                          no_reboot: false
                          no_hibernation: false
                          no_snapshot: false
                          local_storage_only: false
                          api_only: false
                      os: Ubuntu Server 24.04 LTS (Noble Numbat)
                      keypair:
                        name: example-keypair
                      volume_attachments: []
                      power_state: RUNNING
                      vm_state: active
                      fixed_ip: 192.0.2.42
                      floating_ip: null
                      floating_ip_status: NO FLOATING IP
                      security_rules:
                      - id: 2058
                        direction: egress
                        protocol: any
                        port_range_min: 1
                        port_range_max: 65535
                        ethertype: IPv6
                        remote_ip_prefix: 0.0.0.0/0
                        status: SUCCESS
                        created_at: '2026-05-07T11:47:30Z'
                      - id: 5341
                        direction: egress
                        protocol: any
                        port_range_min: 1
                        port_range_max: 65535
                        ethertype: IPv4
                        remote_ip_prefix: 0.0.0.0/0
                        status: SUCCESS
                        created_at: '2026-05-06T14:32:11Z'
                      callback_url: null
                      locked: false
                      contract_id: null
                      labels: []
                      created_at: '2026-05-06T15:18:42Z'
                      features:
                        network_optimised: false
                        green_status: GREEN
                      is_snapshotting: false
                      cluster_id: null
                      port_randomization: true
                      port_randomization_status: NO_FLOATING_IP
                      requires_public_ip: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    post:
      tags:
      - Virtual Machine
      summary: Create virtual machines
      description: Creates one or more virtual machines with the specified custom configuration and features provided in the request body. For more information about the virtual machine features offered by Hyperstack, see [Custom VM features](https://docs.hyperstack.cloud/docs/virtual-machines/virtual-machine-features).
      operationId: Create_Vms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_Instances_Payload'
              example:
                name: example-vm
                environment_name: example-environment
                image_name: Ubuntu Server 24.04 LTS (Noble Numbat)
                flavor_name: n1-cpu-small
                key_name: example-keypair
                count: 1
                assign_floating_ip: false
              properties: {}
            example:
              count: 1
              environment_name: example-environment
              flavor_name: n1-cpu-small
              key_name: example-keypair
              name: example-vm
              image_name: Ubuntu Server 24.04 LTS (Noble Numbat)
              assign_floating_ip: false
        required: true
      responses:
        '200':
          description: Virtual machine(s) created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInstancesResponse'
              example:
                status: true
                message: VM is scheduled for creation.
                instances:
                - id: 7613
                  name: example-vm
                  status: CREATING
                  environment:
                    id: 3287
                    name: example-environment
                    org_id: 6190
                    region: NORWAY-1
                    features:
                      network_optimised: false
                      green_status: GREEN
                  image:
                    name: Ubuntu Server 24.04 LTS (Noble Numbat)
                  flavor:
                    id: 1402
                    name: n1-cpu-small
                    cpu: 4
                    ram: 4
                    disk: 100
                    ephemeral: 0
                    gpu: ''
                    gpu_count: 0
                    labels: []
                    features:
                      network_optimised: false
                      no_reboot: false
                      no_hibernation: false
                      no_snapshot: false
                      local_storage_only: false
                      api_only: false
                  os: Ubuntu Server 24.04 LTS (Noble Numbat)
                  keypair:
                    name: example-keypair
                  volume_attachments: []
                  power_state: null
                  vm_state: null
                  fixed_ip: null
                  floating_ip: null
                  floating_ip_status: NO FLOATING IP
                  security_rules: []
                  callback_url: null
                  locked: false
                  contract_id: null
                  labels: []
                  created_at: '2026-05-06T15:18:42Z'
                  features:
                    network_optimised: false
                    green_status: GREEN
                  is_snapshotting: false
                  cluster_id: null
                  port_randomization: true
                  port_randomization_status: NO_FLOATING_IP
                  requires_public_ip: false
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: VM is scheduled for creation.
                    instances:
                    - id: 7613
                      name: example-vm
                      status: CREATING
                      environment:
                        id: 3287
                        name: example-environment
                        org_id: 6190
                        region: NORWAY-1
                        features:
                          network_optimised: false
                          green_status: GREEN
                      image:
                        name: Ubuntu Server 24.04 LTS (Noble Numbat)
                      flavor:
                        id: 1402
                        name: n1-cpu-small
                        cpu: 4
                        ram: 4
                        disk: 100
                        ephemeral: 0
                        gpu: ''
                        gpu_count: 0
                        labels: []
                        features:
                          network_optimised: false
                          no_reboot: false
                          no_hibernation: false
                          no_snapshot: false
                          local_storage_only: false
                          api_only: false
                      os: Ubuntu Server 24.04 LTS (Noble Numbat)
                      keypair:
                        name: example-keypair
                      volume_attachments: []
                      power_state: null
                      vm_state: null
                      fixed_ip: null
                      floating_ip: null
                      floating_ip_status: NO FLOATING IP
                      security_rules: []
                      callback_url: null
                      locked: false
                      contract_id: null
                      labels: []
                      created_at: '2026-05-06T15:18:42Z'
                      features:
                        network_optimised: false
                        green_status: GREEN
                      is_snapshotting: false
                      cluster_id: null
                      port_randomization: true
                      port_randomization_status: NO_FLOATING_IP
                      requires_public_ip: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/contract/{contract_id}/virtual-machines:
    get:
      tags:
      - Virtual Machine
      summary: Retrieve virtual machines associated with a contract
      description: Retrieves a list of virtual machines associated with a contract, providing details such as virtual machine name, timestamp, flavor name, and other relevant information. Please provide the ID of the relevant contract in the path.
      operationId: Get_contract_Vms
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the customer contract.
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      - name: pageSize
        in: query
        description: Data Per Page
        schema:
          type: integer
      - name: search
        in: query
        description: Search By Instance ID or Name
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInstancesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/name-availability/{name}:
    get:
      tags:
      - Virtual Machine
      summary: Fetch virtual machine name availability
      description: Check if a Virtual Machine name is available.
      operationId: Check_VM_name_availability
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: Virtual machine name to check for availability.
      - name: count
        in: query
        description: Number of instances to check availability for.
        schema:
          type: integer
          default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailableModel'
              example:
                name: example-availability-check
                available: true
                message: This name is available
              examples:
                default:
                  summary: Successful response
                  value:
                    name: example-availability-check
                    available: true
                    message: This name is available
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}:
    get:
      tags:
      - Virtual Machine
      summary: Retrieve virtual machine details
      description: Retrieves the details of an existing virtual machine. Provide the virtual machine ID in the path, and Hyperstack will return information about the corresponding VM.
      operationId: Get_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      responses:
        '200':
          description: Virtual machine details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
              example:
                status: true
                message: Getting VM detail successful
                instance:
                  id: 3287
                  name: example-vm
                  status: DELETING
                  environment:
                    id: 8429
                    name: example-environment
                    org_id: 1129
                    region: NORWAY-1
                    features:
                      network_optimised: false
                      green_status: GREEN
                  image:
                    name: Ubuntu Server 24.04 LTS (Noble Numbat)
                  flavor:
                    id: 9876
                    name: n1-cpu-small
                    cpu: 4
                    ram: 4
                    disk: 100
                    ephemeral: 0
                    gpu: ''
                    gpu_count: 0
                    labels: []
                    features:
                      network_optimised: false
                      no_reboot: false
                      no_hibernation: false
                      no_snapshot: false
                      local_storage_only: false
                      api_only: false
                  os: Ubuntu Server 24.04 LTS (Noble Numbat)
                  keypair:
                    name: example-keypair
                  volume_attachments: []
                  power_state: RUNNING
                  vm_state: active
                  fixed_ip: 192.0.2.118
                  floating_ip: ''
                  floating_ip_status: NO FLOATING IP
                  security_rules:
                  - id: 5341
                    direction: egress
                    protocol: any
                    port_range_min: 1
                    port_range_max: 65535
                    ethertype: IPv6
                    remote_ip_prefix: 0.0.0.0/0
                    status: SUCCESS
                    created_at: '2026-05-06T14:32:11Z'
                  - id: 7613
                    direction: egress
                    protocol: any
                    port_range_min: 1
                    port_range_max: 65535
                    ethertype: IPv4
                    remote_ip_prefix: 0.0.0.0/0
                    status: SUCCESS
                    created_at: '2026-05-06T15:18:42Z'
                  - id: 3287
                    direction: ingress
                    protocol: tcp
                    port_range_min: 22
                    port_range_max: 22
                    ethertype: IPv4
                    remote_ip_prefix: 0.0.0.0/0
                    status: SUCCESS
                    created_at: '2026-05-06T16:04:09Z'
                  callback_url: null
                  locked: false
                  contract_id: null
                  labels:
                  - example-label
                  created_at: '2026-05-06T16:04:09Z'
                  features:
                    network_optimised: false
                    green_status: GREEN
                  excluded_billing: false
                  is_snapshotting: false
                  cluster_id: null
                  port_randomization: true
                  port_randomization_status: NO_FLOATING_IP
                  requires_public_ip: false
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Getting VM detail successful
                    instance:
                      id: 3287
                      name: example-vm
                      status: DELETING
                      environment:
                        id: 8429
                        name: example-environment
                        org_id: 1129
                        region: NORWAY-1
                        features:
                          network_optimised: false
                          green_status: GREEN
                      image:
                        name: Ubuntu Server 24.04 LTS (Noble Numbat)
                      flavor:
                        id: 9876
                        name: n1-cpu-small
                        cpu: 4
                        ram: 4
                        disk: 100
                        ephemeral: 0
                        gpu: ''
                        gpu_count: 0
                        labels: []
                        features:
                          network_optimised: false
                          no_reboot: false
                          no_hibernation: false
                          no_snapshot: false
                          local_storage_only: false
                          api_only: false
                      os: Ubuntu Server 24.04 LTS (Noble Numbat)
                      keypair:
                        name: example-keypair
                      volume_attachments: []
                      power_state: RUNNING
                      vm_state: active
                      fixed_ip: 192.0.2.118
                      floating_ip: ''
                      floating_ip_status: NO FLOATING IP
                      security_rules:
                      - id: 5341
                        direction: egress
                        protocol: any
                        port_range_min: 1
                        port_range_max: 65535
                        ethertype: IPv6
                        remote_ip_prefix: 0.0.0.0/0
                        status: SUCCESS
                        created_at: '2026-05-06T14:32:11Z'
                      - id: 7613
                        direction: egress
                        protocol: any
                        port_range_min: 1
                        port_range_max: 65535
                        ethertype: IPv4
                        remote_ip_prefix: 0.0.0.0/0
                        status: SUCCESS
                        created_at: '2026-05-06T15:18:42Z'
                      - id: 3287
                        direction: ingress
                        protocol: tcp
                        port_range_min: 22
                        port_range_max: 22
                        ethertype: IPv4
                        remote_ip_prefix: 0.0.0.0/0
                        status: SUCCESS
                        created_at: '2026-05-06T16:04:09Z'
                      callback_url: null
                      locked: false
                      contract_id: null
                      labels:
                      - example-label
                      created_at: '2026-05-06T16:04:09Z'
                      features:
                        network_optimised: false
                        green_status: GREEN
                      excluded_billing: false
                      is_snapshotting: false
                      cluster_id: null
                      port_randomization: true
                      port_randomization_status: NO_FLOATING_IP
                      requires_public_ip: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: 'Not Found


            Common cause: `error_reason: not_found`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Not Found
                  value:
                    status: false
                    message: VM 793869 does not exists.
                    error_reason: not_found
              example:
                status: false
                message: VM 793869 does not exists.
                error_reason: not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    delete:
      tags:
      - Virtual Machine
      summary: Delete virtual machine
      description: Permanently deletes a virtual machine. Supply the virtual machine ID in the path to delete the specified virtual machine.
      operationId: Delete_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      responses:
        '200':
          description: Virtual machine deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: Instance is being deleted.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Instance is being deleted.
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: VM example-restored-1789 is currently being created and cannot be deleted yet. Please wait until the creation process is finished before attempting deletion.
                    error_reason: bad_request
              example:
                status: false
                message: VM example-restored-1789 is currently being created and cannot be deleted yet. Please wait until the creation process is finished before attempting deletion.
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/attach-firewalls:
    post:
      tags:
      - Virtual Machine
      summary: Attach firewalls to a virtual machine
      description: 'Attach firewalls to a virtual machine by providing the virtual machine ID in the path and the IDs of the firewalls in the request body; any firewalls not included will be detached.


        > **State requirement:** This operation requires the VM to be in the `ACTIVE` or `SHUTOFF` state.'
      operationId: Attach_firewalls_to_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachFirewallsToVMPayload'
              example:
                firewalls:
                - 1785
              properties: {}
            example:
              firewalls:
              - 1785
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: Firewall attachments with VM are scheduled.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Firewall attachments with VM are scheduled.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: VM 793295 is currently being used to create a snapshot and no operation can be performed.
                    error_reason: bad_request
              example:
                status: false
                message: VM 793295 is currently being used to create a snapshot and no operation can be performed.
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/events:
    get:
      tags:
      - Virtual Machine
      summary: List virtual machine events
      description: Retrieves a list of all events in a virtual machine's history, which records actions performed on the specified virtual machine. Include the virtual machine ID in the path to retrieve the history of events. For more details on virtual machine events history, see [Events history](https://docs.hyperstack.cloud/docs/virtual-machines/vm-performance-metrics-and-events-history#events-log).
      operationId: List_VM_events
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      responses:
        '200':
          description: Virtual machines event list successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceEvents'
              example:
                status: true
                message: Getting VM events success
                instance_events:
                - instance_id: 5341
                  user_id: 4501
                  org_id: 6190
                  time: '2026-05-06T16:04:09Z'
                  type: normal
                  reason: InstanceCreationRequest
                  object: example-vm
                  message: Instance example-vm Creation Request Sent.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Getting VM events success
                    instance_events:
                    - instance_id: 5341
                      user_id: 4501
                      org_id: 6190
                      time: '2026-05-06T16:04:09Z'
                      type: normal
                      reason: InstanceCreationRequest
                      object: example-vm
                      message: Instance example-vm Creation Request Sent.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/hard-reboot:
    get:
      tags:
      - Virtual Machine
      summary: Hard reboot virtual machine
      description: 'Initiates a hard reboot for a virtual machine, simulating the process of unplugging and rebooting a physical machine. Provide the virtual machine ID in the path to execute a hard reboot for the specified virtual machine.


        > **State requirement:** This operation requires the VM to be in the `ACTIVE` or `ERROR` state.'
      operationId: Hard_reboot_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      responses:
        '200':
          description: Hard reboot process has been successfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: VM example-vm is scheduled to reboot.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: VM example-vm is scheduled to reboot.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/hibernate:
    get:
      tags:
      - Virtual Machine
      summary: Hibernate virtual machine
      description: 'Initiates the hibernation process for a virtual machine. It saves the current state of the VM to disk, deallocates its resources, and powers it off. Specify the target virtual machine using its ID in the path. Optionally, you can use the `retain_ip` query parameter to preserve the VM''s public IP address during hibernation. For more information about VM hibernation, see [Hibernation](https://docs.hyperstack.cloud/docs/virtual-machines/hibernation).


        > **State requirement:** This operation requires the VM to be in the `ACTIVE` state and the flavor to support hibernation. Some flavors (for example, `n1-cpu-small`) do not.'
      operationId: Hibernate_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      - name: retain_ip
        in: query
        description: When `true`, the VM's public IP address is kept attached during hibernation. When `false`, the IP is released and a new one is assigned on restoration.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Hibernation request for the virtual machine was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: VM example-vm is scheduled to hibernate.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: VM example-vm is scheduled to hibernate.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/hibernate-restore:
    get:
      tags:
      - Virtual Machine
      summary: Restore virtual machine from hibernation
      description: 'Resumes a virtual machine from a hibernated state, bringing it back to an active state, and restoring its resource configuration. Provide the virtual machine ID in the path to specify the virtual machine to be restored from hibernation.


        > **State requirement:** This operation requires the VM to be in the `HIBERNATED` state (not `HIBERNATING`).'
      operationId: Restore_VM_from_hibernation
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      responses:
        '200':
          description: The request to restore the virtual machine from hibernation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: VM example-vm is scheduled to restore.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: VM example-vm is scheduled to restore.
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The VM hibernation process is still going on. Please try later.
                    error_reason: bad_request
              example:
                status: false
                message: The VM hibernation process is still going on. Please try later.
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/label:
    put:
      tags:
      - Virtual Machine
      summary: Edit virtual machine labels
      description: Adds one or more labels to an existing virtual machine. Provide the virtual machine ID in the path to add labels to the specified VM. For multiple labels, add a space between each label in the request body.
      operationId: Add_VM_Label
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Edit_label_of_an_existing_VM_Payload'
              example:
                labels:
                - example-label
              properties: {}
            example:
              labels:
              - example-label
        required: true
      responses:
        '200':
          description: Labels edited successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: 'labels for VM: example-vm is set to: [''example-label'']'
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: 'labels for VM: example-vm is set to: [''example-label'']'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/logs:
    get:
      tags:
      - Virtual Machine
      summary: Get virtual machine logs
      description: Retrieves the [**console logs**](https://docs.hyperstack.cloud/docs/virtual-machines/console-logs) for a specific virtual machine (VM) in Hyperstack. A virtual machine must be in the `ACTIVE` state to retrieve logs. To use this endpoint, include the VM's unique identifier (`vm_id`) in the path and the `request_id` obtained from the [**Request Virtual Machine Logs**](https://docs.hyperstack.cloud/docs/api-reference/request-vm-logs) API as a query parameter.
      operationId: Get_VM_Logs
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      - name: request_id
        in: query
        required: true
        schema:
          type: integer
        example: '2300170'
        description: Filter logs to a specific request ID, useful for tracing a single API call's execution end-to-end.
      responses:
        '200':
          description: Logs were successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstanceLogsResponse'
              example:
                status: false
                message: Request 2300170 is still processing
                logs: null
              examples:
                default:
                  summary: Successful response
                  value:
                    status: false
                    message: Request 2300170 is still processing
                    logs: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    post:
      tags:
      - Virtual Machine
      summary: Request virtual machine logs
      description: 'Requests the [**console logs**](https://docs.hyperstack.cloud/docs/virtual-machines/console-logs) for a specific virtual machine (VM) in Hyperstack. This endpoint initiates the process of fetching logs, and returns a request identifier that can be used to retrieve the logs. The `request_id` obtained from this request is then used in the [**Retrieve Virtual Machine Logs**](https://docs.hyperstack.cloud/docs/api-reference/get-vm-logs) API to view the requested logs. A virtual machine must be in the `ACTIVE` state to request logs.


        > **Async operation:** This endpoint returns `202 Accepted` for long-running operations. The response body includes a `request_id` that you can pass to the corresponding GET endpoint to poll for completion.'
      operationId: Request_VM_Logs
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestInstanceLogsPayload'
        required: true
      responses:
        '200':
          description: Logs were successfully requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestInstanceLogsResponse'
              example:
                status: true
                message: VM example-vm console logs requested successfully
                request_id: 6190
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: VM example-vm console logs requested successfully
                    request_id: 6190
        '202':
          description: Request succeeded.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/metrics:
    get:
      tags:
      - Virtual Machine
      summary: Retrieve virtual machine performance metrics
      description: 'Retrieves performance metrics data for a virtual machine. Provide the virtual machine ID in the path to retrieve the following data for the specified virtual machine: CPU usage, memory usage (RAM), `network.in`, `network.out`, `disk.read`, and `disk.write`. The optional `duration` parameter can be used to specify the period for retrieving performance metrics; the default value will retrieve all available data. To learn more about virtual machine performance metrics, see [Performance metrics](https://docs.hyperstack.cloud/docs/virtual-machines/vm-performance-metrics-and-events-history#performance-metrics).'
      operationId: Get_VM_metrics
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      - name: duration
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 2h
          - 4h
          - 6h
          - 12h
          - 1d
          - 3d
          - 7d
          - 15d
          - 30d
        description: Time window for the metrics query. Accepts values like `1h`, `6h`, `24h`, `7d`.
      responses:
        '200':
          description: Virtual machine performance metrics have been successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsFields'
              example:
                cpu:
                  unit: ns
                  columns:
                  - time
                  - granularity
                  - value
                  data: []
                memory.usages:
                  unit: MB
                  columns:
                  - time
                  - granularity
                  - value
                  data: []
                network.in:
                  unit: B
                  columns:
                  - time
                  - granularity
                  - value
                  data: []
                network.out:
                  unit: B
                  columns:
                  - time
                  - granularity
                  - value
                  data: []
                disk.read:
                  unit: B
                  columns:
                  - time
                  - granularity
                  - value
                  data: []
                disk.write:
                  unit: B
                  columns:
                  - time
                  - granularity
                  - value
                  data: []
              examples:
                default:
                  summary: Successful response
                  value:
                    cpu:
                      unit: ns
                      columns:
                      - time
                      - granularity
                      - value
                      data: []
                    memory.usages:
                      unit: MB
                      columns:
                      - time
                      - granularity
                      - value
                      data: []
                    network.in:
                      unit: B
                      columns:
                      - time
                      - granularity
                      - value
                      data: []
                    network.out:
                      unit: B
                      columns:
                      - time
                      - granularity
                      - value
                      data: []
                    disk.read:
                      unit: B
                      columns:
                      - time
                      - granularity
                      - value
                      data: []
                    disk.write:
                      unit: B
                      columns:
                      - time
                      - granularity
                      - value
                      data: []
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/resize:
    post:
      tags:
      - Virtual Machine
      summary: Resize virtual machine
      description: 'Updates the hardware configuration for an existing virtual machine. Include the virtual machine ID in the path and provide the new configuration, referred to as a `flavor`, in the body of the request. For additional information on resizing, see [Flavors](https://docs.hyperstack.cloud/docs/hardware/flavors).


        > **Note:** Currently disabled by feature flag; the API responds 400 "This feature is currently disabled".'
      operationId: Resize_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceResizePayload'
        required: true
      responses:
        '200':
          description: The resizing of the virtual machine configuration was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: This feature is currently disabled
                    error_reason: bad_request
              example:
                status: false
                message: This feature is currently disabled
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/sg-rules:
    post:
      tags:
      - Virtual Machine
      summary: Add firewall rule to virtual machine
      description: Creates a [**firewall rule**](https://docs.hyperstack.cloud/docs/network/firewalls) and applies it to a virtual machine. Include the virtual machine ID in the path and the firewall rule configuration in the request body.
      operationId: Create_firewall_rule_for_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_Security_Rule_Payload'
              example:
                direction: ingress
                protocol: tcp
                ethertype: IPv4
                remote_ip_prefix: 0.0.0.0/0
                port_range_min: 22
                port_range_max: 22
              properties: {}
            example:
              direction: ingress
              ethertype: IPv4
              protocol: tcp
              remote_ip_prefix: 0.0.0.0/0
              port_range_min: 22
              port_range_max: 22
        required: true
      responses:
        '200':
          description: The firewall rule has been successfully added to the virtual machine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Security_Group_Rule'
              example:
                status: true
                message: Security Rule created successfully
                security_rule:
                  id: 3287
                  direction: ingress
                  protocol: tcp
                  port_range_min: 22
                  port_range_max: 22
                  ethertype: IPv4
                  remote_ip_prefix: 0.0.0.0/0
                  status: pending
                  created_at: '2026-05-06T16:04:09Z'
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Security Rule created successfully
                    security_rule:
                      id: 3287
                      direction: ingress
                      protocol: tcp
                      port_range_min: 22
                      port_range_max: 22
                      ethertype: IPv4
                      remote_ip_prefix: 0.0.0.0/0
                      status: pending
                      created_at: '2026-05-06T16:04:09Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/sg-rules/{sg_rule_id}:
    delete:
      tags:
      - Virtual Machine
      summary: Delete firewall rule from virtual machine
      description: Deletes a firewall rule associated with a virtual machine. Provide the virtual machine ID and the firewall rule ID in the path.
      operationId: Delete_firewall_rule_for_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      - name: sg_rule_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the sg rule.
      responses:
        '200':
          description: The firewall rule has been successfully removed from the virtual machine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/snapshots:
    post:
      tags:
      - Virtual Machine
      summary: Create snapshot from a virtual machine
      description: 'Creates a snapshot for the specific virtual machine. For more information about snapshots, see [Snapshot](https://docs.hyperstack.cloud/docs/api-reference/snapshots).


        > **State requirement:** This operation requires the VM to be in the `ACTIVE` or `SHUTOFF` state and no concurrent snapshot to already be in progress for the same VM.'
      operationId: Create_Snapshot_for_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSnapshotPayload'
              example:
                name: example-snapshot
                description: Example snapshot
              properties: {}
            example:
              description: Example snapshot
              name: example-snapshot
        required: true
      responses:
        '200':
          description: Request succeeded.
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSnapshotResponse'
              example:
                status: true
                message: Snapshot creation is scheduled.
                snapshot:
                  id: 2058
                  name: example-snapshot
                  description: Example snapshot
                  vm_id: 7613
                  region_id: 9876
                  status: CREATING
                  is_image: false
                  size: 0
                  has_floating_ip: false
                  labels: []
                  created_at: '2026-05-07T11:47:30Z'
                  updated_at: '2026-05-07T11:47:30Z'
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Snapshot creation is scheduled.
                    snapshot:
                      id: 2058
                      name: example-snapshot
                      description: Example snapshot
                      vm_id: 7613
                      region_id: 9876
                      status: CREATING
                      is_image: false
                      size: 0
                      has_floating_ip: false
                      labels: []
                      created_at: '2026-05-07T11:47:30Z'
                      updated_at: '2026-05-07T11:47:30Z'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/start:
    get:
      tags:
      - Virtual Machine
      summary: Start virtual machine
      description: 'Initiates the startup of a virtual machine. Supply the virtual machine ID in the path to initiate the starting of the specified virtual machine.


        > **State requirement:** This operation requires the VM to be in the `SHUTOFF` state. Calls against a VM in any other state return `400` with `error_reason: bad_request`.'
      operationId: Start_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      responses:
        '200':
          description: Virtual machine started successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: VM example-vm is scheduled to start.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: VM example-vm is scheduled to start.
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/stop:
    get:
      tags:
      - Virtual Machine
      summary: Stop virtual machine
      description: 'Shuts down a virtual machine. Provide the virtual machine ID in the path to initiate the shutdown process for the specified virtual machine.


        > **State requirement:** This operation requires the VM to be in the `ACTIVE` or `ERROR` state.'
      operationId: Stop_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      responses:
        '200':
          description: Virtual machine shut down successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
              example:
                status: true
                message: VM example-vm is scheduled to stop.
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: VM example-vm is scheduled to stop.
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: VM 793734 is currently being used to create a snapshot and no operation can be performed.
                    error_reason: bad_request
              example:
                status: false
                message: VM 793734 is currently being used to create a snapshot and no operation can be performed.
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /core/virtual-machines/{vm_id}/enhanced-metrics:
    patch:
      tags:
      - Virtual Machine
      summary: Enable or disable Enhanced Metrics for a virtual machine
      description: Enable or disable the Hyperstack VM Agent (Enhanced Metrics) for an existing virtual machine. The agent itself must be installed/removed manually inside the VM — the response includes the install command when enabling.
      operationId: Toggle_Enhanced_Metrics_for_a_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEnhancedMetricsPayload'
        required: true
      responses:
        '200':
          description: Enhanced metrics updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEnhancedMetricsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel_2'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
components:
  schemas:
    CreateInstancesResponse:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
          example: true
        message:
          type: string
          description: Human-readable description of the result.
          example: VM is scheduled for creation.
        instances:
          type: array
          items:
            $ref: '#/components/schemas/Instance_Fields'
          description: Virtual machines returned by the request.
    CreateSnapshotResponse:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
          example: true
        message:
          type: string
          description: Human-readable description of the result.
          example: Snapshot creation is scheduled.
        snapshot:
          $ref: '#/components/schemas/SnapshotFields'
          description: Snapshot of a volume.
    Environment_Features:
      type: object
      properties:
        network_optimised:
          type: boolean
          description: Whether the resource has the network-optimised feature enabled.
          example: false
        green_status:
          type: string
          example: GREEN
          enum:
          - GREEN
          - PARTIALLY_GREEN
          - NOT_GREEN
          description: Indicator of how much of the region's capacity is running on green energy.
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
          example: true
        message:
          type: string
          description: Human-readable description of the result.
          example: Instance is being deleted.
    Security_Group_Rule:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
          example: true
        message:
          type: string
          description: Human-readable description of the result.
          example: Security Rule created successfully
        security_rule:
          $ref: '#/components/schemas/Security_Group_Rule_Fields'
          description: Provides the firewall rule configuration that was sent in the request, along with additional information such as the time of rule creation, rule ID, and the `status` of the firewall rule that was created.
    Flavor_Object_Fields:
      type: object
      properties:
        cpu:
          type: integer
          description: Number of vCPU cores.
        ram:
          type: number
          description: Memory allocated to the flavor, in GB.
        disk:
          type: integer
          description: Root disk capacity, in GB.
        gpu:
          type: string
          description: GPU model name. Empty string if the flavor has no GPU.
        gpu_count:
          type: integer
          description: Number of GPUs attached to the flavor.
    ClusterNodeGroupFirewallFields:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
        name:
          type: string
          description: Name of the firewall.
        status:
          type: string
          description: Current lifecycle state of the resource.
    Instance:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
          example: true
        message:
          type: string
          description: Human-readable description of the result.
          example: Getting VM detail successful
        instance:
          $ref: '#/components/schemas/Instance_Fields'
          description: Virtual machine the entry refers to.
    FlavorLabelFields:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
        label:
          type: string
          description: The label name (e.g. `k8s`).
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
          description: Whether the request succeeded.
        message:
          type: string
          description: Human-readable description of the result.
        error_reason:
          type: string
          description: Short machine-readable reason code when the request fails.
    RequestInstanceLogsPayload:
      type: object
      properties:
        length:
          type: integer
          description: The amount of lines to fetch.
    SnapshotFields:
      type: object
      properties:
        created_at:
          type: string
          description: ISO 8601 UTC timestamp indicating when the snapshot was created.
          format: date-time
          example: '2026-05-06T16:04:09Z'
        description:
          type: string
          description: Description of the snapshot.
          example: example
        id:
          type: integer
          description: Unique identifier of the snapshot.
          example: 1402
        is_image:
          type: boolean
          description: Indicates if the snapshot is an image.
          example: false
        name:
          type: string
          description: Name of the snapshot.
          example: example-snapshot
        region_id:
          type: integer
          description: Region where the snapshot will be available.
          example: 1129
        size:
          type: integer
          description: Size in GB of the snapshot.
          example: 0
        status:
          type: string
          description: Status of the snapshot.
          example: CREATING
        updated_at:
          type: string
          description: Last update timestamp.
          format: date-time
          example: '2026-05-06T16:04:09Z'
        vm_id:
          type: integer
          description: ID of the VM from which the snapshot is created.
          example: 2058
        has_floating_ip:
          type: boolean
          description: Indicates if the VM had a floating IP assigned.
          example: false
        labels:
          type: array
          description: Labels associated with snapshot.
          items:
            type: string
            description: ''
    Instance_Environment_Fields:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
          example: 9876
        name:
          type: string
          description: Name of the environment.
          example: example-environment
        org_id:
          type: integer
          description: Identifier of the organization that owns the resource.
          example: 7613
        region:
          type: string
          description: Region the resource is in (for example, `NORWAY-1`, `CANADA-1`, `US-1`).
          example: NORWAY-1
        features:
          $ref: '#/components/schemas/Environment_Features'
          description: Optional feature flags applicable to the resource.
    Instance_Image_Fields:
      type:
      - object
      - 'null'
      properties:
        name:
          type: string
          description: Name of the image.
          example: Ubuntu Server 24.04 LTS (Noble Numbat)
    InstanceEvents:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
          example: true
        message:
          type: string
          description: Human-readable description of the result.
          example: Getting VM events success
        instance_events:
          type: array
          items:
            $ref: '#/components/schemas/InstanceEventsFields'
          description: An array containing objects each providing details on an action executed on a virtual machine.
    RequestInstanceLogsResponse:
      type: object
      properties:
        request_id:
          type: integer
          description: Identifier of an asynchronous request, returned by the prior POST call.
          example: 8429
    ContractInstancesResponse:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
        message:
          type: string
          description: Human-readable description of the result.
        instances:
          type: array
          items:
            $ref: '#/components/schemas/ContractInstanceFields'
          description: Virtual machines returned by the request.
    Security_Group_Rule_Fields:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
          example: 5341
        direction:
          type: string
          description: Direction of traffic the rule applies to, `ingress` or `egress`.
          example: ingress
        protocol:
          type: string
          description: Protocol, one of `tcp`, `udp`, `icmp`, or `any`.
          example: tcp
        port_range_min:
          type: integer
          description: Lower bound (inclusive) of the port range the rule applies to.
          example: 22
        port_range_max:
          type: integer
          description: Upper bound (inclusive) of the port range the rule applies to.
          example: 22
        ethertype:
          type: string
          description: Internet Protocol version, `IPv4` or `IPv6`.
          example: IPv4
        remote_ip_prefix:
          type: string
          description: CIDR block the rule applies to.
          example: 0.0.0.0/0
        status:
          type: string
          description: Current lifecycle state of the resource.
          example: pending
        created_at:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp marking when the resource was created.
          example: '2026-05-06T14:32:11Z'
    ClusterNodeFields:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
          example: 3287
        role:
          type: string
          description: Role assigned to the user.
          example: bastion
        node_group_id:
          type:
          - integer
          - 'null'
          description: Identifier of the node group.
        node_group_name:
          type:
          - string
          - 'null'
          description: Name of the node group the node belongs to.
        instance:
          $ref: '#/components/schemas/ClusterNodeInstanceFields'
          description: Virtual machine the entry refers to.
        status:
          type: string
          description: Current lifecycle state of the resource.
          example: CREATING
        status_reason:
          type: string
          example: VM is creating
          description: Human-readable explanation of the current node status.
        is_bastion:
          type: boolean
          example: true
          description: Whether the node acts as the bastion server for the cluster (true) or not (false).
        requires_public_ip:
          type: boolean
          example: true
          description: Whether the node requires a public IP address (true) or not (false).
        created_at:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp marking when the resource was created.
          example: '2026-05-06T16:04:09Z'
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp marking when the resource was last modified.
          example: '2026-05-06T16:04:09Z'
    Security_Rules_Fields_for_Instance:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
          example: 1129
        direction:
          type: string
          description: Direction of traffic the rule applies to, `ingress` or `egress`.
          example: egress
        protocol:
          type: string
          description: Protocol, one of `tcp`, `udp`, `icmp`, or `any`.
          example: any
        port_range_min:
          type: integer
          description: Lower bound (inclusive) of the port range the rule applies to.
          example: 1
        port_range_max:
          type: integer
          description: Upper bound (inclusive) of the port range the rule applies to.
          example: 65535
        ethertype:
          type: string
          description: Internet Protocol version, `IPv4` or `IPv6`.
          example: IPv4
        remote_ip_prefix:
          type: string
          description: CIDR block the rule applies to.
          example: 0.0.0.0/0
        status:
          type: string
          description: Current lifecycle state of the resource.
          example: SUCCESS
        created_at:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp marking when the resource was created.
          example: '2026-05-06T15:18:42Z'
    Instances:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
          example: true
        message:
          type: string
          description: Human-readable description of the result.
          example: Getting VMs successful
        page:
          type:
          - integer
          - 'null'
          description: 1-indexed page number of the current result set.
        page_size:
          type:
          - integer
          - 'null'
          description: Number of items per page in the current result set.
        count:
          type: integer
          description: Number of items returned in the current page.
          example: 0
        instances:
          type: array
          items:
            $ref: '#/components/schemas/Instance_Fields'
          description: Virtual machines returned by the request.
    Create_Instances_Payload:
      required:
      - count
      - environment_name
      - flavor_name
      - key_name
      - name
      type: object
      properties:
        count:
          type: integer
          description: The number of virtual machines to be created.
        environment_name:
          type: string
          description: The name of the [environment](https://docs.hyperstack.cloud/docs/api-reference/environment) in which the virtual machine is to be created.
        flavor_name:
          type: string
          description: The name of the GPU hardware configuration ([flavor](https://docs.hyperstack.cloud/docs/hardware/flavors)) for the virtual machines being created.
        key_name:
          type: string
          description: The name of the existing SSH key pair to be used for secure access to the virtual machine. For additional information on SSH key pairs, see [Key pair endpoints](https://docs.hyperstack.cloud/docs/api-reference/keypair).
        name:
          maxLength: 50
          type: string
          description: The name of the virtual machine being created.
        image_name:
          type: string
          description: The [operating system (OS) image](https://docs.hyperstack.cloud/docs/virtual-machines/images) name designated for installation on the virtual machine.It also accepts custom, private images, created from [existing snapshots](https://docs.hyperstack.cloud/docs/virtual-machines/custom-images).
        volume_name:
          type: string
          description: The names of the volume(s) to be attached to the virtual machine being created.
        create_bootable_volume:
          type: boolean
          description: Indicates whether to create a bootable volume for the virtual machine. When set to `true`, a bootable volume will be created.
          default: false
        flavor:
          $ref: '#/components/schemas/Flavor_Object_Fields'
          description: GPU and CPU configuration of the virtual machine.
        user_data:
          type: string
          description: Optional initialization configuration commands to manage the configuration of a virtual machine at launch using cloud-init scripts. For more information about custom VM configuration using cloud-init, see [Initialization configuration](https://docs.hyperstack.cloud/docs/virtual-machines/initialization-configuration).
        callback_url:
          maxLength: 250
          type: string
          description: An optional URL where actions performed on the virtual machine will be sent. For additional information on event callbacks, see [Attach a callback to a VM](https://docs.hyperstack.cloud/docs/api-reference/attach-callback-to-vm).
        assign_floating_ip:
          type: boolean
          description: When this field is set to `true`, it attaches a [public IP address](https://docs.hyperstack.cloud/docs/api-reference/attach-public-ip-to-vm) to the virtual machine, enabling internet accessibility.
        enable_port_randomization:
          type: boolean
          description: Indicates whether to enable port randomization.This setting is only effective if 'assign_floating_ip' is true.
          default: true
        security_rules:
          type: array
          items:
            $ref: '#/components/schemas/Create_Security_Rule_Payload'
          description: Firewall rules to apply to the VM at creation.
        profile:
          $ref: '#/components/schemas/Profile_Object_Fields'
          description: An object containing the configuration of the virtual machine saved in the created profile.
        labels:
          type: array
          items:
            type: string
          description: Optional user-supplied tags for grouping or filtering.
    ClusterNodeInstanceFields:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
          example: 7613
        name:
          type: string
          description: Name of the cluster node virtual machine.
          example: example-c1-bastion-0
        status:
          type: string
          description: Current lifecycle state of the resource.
          example: CREATING
        fixed_ip:
          type:
          - string
          - 'null'
          description: Fixed (private) IP address assigned to the VM in its environment.
          example: 192.0.2.42
        floating_ip:
          type:
          - string
          - 'null'
          description: Floating (public) IP address attached to the VM, or `null` if none.
          example: 192.0.2.91
        floating_ip_status:
          type:
          - string
          - 'null'
          description: State of the floating-IP attachment.
          example: ATTACHING
        contract_id:
          type:
          - integer
          - 'null'
          description: Identifier of the customer contract under which the resource is billed.
        image_id:
          type: integer
          description: Identifier of the OS image to install, see [List images](https://docs.hyperstack.cloud/docs/api-reference/list-images).
          example: 7613
    ClusterFields:
      type: object
      properties:
        id:
          type: integer
          description: Unique numeric identifier.
          example: 1402
        name:
          type: string
          description: Name of the Kubernetes cluster.
          example: example-c1
        environment_name:
          type: string
          description: Name of the environment containing the resource.
          example: example-environment
        kubernetes_version:
          type: string
          description: Kubernetes version installed on the cluster.
          example: 1.35.1
        api_address:
          type:
          - string
          - 'null'
          example: https://api.example-c1-8a1cf2.example-environment.hyperstackcustomers.cloud:6443
          description: URL used to access the cluster Kubernetes API server.
        kube_config:
          type:
          - string
          - 'null'
[...]
