openapi: 3.2.0
info:
  title: Infrahub Volume API
  version: '1.0'
  description: Volume APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Volume
  description: Volume APIs
paths:
  /core/volume-types:
    get:
      tags:
      - Volume
      summary: List volume types
      description: Retrieves a list of available volume types that can be used in the creation of a new volume.
      operationId: List_volume_types
      responses:
        '200':
          description: Successful retrieval of volume types list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume_Types'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/volume/name-availability/{name}:
    get:
      tags:
      - Volume
      summary: Fetch volume name availability
      description: Check if a Volume name is available
      operationId: Fetch_volume_name_availability
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailableModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/volumes:
    get:
      tags:
      - Volume
      summary: List volumes
      description: Returns a list of your existing volumes, providing details for each. For more information on volumes, **click here**.
      operationId: List_volumes
      parameters:
      - name: page
        in: query
        description: Page Number
        schema: {}
      - name: pageSize
        in: query
        description: Data Per Page
        schema: {}
      - name: search
        in: query
        schema:
          type: string
      - name: environment
        in: query
        description: Filter Environment ID or Name
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volumes'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - Volume
      summary: Create volume
      description: Creates a volume that can be attached to a virtual machine, expanding its storage capacity. Specify the volume type and custom configuration in the request body. For additional details on volumes, **click here**.
      operationId: Create_volume
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_Volume_Payload'
        required: true
      responses:
        '200':
          description: Volume successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/volumes/{volume_id}:
    get:
      tags:
      - Volume
      summary: Fetch Volume Details
      description: Fetch volume details for specific volume. This endpoint returns id, name, volume size, volume type, status, description, image_id, os_image, created_at, updated_at etc.
      operationId: Get_Volume
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    delete:
      tags:
      - Volume
      summary: Delete volume
      description: Deletes a volume permanently. Provide the volume ID in the path to specify the volume to be deleted.
      operationId: Delete_volume
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Volume successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    patch:
      tags:
      - Volume
      summary: Update volume fields
      description: Update volume properties. Currently supports updating the environment by providing 'environment_name'. The volume must not be attached to any instance when changing environments, and the target environment must be in the same region.
      operationId: Update_volume
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update_Volume_Payload'
        required: true
      responses:
        '200':
          description: Volume successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update_Volume_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
components:
  schemas:
    Volumes_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        environment:
          $ref: '#/components/schemas/Environment_Fields_for_Volume'
        description:
          type: string
        volume_type:
          type: string
        size:
          type: integer
        status:
          type: string
        bootable:
          type: boolean
        image_id:
          type: integer
        callback_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachments_Fields_for_Volume'
    NameAvailableModel:
      type: object
      properties:
        name:
          type: string
        available:
          type: boolean
        message:
          type: string
    Volume_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        environment:
          $ref: '#/components/schemas/Environment_Fields_for_Volume'
        description:
          type: string
        volume_type:
          type: string
        size:
          type: integer
        status:
          type: string
        bootable:
          type: boolean
        image_id:
          type: integer
        callback_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachments_Fields_for_Volume'
        os_image:
          type: string
    Attachments_Fields_for_Volume:
      type: object
      properties:
        id:
          type: integer
        device:
          type: string
        status:
          type: string
        instance_id:
          type: integer
        protected:
          type: boolean
    Volume_Types:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        volume_types:
          type: array
          items:
            type: string
    Update_Volume_Payload:
      required:
      - environment_name
      type: object
      properties:
        environment_name:
          type: string
          description: The name of the target environment to move the volume to. The target environment must be in the same region as the current environment.
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Update_Volume_Response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        volume:
          $ref: '#/components/schemas/Volume_Fields'
        updates:
          type: object
          properties: {}
          description: Summary of fields that were updated
    Create_Volume_Payload:
      required:
      - environment_name
      - name
      - size
      - volume_type
      type: object
      properties:
        name:
          maxLength: 50
          type: string
          description: The name of the volume being created.
        environment_name:
          type: string
          description: The name of the [environment](https://docs.hyperstack.cloud/docs/api-reference/core-resources/environments/) within which the volume is being created.
        description:
          type: string
          description: A brief description or comment about the volume.
        volume_type:
          type: string
          description: Specifies the type of volume being created, which determines the storage technology it will use. Call the [List volume types](https://infrahub-api-doc.nexgencloud.com/#get-/core/volumes) endpoint to retrieve a list of available volume model types.
        size:
          type: integer
          description: The size of the volume in GB. 1048576GB storage capacity per volume.
        image_id:
          type: integer
          description: The ID of the operating system image that will be associated with the volume. By providing an `image_id` in the create volume request, you will create a bootable volume.
        callback_url:
          maxLength: 250
          type: string
          description: A URL that can be attached to the volume you are creating. This `callback_url` will post any action events that occur to your volume to the provided URL.
    Volume:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        volume:
          $ref: '#/components/schemas/Volume_Fields'
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    Volumes:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        page:
          type: integer
        page_size:
          type: integer
        count:
          type: integer
        volumes:
          type: array
          items:
            $ref: '#/components/schemas/Volumes_Fields'
    Environment_Fields_for_Volume:
      type: object
      properties:
        name:
          type: string
        features:
          type: object
          properties: {}
        region:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
