openapi: 3.2.0
info:
  title: Infrahub Dashboard API
  version: '1.0'
  description: Dashboard APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Dashboard
  description: Dashboard APIs
paths:
  /core/dashboard:
    get:
      tags:
      - Dashboard
      summary: Retrieve Dashboard
      description: Returns hardware and pricing overview for your active resources, includingvirtual machines, containers, and volumes. For more details on the Dashboard feature, **click here**.
      operationId: Get_Dashboard
      responses:
        '200':
          description: Getting dashboard info success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard_Info_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Dashboard_Info_Response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        overview:
          $ref: '#/components/schemas/Overview_Info'
    Container_Overview_Fields:
      type: object
      properties:
        count:
          type: integer
        vcpus:
          type: integer
        gpus:
          type: integer
        ram:
          type: integer
        cost_per_hour:
          type: number
    Overview_Info:
      type: object
      properties:
        instance:
          $ref: '#/components/schemas/Instance_Overview_Fields'
        container:
          $ref: '#/components/schemas/Container_Overview_Fields'
        volume:
          $ref: '#/components/schemas/Volume_Overview_Fields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Volume_Overview_Fields:
      type: object
      properties:
        count:
          type: integer
        using:
          type: integer
        cost_per_hour:
          type: number
    Instance_Overview_Fields:
      type: object
      properties:
        count:
          type: integer
        vcpus:
          type: integer
        gpus:
          type: integer
        ram:
          type: integer
        cost_per_hour:
          type: number
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
