openapi: 3.2.0
info:
  title: Infrahub Invite API
  version: '1.0'
  description: Invite APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Invite
  description: Invite APIs
paths:
  /auth/invites:
    get:
      tags:
      - Invite
      summary: List Invites
      description: Retrieve a list of email invitations from your organization. For additional information on listing invited users, **click here**.
      operationId: List_Invites
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvitesResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - Invite
      summary: Invite User to Organization
      description: Invites a user to join your organization. For additional information on inviting users to the organization, click here.
      operationId: Invite_User_to_Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserPayload'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /auth/invites/{id}:
    delete:
      tags:
      - Invite
      summary: Accept Invite
      description: Deletes an invitation for a user to join your organization. For additional information on deleting an invitation, click here.
      operationId: Delete_Invite
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Invite accepted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /auth/invites/{id}/accept:
    get:
      tags:
      - Invite
      summary: Accept Invite
      description: Accept an invitation for a user to join your organization.
      operationId: Accept_Invite
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Invite deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    InviteUserPayload:
      required:
      - email
      type: object
      properties:
        email:
          maxLength: 254
          minLength: 6
          pattern: ^[A-Za-z0-9](?:[A-Za-z0-9._+-]{0,62}[A-Za-z0-9])?@(?:[A-Za-z0-9](?:[A-Za-z0-9-]{0,61}[A-Za-z0-9])?\.)+[A-Za-z]{2,}$
          type: string
          description: The email for sending invitation.
    GetInvitesResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        invites:
          type: array
          items:
            $ref: '#/components/schemas/InviteFields'
    CommonResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    InviteUserResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        invite:
          $ref: '#/components/schemas/InviteFields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    InviteFields:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
