openapi: 3.2.0
info:
  title: Infrahub User API
  version: '1.0'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: User
paths:
  /billing/user/countries:
    get:
      tags:
      - User
      summary: 'GET: Retrieve allowed country codes'
      description: Retrieve the list of allowed ISO 3166-1 alpha-2 country codes that can be used for billing information.
      operationId: Get_allowed_country_codes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllowedCountriesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/user/info:
    get:
      tags:
      - User
      summary: 'GET: Retrieve billing info'
      description: Retrieve the billing details associated with your user.
      operationId: Get_User_billing_info
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersInfoListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    put:
      tags:
      - User
      summary: 'PUT: Update billing info'
      description: Update the billing information for your user in the request body.
      operationId: Update_user_billing_info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User_info_post_payload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserInfoSuccessResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
    post:
      tags:
      - User
      summary: 'POST: Insert billing info'
      description: Add billing details associated with your user in the request body.
      operationId: Add_user_billing_info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User_info_post_payload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddUserInfoSuccessResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
components:
  schemas:
    AddUserInfoSuccessResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        data:
          $ref: '#/components/schemas/UsersInfoFields'
    User_info_post_payload:
      required:
      - business
      - country
      - zip_code
      type: object
      properties:
        business:
          type: boolean
        name:
          type: string
        email:
          type: string
        company_name:
          type: string
        vat_number:
          type: string
        phone:
          type: string
        billing_address1:
          type: string
        billing_address2:
          type: string
        zip_code:
          type: string
        country:
          type: string
        state:
          type: string
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    AllowedCountriesResponse:
      type: object
      properties:
        status:
          type: boolean
        countries:
          type: array
          items:
            type: string
    UsersInfoFields:
      type: object
      properties:
        id:
          type: integer
        organization_id:
          type: integer
        name:
          type: string
        email:
          type: string
        business:
          type: boolean
        company_name:
          type: string
        vat_number:
          type: string
        phone:
          type: string
        billing_address1:
          type: string
        billing_address2:
          type: string
        zip_code:
          type: string
        country:
          type: string
        state:
          type: string
        created_at:
          type: string
          format: date-time
        stripe_user_id:
          type: string
    UsersInfoListResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        users_info:
          $ref: '#/components/schemas/UsersInfoFields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
