openapi: 3.2.0
info:
  title: Infrahub volume attachment API
  version: '1.0'
  description: Volume Attachment APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: volume attachment
  description: Volume Attachment APIs
paths:
  /core/virtual-machines/{vm_id}/attach-volumes:
    post:
      tags:
      - volume attachment
      summary: Attach volumes to virtual machine
      description: Attaches one or more volumes to an existing virtual machine, expanding its storage capacity by 2PB per attached volume. Include the VM ID in the path and the volume IDs in the request body to attach the specified volumes. For more detailson volume attachment, **click here**.
      operationId: Attach_volumes_to_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attach_Volumes_Payload'
        required: true
      responses:
        '200':
          description: Volumes have been successfully attached to the virtual machine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attach_Volumes'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/detach-volumes:
    post:
      tags:
      - volume attachment
      summary: Detach volumes from virtual machine
      description: Detaches one or more volumes attached to an existing virtual machine. Include the VM ID in the path and volume IDs in the request body to detach the specified volumes from the virtual machine.
      operationId: Detach_volumes_from_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Detach_Volumes_Payload'
        required: true
      responses:
        '200':
          description: Volumes have been successfully detached from the virtual machine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detach_Volumes'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/volume-attachments/{volume_attachment_id}:
    patch:
      tags:
      - volume attachment
      summary: Update a volume attachment
      operationId: Update_volume_attachment
      parameters:
      - name: volume_attachment_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update_Volume_Attachment_Payload'
        required: true
      responses:
        '200':
          description: Volume attachment has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attach_Volumes'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
components:
  schemas:
    Detach_Volumes_Payload:
      type: object
      properties:
        volume_ids:
          type: array
          items:
            type: integer
    Detach_Volumes:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        volume_attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attach_Volume_Fields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Attach_Volume_Fields:
      type: object
      properties:
        id:
          type: integer
        instance_id:
          type: integer
        volume_id:
          type: integer
        device:
          type: string
        status:
          type: string
        protected:
          type: boolean
        created_at:
          type: string
          format: date-time
    Attach_Volumes_Payload:
      type: object
      properties:
        volume_ids:
          type: array
          items:
            type: integer
        protected:
          type: boolean
          default: false
    Update_Volume_Attachment_Payload:
      type: object
      properties:
        protected:
          type: boolean
    Attach_Volumes:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        volume_attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attach_Volume_Fields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
