openapi: 3.2.0
info:
  title: Infrahub Flavor API
  version: '1.0'
  description: Flavor APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: flavor
  description: Flavor APIs
paths:
  /core/flavors:
    get:
      tags:
      - flavor
      summary: List Flavors
      description: Returns a list of available virtual machine hardware configurations, known as**flavors**. You can specify a `region_name` in the query string of the request toretrieve flavors available only in the specified region; by default, it returnsflavors available in all regions. For more details on flavors,**click here**.
      operationId: List_Flavors
      parameters:
      - name: region
        in: query
        description: Region Name
        schema: {}
      responses:
        '200':
          description: Successful retrieval of flavors list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flavor_List_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Flavor_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_name:
          type: string
        region_name:
          type: string
        cpu:
          type: integer
        ram:
          type: integer
        disk:
          type: integer
        ephemeral:
          type: integer
        gpu:
          type: string
        gpu_count:
          type: integer
        stock_available:
          type: boolean
        created_at:
          type: string
          format: date-time
        labels:
          type: array
          items:
            $ref: '#/components/schemas/LableResonse'
        features:
          type: object
          properties: {}
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Flavor_List_Response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Flavor_Item_Get_Response'
    LableResonse:
      type: object
      properties:
        id:
          type: integer
        label:
          type: string
    Flavor_Item_Get_Response:
      type: object
      properties:
        gpu:
          type: string
        region_name:
          type: string
        flavors:
          type: array
          items:
            $ref: '#/components/schemas/Flavor_Fields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
