openapi: 3.2.0
info:
  title: Infrahub user detail choice API
  version: '1.0'
  description: User Detail Choice APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: user detail choice
  description: User Detail Choice APIs
paths:
  /core/user/resources/defaults:
    get:
      tags:
      - user detail choice
      summary: Retrieve Default Flavors and Images
      description: Retrieves the default options for virtual machine deployment, including the default region, flavor, and image.
      operationId: List_Default_Flavors_and_Images
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefaultChoicesForUserResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    UserDefaultChoiceForUserFields:
      type: object
      properties:
        keypair_id:
          type: integer
        flavor_id:
          type: integer
        image_id:
          type: integer
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    UserDefaultChoicesForUserResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        user_default_choices:
          type: array
          items:
            $ref: '#/components/schemas/UserDefaultChoiceForUserFields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
