openapi: 3.2.0
info:
  title: Infrahub user permission API
  version: '1.0'
  description: User Permission APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: user permission
  description: User Permission APIs
paths:
  /auth/users/me/permissions:
    get:
      tags:
      - user permission
      summary: List My User Permissions
      description: Retrieves a list of permissions granted to your account. For additional information on your permissions, click here.
      operationId: List_My_User_Permissions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /auth/users/{id}/permissions:
    get:
      tags:
      - user permission
      summary: List User Permissions
      description: Retrieves a list of permissions granted to a specific user within your organization. Provide the ID of the user in the path. For additional information on user permissions, click here.
      operationId: List_User_Permissions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserPermissionsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    UserPermissionFields:
      type: object
      properties:
        id:
          type: integer
        resource:
          type: string
        permission:
          type: string
    GetUserPermissionsResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/UserPermissionFields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
