openapi: 3.2.0
info:
  title: Infrahub assigning member role API
  version: '1.0'
  description: Assigning Member Role APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: assigning member role
  description: Assigning Member Role APIs
paths:
  /auth/users/{user_id}/assign-roles:
    put:
      tags:
      - assigning member role
      summary: Assign RBAC Role
      description: Assigns a specific RBAC role to a user within your organization, granting them access to the resource actions permitted by the role. Provide the user ID in the path and the role ID in the request body. For additional information, click here.
      operationId: Assign_RBAC_Role_to_User
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignRbacRolePayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /auth/users/{user_id}/roles:
    delete:
      tags:
      - assigning member role
      summary: Remove RBAC Role From User
      description: Removes an RBAC role from a user within your organization, revoking the resource permissions they had access to. Provide the user ID in the path. For additional information, click here.
      operationId: Remove_RBAC_Role_From_User
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    RolePolicyFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
    CommonResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    RbacRoleDetailResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        role:
          $ref: '#/components/schemas/RbacRoleFields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    RbacRoleFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        policies:
          type: array
          items:
            $ref: '#/components/schemas/RolePolicyFields'
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/RolePermissionFields'
        created_at:
          type: string
          format: date-time
    RolePermissionFields:
      type: object
      properties:
        id:
          type: integer
        resource:
          type: string
        permission:
          type: string
    AssignRbacRolePayload:
      required:
      - role_id
      type: object
      properties:
        role_id:
          type: integer
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
