openapi: 3.2.0
info:
  title: Infrahub Access Keys API
  version: '1.0'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Access Keys
paths:
  /object-storage/access-keys:
    get:
      tags:
      - Access Keys
      summary: List access keys
      operationId: listAccessKeysEndpoint
      parameters:
      - name: search
        in: query
        schema: {}
      - name: page
        in: query
        schema: {}
      - name: page_size
        in: query
        schema: {}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__AccessKeyListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__ErrorResponse'
        '422':
          description: Validation Error
          content: {}
    post:
      tags:
      - Access Keys
      summary: Generate a new access key
      operationId: createAccessKeyEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/object_storage__AccessKeyCreateRequest'
        required: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__AccessKeyCreateResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__ErrorResponse'
        '422':
          description: Validation Error
          content: {}
      x-codegen-request-body-name: body
  /object-storage/access-keys/{access_key_id}:
    delete:
      tags:
      - Access Keys
      summary: Remove an existing access key
      operationId: deleteAccessKeyEndpoint
      parameters:
      - name: access_key_id
        in: path
        required: true
        schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__DeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__ErrorResponse'
        '422':
          description: Validation Error
          content: {}
components:
  schemas:
    object_storage__ErrorResponse:
      title: ErrorResponse
      required:
      - error_reason
      - message
      type: object
      properties:
        error_reason:
          title: Error Reason
          type: string
        message:
          title: Message
          type: string
        status:
          title: Status
          type: boolean
          default: false
    object_storage__RegionsEnum:
      title: RegionsEnum
      type: string
      enum:
      - CANADA-1
    object_storage__DeleteResponse:
      title: DeleteResponse
      required:
      - message
      type: object
      properties:
        message:
          title: Message
          type: string
    object_storage__AccessKeyResponse:
      title: AccessKeyResponse
      required:
      - access_key
      - created_at
      - id
      - region
      - user_id
      type: object
      properties:
        access_key:
          title: Access Key
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        description:
          title: Description
          type: object
        id:
          title: Id
          type: integer
        region:
          $ref: '#/components/schemas/object_storage__RegionsEnum'
        user_id:
          title: User Id
          type: integer
    object_storage__AccessKeyCreateRequest:
      title: AccessKeyCreateRequest
      required:
      - region
      type: object
      properties:
        description:
          title: Description
          type: object
        region:
          $ref: '#/components/schemas/object_storage__RegionsEnum'
    object_storage__AccessKeyListResponse:
      title: AccessKeyListResponse
      required:
      - access_keys
      - meta
      type: object
      properties:
        access_keys:
          title: Access Keys
          type: array
          items:
            $ref: '#/components/schemas/object_storage__AccessKeyResponse'
        meta:
          $ref: '#/components/schemas/object_storage__PaginationMeta'
    object_storage__PaginationMeta:
      title: PaginationMeta
      required:
      - count
      - current_page
      - total_pages
      type: object
      properties:
        count:
          title: Count
          type: integer
        current_page:
          title: Current Page
          type: integer
        total_pages:
          title: Total Pages
          type: integer
    object_storage__AccessKeyCreateResponse:
      title: AccessKeyCreateResponse
      required:
      - access_key
      - created_at
      - id
      - region
      - secret_key
      - user_id
      type: object
      properties:
        access_key:
          title: Access Key
          type: string
        created_at:
          title: Created At
          type: string
          format: date-time
        description:
          title: Description
          type: object
        id:
          title: Id
          type: integer
        region:
          $ref: '#/components/schemas/object_storage__RegionsEnum'
        secret_key:
          title: Secret Key
          type: string
        user_id:
          title: User Id
          type: integer
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
