openapi: 3.2.0
info:
  title: Infrahub Policy API
  version: '1.0'
  description: Policy APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Policy
  description: Policy APIs
paths:
  /auth/policies:
    get:
      tags:
      - Policy
      summary: List Policies
      description: Retrieves a list of policies available for addition to RBAC roles. For additional information on policies, click here.
      operationId: List_Policies
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPoliciesResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    PolicyFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PolicyPermissionFields'
        created_at:
          type: string
          format: date-time
    PolicyPermissionFields:
      type: object
      properties:
        id:
          type: integer
        resource:
          type: string
        permission:
          type: string
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    GetPoliciesResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        policies:
          type: array
          items:
            $ref: '#/components/schemas/PolicyFields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
