openapi: 3.2.0
info:
  title: Nexgen Cloud User Detail Choice API
  version: '1.0'
  description: 'Operations tagged User Detail Choice across 2 of this provider''s published API definitions: nexgen-cloud-hyperstack-openapi.json, nexgen-cloud-infrahub-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
tags:
- name: User Detail Choice
  description: User-specific configuration choices (profile preferences, defaults).
paths:
  /core/user/resources/defaults:
    get:
      tags:
      - User Detail Choice
      summary: Retrieve default flavors and images
      description: Retrieves the default options for virtual machine deployment, including the default region, flavor, and image.
      operationId: List_Default_Flavors_and_Images
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefaultChoicesForUserResponse'
              example:
                status: true
                message: Getting user default choices success
                user_default_choices:
                - region_id: 4501
                  flavor_id: 5341
                  image_id: 6190
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Getting user default choices success
                    user_default_choices:
                    - region_id: 4501
                      flavor_id: 5341
                      image_id: 6190
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
components:
  schemas:
    UserDefaultChoiceForUserFields:
      type: object
      properties:
        keypair_id:
          type: integer
          description: Identifier of the keypair selected as the user default.
        flavor_id:
          type: integer
          description: Identifier of the flavor, see [List flavors](https://docs.hyperstack.cloud/docs/api-reference/list-flavors).
          example: 1129
        image_id:
          type: integer
          description: Identifier of the OS image to install, see [List images](https://docs.hyperstack.cloud/docs/api-reference/list-images).
          example: 7613
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
          description: Whether the request succeeded.
        message:
          type: string
          description: Human-readable description of the result.
        error_reason:
          type: string
          description: Short machine-readable reason code when the request fails.
    UserDefaultChoicesForUserResponse:
      type: object
      properties:
        status:
          type: boolean
          description: Whether the request succeeded.
          example: true
        message:
          type: string
          description: Human-readable description of the result.
          example: Getting user default choices success
        user_default_choices:
          type: array
          items:
            $ref: '#/components/schemas/UserDefaultChoiceForUserFields'
          description: List of the user for keypair, flavor, and image.
          default: selections
    UserDefaultChoiceForUserFields_2:
      type: object
      properties:
        keypair_id:
          type: integer
        flavor_id:
          type: integer
        image_id:
          type: integer
    ErrorResponseModel_2:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    UserDefaultChoicesForUserResponse_2:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        user_default_choices:
          type: array
          items:
            $ref: '#/components/schemas/UserDefaultChoiceForUserFields_2'
  securitySchemes:
    apiKey:
      type: apiKey
      name: api_key
      in: header
      description: 'API-key authentication. Pass your API key as the `api_key` header value (e.g., `api_key: YOUR_API_KEY`, no prefix). [Generate a key in the Hyperstack console](https://console.hyperstack.cloud/api-keys). The key is personal to your user account and works across every environment and region in your organization.'
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
x-refined-from:
- nexgen-cloud-hyperstack-openapi.json
- nexgen-cloud-infrahub-api-openapi.json
