openapi: 3.2.0
info:
  title: Infrahub Template API
  version: '1.0'
  description: Templates APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Template
  description: Templates APIs
paths:
  /core/marketplace/templates:
    get:
      tags:
      - Template
      summary: List templates
      description: Returns a comprehensive list of templates, providing resource configuration details for each. Optionally, specify the `visibility` as `public` or `private` to retrieve templates with the desired visibility status. To learn more about the templates feature, **click here**.
      operationId: List_templates
      parameters:
      - name: visibility
        in: query
        description: Specify the `visibility` status as either `public` or `private` to filter and retrieve templates with the desired visibility.
        schema: {}
      responses:
        '200':
          description: Templates list successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Templates'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - Template
      summary: Create template
      description: Creates a resource template for deployment.
      operationId: Create_template
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - content
              - description
              - is_public
              - name
              type: object
              properties:
                name:
                  type: string
                  description: name is required
                description:
                  type: string
                  description: description is required
                is_public:
                  type: string
                  description: is_public is required
                content:
                  type: string
                  description: YAML file is required
                  format: binary
        required: true
      responses:
        '201':
          description: Template added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/marketplace/templates/{id}:
    get:
      tags:
      - Template
      summary: Retrieve template details
      description: Retrieves the resource configuration details for a specified template.Provide the template ID in the path to retrieve details for the specified template.For additional information on template configuration details,**click here**.
      operationId: Get_template
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Template details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    put:
      tags:
      - Template
      summary: Update template
      description: Updates the details of a template. Modify the template name, description and/or`is_public` status to change the public/private visibility of the template.
      operationId: Update_template
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update_Template'
        required: true
      responses:
        '200':
          description: Template updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
    delete:
      tags:
      - Template
      summary: Delete template
      description: Permanently deletes a template. Supply the template ID in the path to delete the specified template.
      operationId: Delete_template
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Template deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Templates:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        templates:
          type: array
          items:
            $ref: '#/components/schemas/Template_Fields'
    Template:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        template:
          $ref: '#/components/schemas/Template_Fields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Update_Template:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        is_public:
          type: boolean
    Template_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        content:
          type: string
        is_public:
          type: boolean
        created_at:
          type: string
          format: date-time
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
