openapi: 3.2.0
info:
  title: Nexgen Cloud Stock API
  version: '1.0'
  description: 'Operations tagged Stock across 2 of this provider''s published API definitions: nexgen-cloud-hyperstack-openapi.json, nexgen-cloud-infrahub-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
tags:
- name: Stock
  description: GPU and CPU stock availability per flavor and region. Use before deployment to confirm capacity.
paths:
  /core/stocks:
    get:
      tags:
      - Stock
      summary: Retrieve GPU stocks
      description: Returns information on current and upcoming GPU availability, organized by [**region**](https://docs.hyperstack.cloud/docs/resource-management/regions) and GPU model. For additional information on GPU stocks, see [Gpu stock information](https://docs.hyperstack.cloud/docs/hardware/gpu-stock-information).
      operationId: Get_GPU_stock
      responses:
        '200':
          description: GPU stocks retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/New_Stock_Retrive_Response'
              example:
                stocks:
                - region: CANADA-1
                  stock-type: GPU
                  models:
                  - model: H100-80G-PCIe-NVLink
                    available: '0'
                    planned_7_days: null
                    planned_30_days: null
                    planned_100_days: null
                    configurations:
                      1x: 0
                      2x: 0
                      4x: 0
                      8x: 0
                      10x: 0
                  - model: H100-80G-PCIe
                    available: 10+
                    planned_7_days: '0'
                    planned_30_days: '0'
                    planned_100_days: '0'
                    configurations:
                      1x: 36
                      2x: 12
                      4x: 2
                      8x: 0
                      10x: 0
                  - model: A100-80G-PCIe
                    available: '2'
                    planned_7_days: null
                    planned_30_days: null
                    planned_100_days: null
                    configurations:
                      1x: 2
                      2x: 1
                      4x: 0
                      8x: 0
                      10x: 0
              examples:
                default:
                  summary: Successful response
                  value:
                    stocks:
                    - region: CANADA-1
                      stock-type: GPU
                      models:
                      - model: H100-80G-PCIe-NVLink
                        available: '0'
                        planned_7_days: null
                        planned_30_days: null
                        planned_100_days: null
                        configurations:
                          1x: 0
                          2x: 0
                          4x: 0
                          8x: 0
                          10x: 0
                      - model: H100-80G-PCIe
                        available: 10+
                        planned_7_days: '0'
                        planned_30_days: '0'
                        planned_100_days: '0'
                        configurations:
                          1x: 36
                          2x: 12
                          4x: 2
                          8x: 0
                          10x: 0
                      - model: A100-80G-PCIe
                        available: '2'
                        planned_7_days: null
                        planned_30_days: null
                        planned_100_days: null
                        configurations:
                          1x: 2
                          2x: 1
                          4x: 0
                          8x: 0
                          10x: 0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Stocks Not Found
          content:
            application/json:
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
components:
  schemas:
    New_Stock_Response:
      type: object
      properties:
        region:
          type: string
          description: Region the resource is in (for example, `NORWAY-1`, `CANADA-1`, `US-1`).
          example: CANADA-1
        stock-type:
          type: string
          example: GPU
          description: Specifies the type of stock, which is "GPU".
        models:
          type: array
          items:
            $ref: '#/components/schemas/New_Model_Response'
          description: An array of objects containing stock information for each GPU model, in each region.
    New_Configurations_Response:
      type: object
      properties:
        1x:
          type: integer
          example: 0
          description: Number of GPUs configured as 1x.
        2x:
          type: integer
          example: 0
          description: Number of GPUs configured as 2x.
        4x:
          type: integer
          example: 0
          description: Number of GPUs configured as 4x.
        8x:
          type: integer
          example: 0
          description: Number of GPUs configured as 8x.
        10x:
          type: integer
          example: 0
          description: Number of GPUs configured as 10x.
    New_Model_Response:
      type: object
      properties:
        model:
          type: string
          example: H100-80G-PCIe-NVLink
          description: The model name of the GPU.
        available:
          type: string
          description: Whether stock is currently available.
          example: '0'
        planned_7_days:
          type:
          - string
          - 'null'
          description: Anticipated stock level for the next 7 days. A value of `null`, indicates there is no data available.
        planned_30_days:
          type:
          - string
          - 'null'
          description: Anticipated stock level for the next 30 days. A value of `null`, indicates there is no data available.
        planned_100_days:
          type:
          - string
          - 'null'
          description: Anticipated stock level for the next 100 days. A value of `null`, indicates there is no data available.
        configurations:
          $ref: '#/components/schemas/New_Configurations_Response'
          description: An object containing GPU configuration details.
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
          description: Whether the request succeeded.
        message:
          type: string
          description: Human-readable description of the result.
        error_reason:
          type: string
          description: Short machine-readable reason code when the request fails.
    New_Stock_Retrive_Response:
      type: object
      properties:
        stocks:
          type: array
          items:
            $ref: '#/components/schemas/New_Stock_Response'
          description: List of GPU stock availability records per region and flavor.
    New_Stock_Response_2:
      type: object
      properties:
        region:
          type: string
        stock-type:
          type: string
        models:
          type: array
          items:
            $ref: '#/components/schemas/New_Model_Response_2'
    New_Configurations_Response_2:
      type: object
      properties:
        1x:
          type: integer
        2x:
          type: integer
        4x:
          type: integer
        8x:
          type: integer
        10x:
          type: integer
    New_Model_Response_2:
      type: object
      properties:
        model:
          type: string
        available:
          type: string
        planned_7_days:
          type: string
        planned_30_days:
          type: string
        planned_100_days:
          type: string
        configurations:
          $ref: '#/components/schemas/New_Configurations_Response_2'
    ErrorResponseModel_2:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    New_Stock_Retrive_Response_2:
      type: object
      properties:
        stocks:
          type: array
          items:
            $ref: '#/components/schemas/New_Stock_Response_2'
  securitySchemes:
    apiKey:
      type: apiKey
      name: api_key
      in: header
      description: 'API-key authentication. Pass your API key as the `api_key` header value (e.g., `api_key: YOUR_API_KEY`, no prefix). [Generate a key in the Hyperstack console](https://console.hyperstack.cloud/api-keys). The key is personal to your user account and works across every environment and region in your organization.'
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
x-refined-from:
- nexgen-cloud-hyperstack-openapi.json
- nexgen-cloud-infrahub-api-openapi.json
