openapi: 3.2.0
info:
  title: Infrahub Stock API
  version: '1.0'
  description: Stock APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Stock
  description: Stock APIs
paths:
  /core/stocks:
    get:
      tags:
      - Stock
      summary: Retrieve GPU stocks
      description: Returns information on current and upcoming GPU availability, organized byregion and GPU model. For additional information on GPU stocks,**click here**.
      operationId: Get_GPU_stock
      responses:
        '200':
          description: GPU stocks retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/New_Stock_Retrive_Response'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Stocks Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    New_Stock_Response:
      type: object
      properties:
        region:
          type: string
        stock-type:
          type: string
        models:
          type: array
          items:
            $ref: '#/components/schemas/New_Model_Response'
    New_Stock_Retrive_Response:
      type: object
      properties:
        stocks:
          type: array
          items:
            $ref: '#/components/schemas/New_Stock_Response'
    New_Configurations_Response:
      type: object
      properties:
        1x:
          type: integer
        2x:
          type: integer
        4x:
          type: integer
        8x:
          type: integer
        10x:
          type: integer
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    New_Model_Response:
      type: object
      properties:
        model:
          type: string
        available:
          type: string
        planned_7_days:
          type: string
        planned_30_days:
          type: string
        planned_100_days:
          type: string
        configurations:
          $ref: '#/components/schemas/New_Configurations_Response'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
