openapi: 3.2.0
info:
  title: Nexgen Cloud Billing API
  version: '1.0'
  description: 'Operations tagged Billing across 2 of this provider''s published API definitions: nexgen-cloud-hyperstack-openapi.json, nexgen-cloud-infrahub-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
tags:
- name: Billing
  description: Billing endpoints expose your account's billing history, current credit balance, payment history, and usage costs. Use these to reconcile spend, build internal cost reports, or trigger alerts when balances drop below a threshold.
paths:
  /billing/billing/history:
    get:
      tags:
      - Billing
      summary: Retrieve Billing History for a specific Billing Cycle
      description: Returns billing history for the specified billing cycle. The response includes 'incurred_bill', 'non_discounted_bill', 'vm_cost', 'volume_cost'.
      operationId: Get_User_Billing_History
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:42'
      - name: graph
        in: query
        description: Set this value to "true" for getting graph value
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationLevelBillingHistoryResponseModel'
              example:
                status: true
                message: Biling History Retrieved Successfully.
                billing_history:
                  org_id: 5341
                  billing_history:
                  - attributes:
                      id: 9d8a4f10-2c5d-4b14-8f5a-1e6c8e8b2d3f
                    metrics:
                      incurred_bill: 1.8618369809542292
                      non_discounted_bill: 3.0973724763553148
                      vm_cost: 1.8323197487221545
                      volume_cost: 0.013217769698367875
                      contract_cost: 0
                      snapshot_cost: 0.0017161291466639998
                      bucket_cost: 1.4799118041992184e-11
                      ais_token_cost: 0
                      ais_workload_cost: 0
                  total_count: 1
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Biling History Retrieved Successfully.
                    billing_history:
                      org_id: 5341
                      billing_history:
                      - attributes:
                          id: 9d8a4f10-2c5d-4b14-8f5a-1e6c8e8b2d3f
                        metrics:
                          incurred_bill: 1.8618369809542292
                          non_discounted_bill: 3.0973724763553148
                          vm_cost: 1.8323197487221545
                          volume_cost: 0.013217769698367875
                          contract_cost: 0
                          snapshot_cost: 0.0017161291466639998
                          bucket_cost: 1.4799118041992184e-11
                          ais_token_cost: 0
                          ais_workload_cost: 0
                      total_count: 1
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/bucket:
    get:
      tags:
      - Billing
      summary: Get bucket billing history
      description: Returns billing history of buckets for the specified billing cycle. The response includes 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'.
      operationId: List_Bucket_Billing_History
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:43'
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelBucketBillingHistoryResponseModel'
              example:
                success: true
                message: Billing History for Bucket Retrieved Successfully.
                billing_history_bucket:
                  org_id: 8429
                  billing_history:
                  - attributes:
                      id: b18e3f72-4a5d-4c9e-8b7f-0a3c1d2e4f56
                      infrahub_id: 7613
                      resource_name: uimap-bucket-test
                      status: ACTIVE
                    metrics:
                      incurred_bill: 1.4799118041992184e-11
                      non_discounted_bill: 1.4799118041992184e-11
                      price_per_hour: 1.479911804199218e-10
                      non_discounted_price_per_hour: 1.479911804199218e-10
                      usage_time: 1680
                      size: 7.62939453125e-06
                  total_count: 1
                  pagination:
                    page: 1
                    per_page: 10
                    pages: 1
                    total_count: 1
              examples:
                default:
                  summary: Successful response
                  value:
                    success: true
                    message: Billing History for Bucket Retrieved Successfully.
                    billing_history_bucket:
                      org_id: 8429
                      billing_history:
                      - attributes:
                          id: b18e3f72-4a5d-4c9e-8b7f-0a3c1d2e4f56
                          infrahub_id: 7613
                          resource_name: uimap-bucket-test
                          status: ACTIVE
                        metrics:
                          incurred_bill: 1.4799118041992184e-11
                          non_discounted_bill: 1.4799118041992184e-11
                          price_per_hour: 1.479911804199218e-10
                          non_discounted_price_per_hour: 1.479911804199218e-10
                          usage_time: 1680
                          size: 7.62939453125e-06
                      total_count: 1
                      pagination:
                        page: 1
                        per_page: 10
                        pages: 1
                        total_count: 1
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/bucket/{bucket_id}:
    get:
      tags:
      - Billing
      summary: Get snapshot billing history
      description: Retrieve billing history of a specific Bucket for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour', 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'.
      operationId: Get_Bucket_billing_history
      parameters:
      - name: bucket_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the bucket.
      - name: start_date
        in: query
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelBucketBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/bucket/{bucket_id}/graph:
    get:
      tags:
      - Billing
      summary: Get bucket hourly cost datapoints
      description: Returns hourly cost datapoints for a Bucket for a specified billing cycle. The response includes 'incurred_bill' graph datapoints.
      operationId: Buckets_billing_history_hourly_chart
      parameters:
      - name: bucket_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the bucket.
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelGraphBillingDetailsBucket'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/cluster:
    get:
      tags:
      - Billing
      summary: List cluster billing history
      description: Returns billing history of clusters for the specified billing cycle. The response includes 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'.
      operationId: List_Clusters_billing_history
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterBillingHistoryResponseModel'
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: 'Not Found


            Common cause: `error_reason: not_found`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Not Found
                  value:
                    status: false
                    message: 'No cluster data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:43 '
                    error_reason: not_found
              example:
                status: false
                message: 'No cluster data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:43 '
                error_reason: not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/cluster/{cluster_id}:
    get:
      tags:
      - Billing
      summary: Get cluster billing history
      description: Returns the accrued cost, hourly rate, and billable hours for a Kubernetes cluster over a date range you specify. The same figures are broken down by individual node, so you can see which nodes account for the total.
      operationId: Get_Cluster_billing_history
      parameters:
      - name: cluster_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the cluster.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/cluster/{cluster_id}/graph:
    get:
      tags:
      - Billing
      summary: Get cluster hourly cost datapoints
      description: Returns hourly cost datapoints for a Cluster for a specified billing cycle. The response includes 'incurred_bill' graph datapoints.
      operationId: Get_cluster_billing_history_graph
      parameters:
      - name: cluster_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the cluster.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelClusterGraphBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/contract:
    get:
      tags:
      - Billing
      summary: Get contract billing history
      description: Returns billing history of contracts for the specified billing cycle. The response includes 'description', gpu_type','infrahub_id', 'status', 'incurred_bill', 'price_per_hour'.
      operationId: List_billing_contract_history
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by Contract "Description" or "ID"
        schema:
          type: string
      responses:
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: 'Not Found


            Common cause: `error_reason: not_found`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Not Found
                  value:
                    status: false
                    message: Billing History for Contracts does not exist.
                    error_reason: not_found
              example:
                status: false
                message: Billing History for Contracts does not exist.
                error_reason: not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/data_synthesis:
    get:
      tags:
      - Billing
      summary: List data-synthesis billing history
      description: Returns billing history of data_synthesis for the specified billing cycle.
      operationId: Get_data_synthesis_billing_history
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: 'Not Found


            Common cause: `error_reason: not_found`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Not Found
                  value:
                    status: false
                    message: 'No data_synthesis data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:58 '
                    error_reason: not_found
              example:
                status: false
                message: 'No data_synthesis data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:58 '
                error_reason: not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/data_synthesis/{resource_id}:
    get:
      tags:
      - Billing
      description: Retrieve billing history for a specific Data Synthesis resource.
      operationId: Get_data_synthesis_history_for_resource
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the resource.
      - name: start_date
        in: query
        required: true
        description: ISO 8601 timestamp (YYYY-MM-DDTHH:MM:SS) bounding the query range.
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: ISO 8601 timestamp (YYYY-MM-DDTHH:MM:SS) bounding the query range.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSynthesisBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
      summary: Get data-synthesis billing history for a resource
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/data_synthesis/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Get data-synthesis hourly cost datapoints
      description: Returns hourly cost datapoints for a data synthesis job for a specified billing cycle.
      operationId: Get_data_synthesis_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the resource.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSynthesisBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/fine_tuning:
    get:
      tags:
      - Billing
      summary: List model-evaluation billing history
      description: Returns billing history of fine_tuning for the specified billing cycle.
      operationId: Get_fine-tuning_billing_history
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkloadBillingHistoryResponse'
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: 'Not Found


            Common cause: `error_reason: not_found`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Not Found
                  value:
                    status: false
                    message: 'No fine-tuning data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:59 '
                    error_reason: not_found
              example:
                status: false
                message: 'No fine-tuning data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:59 '
                error_reason: not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/fine_tuning/{resource_id}:
    get:
      tags:
      - Billing
      summary: Get fine-tuning resource billing history
      description: Retrieve billing history of a specific Fine tuning for the specified billing cycle.
      operationId: Get_resource_fine-tuning_billing_history
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the resource.
      - name: start_date
        in: query
        required: true
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/fine_tuning/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Get fine-tuning resource hourly cost datapoints
      description: Returns hourly cost datapoints for a Fine Tunings for a specified billing cycle.
      operationId: Get_fine-tuning_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the resource.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/model_evaluation:
    get:
      tags:
      - Billing
      summary: List model-evaluation billing history
      description: Returns billing history of model_evaluation for the specified billing cycle.
      operationId: Get_model_evaluation_billing_history
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: 'Not Found


            Common cause: `error_reason: not_found`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Not Found
                  value:
                    status: false
                    message: 'No model_evaluation data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:59 '
                    error_reason: not_found
              example:
                status: false
                message: 'No model_evaluation data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:59 '
                error_reason: not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/model_evaluation/{resource_id}:
    get:
      tags:
      - Billing
      description: Retrieve billing history for a specific Model Evaluation resource.
      operationId: Get_resource_model_evaluation_billing_history
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the resource.
      - name: start_date
        in: query
        required: true
        description: ISO 8601 timestamp (YYYY-MM-DDTHH:MM:SS) bounding the query range.
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: ISO 8601 timestamp (YYYY-MM-DDTHH:MM:SS) bounding the query range.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluationBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
      summary: Get model-evaluation billing history for a resource
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/model_evaluation/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Get model-evaluation hourly cost datapoints
      description: Returns hourly cost datapoints for a model evaluation for a specified billing cycle.
      operationId: Get_model_evaluation_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the resource.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelEvaluationBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/serverless_inference:
    get:
      tags:
      - Billing
      summary: List serverless-inference billing history
      description: Returns billing history of serverless_inference for the specified billing cycle.
      operationId: List_serverless_inference_billing_history
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBasedBillingHistoryResponse'
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: 'Not Found


            Common cause: `error_reason: not_found`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Not Found
                  value:
                    status: false
                    message: 'No serverless_inference data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:59 '
                    error_reason: not_found
              example:
                status: false
                message: 'No serverless_inference data found for 2026-05-01T00:00:00 - 2026-05-07T17:48:59 '
                error_reason: not_found
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/serverless_inference/{resource_id}:
    get:
      tags:
      - Billing
      description: Retrieve billing history for a specific Serverless Inference resource.
      operationId: Get_serverless_inferences_billing_history
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the resource.
      - name: start_date
        in: query
        required: true
        description: ISO 8601 timestamp (YYYY-MM-DDTHH:MM:SS) bounding the query range.
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: ISO 8601 timestamp (YYYY-MM-DDTHH:MM:SS) bounding the query range.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessInferencedBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
      summary: Get serverless-inference billing history for a resource
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/serverless_inference/{resource_id}/graph:
    get:
      tags:
      - Billing
      summary: Get serverless-inference hourly cost datapoints
      description: Returns hourly cost datapoints for a serverless inference for a specified billing cycle.
      operationId: Get_serverless_inference_billing_history_graph
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the resource.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerlessInferencedBillingHistoryDetailsResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/snapshot:
    get:
      tags:
      - Billing
      summary: List snapshot billing history
      description: Returns billing history of snapshots for the specified billing cycle. The response includes 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'.
      operationId: List_snapshot_billing_history
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:45'
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingHistoryResponseModel'
              example:
                success: true
                message: Billing History for Snapshot Retrieved Successfully.
                billing_history_snapshot:
                  org_id: 6190
                  billing_history:
                  - attributes:
                      id: 9d8a4f10-2c5d-4b14-8f5a-1e6c8e8b2d3f
                      infrahub_id: 8429
                      resource_name: example-snapshot
                      status: SUCCESS
                    metrics:
                      incurred_bill: 6.451613333333334e-06
                      non_discounted_bill: 0
                      price_per_hour: 0
                      non_discounted_price_per_hour: 0
                      usage_time: 0
                  - attributes:
                      id: f3a91c44-7b2e-49d7-a16d-5c3e8d9a0b21
                      infrahub_id: 4501
                      resource_name: example-snapshot-2
                      status: SUCCESS
                    metrics:
                      incurred_bill: 9.677420000000002e-05
                      non_discounted_bill: 8.387097333333335e-05
                      price_per_hour: 0.0003870968
                      non_discounted_price_per_hour: 0.0003870968
                      usage_time: 660
                  - attributes:
                      id: 2c4e6a18-5d3b-4f80-93a1-7e5b9c2f1d44
                      infrahub_id: 6190
                      resource_name: example-snapshot-3
                      status: SUCCESS
                    metrics:
                      incurred_bill: 0.00020645162666666658
                      non_discounted_bill: 0.00020645162666666658
                      price_per_hour: 0.0003870968
                      non_discounted_price_per_hour: 0.0003870968
                      usage_time: 1920
                  total_count: 13
                  pagination:
                    page: 1
                    per_page: 10
                    pages: 1
                    total_count: 13
              examples:
                default:
                  summary: Successful response
                  value:
                    success: true
                    message: Billing History for Snapshot Retrieved Successfully.
                    billing_history_snapshot:
                      org_id: 6190
                      billing_history:
                      - attributes:
                          id: 9d8a4f10-2c5d-4b14-8f5a-1e6c8e8b2d3f
                          infrahub_id: 8429
                          resource_name: example-snapshot
                          status: SUCCESS
                        metrics:
                          incurred_bill: 6.451613333333334e-06
                          non_discounted_bill: 0
                          price_per_hour: 0
                          non_discounted_price_per_hour: 0
                          usage_time: 0
                      - attributes:
                          id: f3a91c44-7b2e-49d7-a16d-5c3e8d9a0b21
                          infrahub_id: 4501
                          resource_name: example-snapshot-2
                          status: SUCCESS
                        metrics:
                          incurred_bill: 9.677420000000002e-05
                          non_discounted_bill: 8.387097333333335e-05
                          price_per_hour: 0.0003870968
                          non_discounted_price_per_hour: 0.0003870968
                          usage_time: 660
                      - attributes:
                          id: 2c4e6a18-5d3b-4f80-93a1-7e5b9c2f1d44
                          infrahub_id: 6190
                          resource_name: example-snapshot-3
                          status: SUCCESS
                        metrics:
                          incurred_bill: 0.00020645162666666658
                          non_discounted_bill: 0.00020645162666666658
                          price_per_hour: 0.0003870968
                          non_discounted_price_per_hour: 0.0003870968
                          usage_time: 1920
                      total_count: 13
                      pagination:
                        page: 1
                        per_page: 10
                        pages: 1
                        total_count: 13
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/snapshot/{snapshot_id}:
    get:
      tags:
      - Billing
      summary: Get snapshot billing history
      description: 'Retrieve billing history of a specific Snapshot for the specified billing cycle. This data will include ''resource_name'', ''infrahub_id'', ''price_per_hour'', ''incurred_bill'', ''usage_time'', ''non_discounted_price_per_hour'', ''non_discounted_bill''.


        > **Reliability:** This endpoint returns `500` intermittently. Retry with backoff; if the failure persists, contact support.'
      operationId: Get_Snapshot_billing_history
      parameters:
      - name: snapshot_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the snapshot.
      - name: start_date
        in: query
        required: true
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Datetime should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:57'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
              example:
                status: true
                message: Biling Details for the snapshot Retrieved Successfully.
                billing_history_snapshot_details:
                  org_id: 3287
                  billing_history:
                  - attributes:
                      id: 2c4e6a18-5d3b-4f80-93a1-7e5b9c2f1d44
                      infrahub_id: 5341
                      resource_name: example-snapshot
                      status: SUCCESS
                      subresource_amount: 4
                      subresource_type: Cloud-SSD
                    metrics:
                      price_per_hour: 0
                      incurred_bill: 6.451613333333334e-06
                      usage_time: 0
                      non_discounted_price_per_hour: 0
                      non_discounted_bill: 0
                  total_count: 1
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Biling Details for the snapshot Retrieved Successfully.
                    billing_history_snapshot_details:
                      org_id: 3287
                      billing_history:
                      - attributes:
                          id: 2c4e6a18-5d3b-4f80-93a1-7e5b9c2f1d44
                          infrahub_id: 5341
                          resource_name: example-snapshot
                          status: SUCCESS
                          subresource_amount: 4
                          subresource_type: Cloud-SSD
                        metrics:
                          price_per_hour: 0
                          incurred_bill: 6.451613333333334e-06
                          usage_time: 0
                          non_discounted_price_per_hour: 0
                          non_discounted_bill: 0
                      total_count: 1
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples:
                default:
                  summary: Internal Server Error
                  value:
                    message: Internal Server Error
              example:
                message: Internal Server Error
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/snapshot/{snapshot_id}/graph:
    get:
      tags:
      - Billing
      summary: Get snapshot hourly cost datapoints
      description: 'Returns hourly cost datapoints for a Snapshot for a specified billing cycle. The response includes ''incurred_bill'' graph datapoints.


        > **Reliability:** This endpoint returns `500` intermittently. Retry with backoff; if the failure persists, contact support.'
      operationId: Get_snapshot_billing_history_graph
      parameters:
      - name: snapshot_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the snapshot.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:57'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeGraphBillingDetailsResponseModel'
              example:
                status: true
                message: Biling Details Hourly Cost datapointsfor the snapshot Retrieved Successfully.
                billing_history_snapshot_details:
                  org_id: 3287
                  billing_history:
                  - attributes:
                      id: 2c4e6a18-5d3b-4f80-93a1-7e5b9c2f1d44
                      infrahub_id: 5341
                      resource_name: example-snapshot
                      status: SUCCESS
                      subresource_amount: 4
                      subresource_type: Cloud-SSD
                    metrics:
                      incurred_bill: 6.451613333333334e-06
                      incurred_bill_graph:
                      - datetime: '2026-05-06T14:32:11Z'
                        value: 6.451613333333334e-06
                  total_count: 1
                  granularity: 86400
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Biling Details Hourly Cost datapointsfor the snapshot Retrieved Successfully.
                    billing_history_snapshot_details:
                      org_id: 3287
                      billing_history:
                      - attributes:
                          id: 2c4e6a18-5d3b-4f80-93a1-7e5b9c2f1d44
                          infrahub_id: 5341
                          resource_name: example-snapshot
                          status: SUCCESS
                          subresource_amount: 4
                          subresource_type: Cloud-SSD
                        metrics:
                          incurred_bill: 6.451613333333334e-06
                          incurred_bill_graph:
                          - datetime: '2026-05-06T14:32:11Z'
                            value: 6.451613333333334e-06
                      total_count: 1
                      granularity: 86400
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples:
                default:
                  summary: Internal Server Error
                  value:
                    message: Internal Server Error
              example:
                message: Internal Server Error
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/virtual-machine:
    get:
      tags:
      - Billing
      summary: List VM billing history
      description: Returns billing history of virtual machine for the specified billing cycle. The response includes 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'.
      operationId: Get_VM_Billing_History
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:46'
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVmBillingHistoryResponseModel'
              example:
                success: true
                message: Billing History for Virtual Machine Retrieved Successfully.
                billing_history_vm:
                  org_id: 3287
                  billing_history:
                  - attributes:
                      id: 2c4e6a18-5d3b-4f80-93a1-7e5b9c2f1d44
                      infrahub_id: 5341
                      resource_name: example-restored-1789
                      status: ACTIVE
                      contract_id: null
                    metrics:
                      incurred_bill: 0
                      non_discounted_bill: 0.01
                      price_per_hour: 0.30000000000000004
                      non_discounted_price_per_hour: 0
                      usage_time: 120
                  - attributes:
                      id: b18e3f72-4a5d-4c9e-8b7f-0a3c1d2e4f56
                      infrahub_id: 7613
                      resource_name: example-vm-2
                      status: ACTIVE
                      contract_id: null
                    metrics:
                      incurred_bill: 0.0034838710000000004
                      non_discounted_bill: 0.0034838710000000004
                      price_per_hour: 0.3483871
                      non_discounted_price_per_hour: 0.3483871
                      usage_time: 36
                  - attributes:
                      id: 7e2d5a13-9c8b-4f1e-a420-3d6f8b9c0e15
                      infrahub_id: 3287
                      resource_name: example-restored-1788
                      status: ACTIVE
                      contract_id: null
                    metrics:
                      incurred_bill: 0.04
                      non_discounted_bill: 0.035
                      price_per_hour: 0.30000000000000004
                      non_discounted_price_per_hour: 0.30000000000000004
                      usage_time: 480
                  total_count: 37
                  pagination:
                    page: 1
                    per_page: 10
                    pages: 4
              examples:
                default:
                  summary: Successful response
                  value:
                    success: true
                    message: Billing History for Virtual Machine Retrieved Successfully.
                    billing_history_vm:
                      org_id: 3287
                      billing_history:
                      - attributes:
                          id: 2c4e6a18-5d3b-4f80-93a1-7e5b9c2f1d44
                          infrahub_id: 5341
                          resource_name: example-restored-1789
                          status: ACTIVE
                          contract_id: null
                        metrics:
                          incurred_bill: 0
                          non_discounted_bill: 0.01
                          price_per_hour: 0.30000000000000004
                          non_discounted_price_per_hour: 0
                          usage_time: 120
                      - attributes:
                          id: b18e3f72-4a5d-4c9e-8b7f-0a3c1d2e4f56
                          infrahub_id: 7613
                          resource_name: example-vm-2
                          status: ACTIVE
                          contract_id: null
                        metrics:
                          incurred_bill: 0.0034838710000000004
                          non_discounted_bill: 0.0034838710000000004
                          price_per_hour: 0.3483871
                          non_discounted_price_per_hour: 0.3483871
                          usage_time: 36
                      - attributes:
                          id: 7e2d5a13-9c8b-4f1e-a420-3d6f8b9c0e15
                          infrahub_id: 3287
                          resource_name: example-restored-1788
                          status: ACTIVE
                          contract_id: null
                        metrics:
                          incurred_bill: 0.04
                          non_discounted_bill: 0.035
                          price_per_hour: 0.30000000000000004
                          non_discounted_price_per_hour: 0.30000000000000004
                          usage_time: 480
                      total_count: 37
                      pagination:
                        page: 1
                        per_page: 10
                        pages: 4
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/virtual-machine/{vm_id}:
    get:
      tags:
      - Billing
      summary: Get VM billing history
      description: 'Returns billing history of a specific Virtual Machine for the specified billing cycle. The response includes ''resource_name'', ''infrahub_id'', ''price_per_hour'', ''non_discounted_price_per_hour'', ''incurred_bill'', ''non_discounted_bill'', ''usage_time'', ''usage_time_ACTIVE'', ''usage_time_SHUTOFF'', ''usage_time_HIBERNATED''


        > **Reliability:** This endpoint returns `500` intermittently. Retry with backoff; if the failure persists, contact support.'
      operationId: Get_VM_Billing_Details
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:53'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVMBillingDetailsResponseModel'
              example:
                status: true
                message: Biling Details  for the Virtual Machine Retrieved Successfully.
                billing_history_vm_details:
                  org_id: 2058
                  billing_history:
                  - attributes:
                      id: 7e2d5a13-9c8b-4f1e-a420-3d6f8b9c0e15
                      infrahub_id: 1402
                      resource_name: example-vm
                      status: ACTIVE
                      contract_id: null
                    metrics:
                      price_per_hour: 0.3483871
                      non_discounted_price_per_hour: 0.3483871
                      incurred_bill: 0.0034838710000000004
                      non_discounted_bill: 0.0034838710000000004
                      usage_time: 36
                      usage_time_ACTIVE: -12
                      usage_time_SHUTOFF: 0
                  total_count: 1
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Biling Details  for the Virtual Machine Retrieved Successfully.
                    billing_history_vm_details:
                      org_id: 2058
                      billing_history:
                      - attributes:
                          id: 7e2d5a13-9c8b-4f1e-a420-3d6f8b9c0e15
                          infrahub_id: 1402
                          resource_name: example-vm
                          status: ACTIVE
                          contract_id: null
                        metrics:
                          price_per_hour: 0.3483871
                          non_discounted_price_per_hour: 0.3483871
                          incurred_bill: 0.0034838710000000004
                          non_discounted_bill: 0.0034838710000000004
                          usage_time: 36
                          usage_time_ACTIVE: -12
                          usage_time_SHUTOFF: 0
                      total_count: 1
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/virtual-machine/{vm_id}/graph:
    get:
      tags:
      - Billing
      summary: Get VM hourly cost datapoints
      description: Returns hourly cost datapoints for a VM for a specified billing cycle. The response includes 'incurred_bill' graph datapoints.
      operationId: Get_VM_Billing_Graph
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the vm.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:53'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVmGraphBillingDetailsResponseModel'
              example:
                status: true
                message: Biling Details Hourly Cost datapoints for the Virtual Machine Retrieved Successfully.
                billing_history_vm_details:
                  org_id: 2058
                  billing_history:
                  - attributes:
                      id: 7e2d5a13-9c8b-4f1e-a420-3d6f8b9c0e15
                      infrahub_id: 1402
                      resource_name: example-vm
                      status: ACTIVE
                      contract_id: null
                    metrics:
                      incurred_bill: 0.0034838710000000004
                      incurred_bill_graph:
                      - datetime: '2026-05-06T16:04:09Z'
                        value: 0.0034838710000000004
                  total_count: 1
                  granularity: 86400
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Biling Details Hourly Cost datapoints for the Virtual Machine Retrieved Successfully.
                    billing_history_vm_details:
                      org_id: 2058
                      billing_history:
                      - attributes:
                          id: 7e2d5a13-9c8b-4f1e-a420-3d6f8b9c0e15
                          infrahub_id: 1402
                          resource_name: example-vm
                          status: ACTIVE
                          contract_id: null
                        metrics:
                          incurred_bill: 0.0034838710000000004
                          incurred_bill_graph:
                          - datetime: '2026-05-06T16:04:09Z'
                            value: 0.0034838710000000004
                      total_count: 1
                      granularity: 86400
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/volume:
    get:
      tags:
      - Billing
      summary: List volume billing history
      description: Returns billing history of volumes for the specified billing cycle. The response includes 'resource_name', 'infrahub_id', 'status', 'incurred_bill', 'usage_time', 'price_per_hour'.
      operationId: Get_Volume_Billing_History
      parameters:
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:47'
      - name: search
        in: query
        description: Search by resource "Name" or "ID"
        schema:
          type: string
      - name: per_page
        in: query
        description: Number of items to return per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number of results to return.
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingHistoryResponseModel'
              example:
                success: true
                message: Billing History for Volume Retrieved Successfully.
                billing_history_volume:
                  org_id: 2058
                  billing_history:
                  - attributes:
                      id: 7e2d5a13-9c8b-4f1e-a420-3d6f8b9c0e15
                      infrahub_id: 1402
                      resource_name: example-volume
                      status: IN-USE
                    metrics:
                      incurred_bill: 1.6129033333333334e-05
                      non_discounted_bill: 0
                      price_per_hour: 0.0009677420000000001
                      non_discounted_price_per_hour: 0.0009677420000000001
                      usage_time: 60
                  - attributes:
                      id: 9d8a4f10-2c5d-4b14-8f5a-1e6c8e8b2d3f
                      infrahub_id: 9876
                      resource_name: example-volume-2
                      status: AVAILABLE
                    metrics:
                      incurred_bill: 0.00012903226666666667
                      non_discounted_bill: 0.00014193549333333335
                      price_per_hour: 0.0009677420000000001
                      non_discounted_price_per_hour: 0.0009677420000000001
                      usage_time: 480
                  - attributes:
                      id: f3a91c44-7b2e-49d7-a16d-5c3e8d9a0b21
                      infrahub_id: 2058
                      resource_name: example-volume-3
                      status: AVAILABLE
                    metrics:
                      incurred_bill: 0.00040000002666666656
                      non_discounted_bill: 0.00040000002666666656
                      price_per_hour: 0.0009677420000000001
                      non_discounted_price_per_hour: 0.0009677420000000001
                      usage_time: 1548
                  total_count: 10
                  pagination:
                    page: 1
                    per_page: 10
                    pages: 2
                    total_count: 17
              examples:
                default:
                  summary: Successful response
                  value:
                    success: true
                    message: Billing History for Volume Retrieved Successfully.
                    billing_history_volume:
                      org_id: 2058
                      billing_history:
                      - attributes:
                          id: 7e2d5a13-9c8b-4f1e-a420-3d6f8b9c0e15
                          infrahub_id: 1402
                          resource_name: example-volume
                          status: IN-USE
                        metrics:
                          incurred_bill: 1.6129033333333334e-05
                          non_discounted_bill: 0
                          price_per_hour: 0.0009677420000000001
                          non_discounted_price_per_hour: 0.0009677420000000001
                          usage_time: 60
                      - attributes:
                          id: 9d8a4f10-2c5d-4b14-8f5a-1e6c8e8b2d3f
                          infrahub_id: 9876
                          resource_name: example-volume-2
                          status: AVAILABLE
                        metrics:
                          incurred_bill: 0.00012903226666666667
                          non_discounted_bill: 0.00014193549333333335
                          price_per_hour: 0.0009677420000000001
                          non_discounted_price_per_hour: 0.0009677420000000001
                          usage_time: 480
                      - attributes:
                          id: f3a91c44-7b2e-49d7-a16d-5c3e8d9a0b21
                          infrahub_id: 2058
                          resource_name: example-volume-3
                          status: AVAILABLE
                        metrics:
                          incurred_bill: 0.00040000002666666656
                          non_discounted_bill: 0.00040000002666666656
                          price_per_hour: 0.0009677420000000001
                          non_discounted_price_per_hour: 0.0009677420000000001
                          usage_time: 1548
                      total_count: 10
                      pagination:
                        page: 1
                        per_page: 10
                        pages: 2
                        total_count: 17
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              examples: {}
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /billing/billing/history/volume/{volume_id}:
    get:
      tags:
      - Billing
      summary: Get volume billing history
      description: Retrieve billing history of a specific Volume for the specified billing cycle. This data will include 'resource_name', 'infrahub_id', 'price_per_hour', 'incurred_bill', 'usage_time', 'non_discounted_price_per_hour', 'non_discounted_bill'.
      operationId: Get_Volume_Billing_Details
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
        description: ID of the volume.
      - name: start_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-01T00:00:00'
      - name: end_date
        in: query
        required: true
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema:
          type: string
        example: '2026-05-07T17:48:56'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceLevelVolumeBillingDetailsResponseModel'
              example:
                status: true
                message: Biling Details for the Volume Retrieved Successfully.
                billing_history_volume_details:
                  org_id: 1129
                  billing_history:
                  - attributes:
                      id: f3a91c44-7b2e-49d7-a16d-5c3e8d9a0b21
                      infrahub_id: 4501
                      resource_name: example-volume
                      status: IN-USE
                      subresource_amount: 10
                      subresource_type: Cloud-SSD
                    metrics:
                      price_per_hour: 0.0009677420000000001
                      incurred_bill: 1.6129033333333334e-05
                      usage_time: 60
                      non_discounted_price_per_hour: 0.0009677420000000001
                      non_discounted_bill: 0
                  total_count: 1
              examples:
                default:
                  summary: Successful response
                  value:
                    status: true
                    message: Biling Details for the Volume Retrieved Successfully.
                    billing_history_volume_details:
                      org_id: 1129
                      billing_history:
                      - attributes:
                          id: f3a91c44-7b2e-49d7-a16d-5c3e8d9a0b21
                          infrahub_id: 4501
                          resource_name: example-volume
                          status: IN-USE
                          subresource_amount: 10
                          subresource_type: Cloud-SSD
                        metrics:
                          price_per_hour: 0.0009677420000000001
                          incurred_bill: 1.6129033333333334e-05
                          usage_time: 60
                          non_discounted_price_per_hour: 0.0009677420000000001
                          non_discounted_bill: 0
                      total_count: 1
        '400':
          description: 'Bad Request


            Common cause: `error_reason: bad_request`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
              examples:
                default:
                  summary: Bad Request
                  value:
                    status: false
                    message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                    error_reason: bad_request
              example:
                status: false
                message: The query parameter 'start_date' and 'end_date' must be in the format YYYY-MM-DDTHH:MM:SS
                error_reason: bad_request
[...]
