openapi: 3.2.0
info:
  title: Infrahub Payment API
  version: '1.0'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Payment
paths:
  /billing/payment/payment-details:
    get:
      tags:
      - Payment
      summary: 'GET: View payment details'
      description: Retrieves a list of all payments made within your **organization** and their details, including the amount, payment status, and more. For additional information **click here**.
      operationId: List_payment_details
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_Details_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /billing/payment/payment-initiate:
    post:
      tags:
      - Payment
      summary: 'POST: Initiate payment'
      description: Creates a payment for a specified amount, adding credit to the balance of your **organization**. Include the `amount` in the body of the request to make a payment for the specified value in dollars. View a history of past payments by calling the **Retrieve Payment History** API. For additional information **click here**.
      operationId: Initiate_Payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Payment_Initiate_Payload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment_Initiate_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /billing/payment/receipt/{payment_id}:
    get:
      tags:
      - Payment
      summary: Retrieve Payment Receipt
      description: Retrieve the payment receipt from Stripe for a specific payment
      operationId: Get_payment_receipt
      parameters:
      - name: payment_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Payment_Initiate_Response:
      type: object
      properties:
        message:
          type: string
        status:
          type: boolean
        data:
          $ref: '#/components/schemas/Payment_Initiate_Fields'
    Payment_Details_Fields:
      type: object
      properties:
        amount:
          type: number
        tax_amount:
          type: number
        currency:
          type: string
        paid_from:
          type: string
        status:
          type: string
        payment_type:
          type: string
        gateway_response:
          type: string
        description:
          type: string
        transaction_id:
          type: string
        invoice:
          type: string
        payment_id:
          type: string
        auto_topup_id:
          type: integer
        attempt_number:
          type: integer
        max_attempts:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Payment_Initiate_Payload:
      type: object
      properties:
        amount:
          type: number
    Payment_Details_Response:
      type: object
      properties:
        message:
          type: string
        status:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Payment_Details_Fields'
    Payment_Initiate_Fields:
      type: object
      properties:
        payment_id:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
