openapi: 3.2.0
info:
  title: Infrahub Customer Contract API
  version: '1.0'
  description: Customer Contract APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Customer Contract
  description: Customer Contract APIs
paths:
  /pricebook/contracts:
    get:
      tags:
      - Customer Contract
      summary: List Contracts
      description: Retrieves a list of contracts and their details, including the terms of each contract and the discounts applied to all resources under each contract. Pagination can be controlled using the `page` and `per_page` query parameters. For additional information about contracts, click **here**.
      operationId: List_customer_contracts
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: per_page
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCustomerContractsListResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /pricebook/contracts/{contract_id}:
    get:
      tags:
      - Customer Contract
      summary: Retrieve Contract Details
      description: Retrieve details of a specific contract by providing the contract ID in the path. The endpoint returns the contract object along with its associated discount plans. For more information, **click here**.
      operationId: Retrieve_contract
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerContractDetailResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /pricebook/contracts/{contract_id}/gpu_allocation_graph:
    get:
      tags:
      - Customer Contract
      summary: Retrieve GPU Allocation Graph for Contract
      description: Retrieve GPU allocation count graph for a specific contract by providing the contract ID in the path. The endpoint returns the GPU allocation count graph for the contract within the specified date range.
      operationId: Get_contract_GPU_allocation_graph
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: integer
      - name: start_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      - name: end_date
        in: query
        description: Date should be formatted in YYYY-MM-DDTHH:MM:SS
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractGPUAllocationGraphResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Contract:
      type: object
      properties:
        id:
          type: string
        org_id:
          type: integer
        status:
          type: string
        granularity:
          type: integer
        total_gpu_allocation:
          type: integer
        allocated_gpu_count_graph:
          type: array
          items:
            $ref: '#/components/schemas/AllocatedGPUCountGraph'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    ContractDiscountPlanFields:
      type: object
      properties:
        id:
          type: integer
        resource_id:
          type: integer
        resource_name:
          type: string
        resource_count:
          type: integer
        discount_type:
          type: string
        discount_code:
          type: string
        discount_percent:
          type: number
        discount_amount:
          type: number
        discount_status:
          type: string
        remaining_count:
          type: integer
    AllocatedGPUCountGraph:
      type: object
      properties:
        datetime:
          type: string
        value:
          type: integer
    ContractGPUAllocationGraphResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        contract:
          $ref: '#/components/schemas/Contract'
    GetCustomerContractsListResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        contracts:
          type: array
          items:
            $ref: '#/components/schemas/CustomerContractFields'
        count:
          type: integer
    CustomerContractFields:
      type: object
      properties:
        id:
          type: integer
        org_id:
          type: integer
        description:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        expiration_policy:
          type: integer
        status:
          type: string
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/ContractDiscountPlanFields'
        created_at:
          type: string
          format: date-time
    CustomerContractDetailResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        contracts:
          $ref: '#/components/schemas/CustomerContractFields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
