openapi: 3.2.0
info:
  title: Infrahub Profile API
  version: '1.0'
  description: Profile APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Profile
  description: Profile APIs
paths:
  /core/profiles:
    get:
      tags:
      - Profile
      summary: List profiles
      description: Returns a list of your existing provisioning profiles, providing virtual machine configuration details for each. For additional information about profiles,**click here**.
      operationId: List_profiles
      responses:
        '200':
          description: Getting profiles success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile_List_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - Profile
      summary: Create profile
      description: Creates a provisioning profile to save the configuration of a virtual machinefor future use. Include the profile name, description, and virtual machine configuration details in the request body. For more information about virtual machine profiles,**click here**.
      operationId: Create_profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_Profile_Payload'
        required: true
      responses:
        '201':
          description: Profile created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create_Profile_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/profiles/{id}:
    get:
      tags:
      - Profile
      summary: Retrieve profile details
      description: Retrieves details for an existing provisioning profile by supplying the profile ID in the request path. For more information about profiles, **click here**.
      operationId: Get_profile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Profile details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create_Profile_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    delete:
      tags:
      - Profile
      summary: Delete profile
      description: Permanently deletes a provisioning profile. Supply the profile ID in the path to delete the specified profile.
      operationId: Delete_profile
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Profile deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Profile_List_Response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/Profile_Fields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Profile_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        data:
          type: string
        created_at:
          type: string
          format: date-time
    Create_Profile_Response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        profile:
          $ref: '#/components/schemas/Profile_Fields'
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    Create_Profile_Payload:
      required:
      - data
      - name
      type: object
      properties:
        name:
          maxLength: 50
          type: string
          description: The name of the profile being created.
        description:
          maxLength: 150
          type: string
          description: The optional description for the profile being created.
        data:
          type: object
          additionalProperties:
            type: string
          description: The data object containing the configuration details of the virtual machine profile being created.
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
