openapi: 3.2.0
info:
  title: Infrahub Credit API
  version: '1.0'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Credit
paths:
  /billing/user-credit/credit:
    get:
      tags:
      - Credit
      summary: 'GET: View credit and threshold'
      description: Retrieves the current credit balance for your **organization**. Ensuring a positive credit balance allows you to create resources. However, for prepaid accounts, if the credit balance falls below $0, all associated resources will be temporarily suspended until a **payment** is made. For additional information, **click here**.
      operationId: Get_user_credit
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get_credit_and_threshold_info_in_response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Get_credit_and_threshold_info:
      type: object
      properties:
        credit:
          type: number
        threshold:
          type: number
        can_create_instance:
          type: boolean
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Get_credit_and_threshold_info_in_response:
      type: object
      properties:
        message:
          type: string
        status:
          type: boolean
        data:
          $ref: '#/components/schemas/Get_credit_and_threshold_info'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
