openapi: 3.2.0
info:
  title: Infrahub virtual machine API
  version: '1.0'
  description: Virtual Machine APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: virtual machine
  description: Virtual Machine APIs
paths:
  /core/virtual-machines:
    get:
      tags:
      - virtual machine
      summary: List virtual machines
      description: Returns a list of your existing virtual machines, providing configuration details for each. The list is sorted by creation date, with the oldest virtual machines displayed first.
      operationId: List_VMs
      parameters:
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          default: 10
      - name: search
        in: query
        schema:
          type: string
      - name: environment
        in: query
        schema:
          type: string
      - name: exclude_firewalls
        in: query
        description: Comma-separated list of Security Group IDs to ignore instances attached
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: exact_environment_match
        in: query
        description: Flag to filter environment by exact match instead of partial match
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instances'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - virtual machine
      summary: Create virtual machines
      description: Creates one or more virtual machines with the specified custom configuration and features provided in the request body. For more information about the virtual machine features offered by Infrahub, **click here**.
      operationId: Create_VMs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_Instances_Payload'
        required: true
      responses:
        '200':
          description: Virtual machine(s) created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInstancesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/contract/{contract_id}/virtual-machines:
    get:
      tags:
      - virtual machine
      summary: Retrieve virtual machines associated with a contract
      description: Retrieves a list of virtual machines associated with a contract, providing details such as virtual machine name, timestamp, flavor name, and other relevant information. Please provide the ID of the relevant contract in the path.
      operationId: Get_contract_VMs
      parameters:
      - name: contract_id
        in: path
        required: true
        schema:
          type: integer
      - name: page
        in: query
        description: Page Number
        schema: {}
      - name: pageSize
        in: query
        description: Data Per Page
        schema: {}
      - name: search
        in: query
        description: Search By Instance ID or Name
        schema: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractInstancesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/name-availability/{name}:
    get:
      tags:
      - virtual machine
      summary: Fetch virtual machine name availability
      description: Check if a Virtual Machine name is available
      operationId: Check_VM_name_availability
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      - name: count
        in: query
        description: 'Nr of instances to handle (optional, default: 1)'
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailableModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}:
    get:
      tags:
      - virtual machine
      summary: Retrieve virtual machine details
      description: Retrieves the details of an existing virtual machine. Provide the virtual machine ID in the path, and Infrahub will return information about the corresponding VM.
      operationId: Get_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Virtual machine details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    delete:
      tags:
      - virtual machine
      summary: Delete virtual machine
      description: Permanently deletes a virtual machine. Provide the virtual machine ID in the path to delete the specified virtual machine.
      operationId: Delete_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Virtual machine deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/attach-firewalls:
    post:
      tags:
      - virtual machine
      summary: Attach firewalls to a virtual machine
      description: Attach firewalls to a virtual machine by providing the virtual machine ID in the path and the IDs of the firewalls in the request body; any firewalls not included will be detached.
      operationId: Attach_firewalls_to_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachFirewallsToVMPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/enhanced-metrics:
    patch:
      tags:
      - virtual machine
      summary: Enable or disable Enhanced Metrics for a virtual machine
      description: Enable or disable the Hyperstack VM Agent (Enhanced Metrics) for an existing virtual machine. The agent itself must be installed/removed manually inside the VM — the response includes the install command when enabling.
      operationId: Toggle_Enhanced_Metrics_for_a_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEnhancedMetricsPayload'
        required: true
      responses:
        '200':
          description: Enhanced metrics updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEnhancedMetricsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/hard-reboot:
    get:
      tags:
      - virtual machine
      summary: Hard reboot virtual machine
      description: Initiates a hard reboot for a virtual machine, simulating the process of unplugging and rebooting a physical machine. Provide the virtual machine ID in the path to execute a hard reboot for the specified virtual machine.
      operationId: Hard_reboot_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Hard reboot process has been successfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/hibernate:
    get:
      tags:
      - virtual machine
      summary: Hibernate virtual machine
      description: Initiates the hibernation of a virtual machine, saving its current state to disk before powering off. Provide the virtual machine ID in the path to specify the virtual machine to be hibernated.
      operationId: Hibernate_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: retain_ip
        in: query
        description: 'false'
        schema:
          type: string
      responses:
        '200':
          description: Hibernation request for the virtual machine was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/hibernate-restore:
    get:
      tags:
      - virtual machine
      summary: Restore virtual machine from hibernation
      description: Resumes a virtual machine from hibernation, bringing it back to an active state. Provide the virtual machine ID that you want to restore from hibernation.
      operationId: Restore_VM_from_hibernation
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The request to restore the virtual machine from hibernation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/label:
    put:
      tags:
      - virtual machine
      summary: Edit virtual machine labels
      description: Adds one or more labels to an existing virtual machine. Provide the virtual machine ID in the path to add labels to the specified VM. For multiple labels, add a space between each label in the request body.
      operationId: Add_VM_Label
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Edit_label_of_an_existing_VM_Payload'
        required: true
      responses:
        '200':
          description: Labels edited successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/logs:
    get:
      tags:
      - virtual machine
      summary: Get virtual machine logs
      description: Retrieve console logs for a virtual machine
      operationId: Get_VM_Logs
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: request_id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Logs were successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInstanceLogsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - virtual machine
      summary: Request virtual machine logs
      description: Request console logs for a virtual machine
      operationId: Request_VM_Logs
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestInstanceLogsPayload'
        required: true
      responses:
        '200':
          description: Logs were successfully requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestInstanceLogsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/metrics:
    get:
      tags:
      - virtual machine
      summary: Retrieve virtual machine performance metrics
      description: 'Retrieves performance metrics data for a virtual machine. Provide the virtual machine ID in the path to retrieve the following data for the specified virtual machine: CPU usage, memory usage (RAM), `network.in`, `network.out`, `disk.read`, and `disk.write`. The optional `duration` parameter can be used to specify the period for retrieving performance metrics; the default value will retrieve all available data. To learn more about virtual machine performance metrics, **click here**.'
      operationId: Get_VM_metrics
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: duration
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 2h
          - 4h
          - 6h
          - 12h
          - 1d
          - 3d
          - 7d
          - 15d
          - 30d
      responses:
        '200':
          description: Virtual machine performance metrics have been successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsFields'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/resize:
    post:
      tags:
      - virtual machine
      summary: Resize virtual machine
      description: Updates the hardware configuration for an existing virtual machine. Include the virtual machine ID in the path and provide the new configuration, referred to as a `flavor`, in the body of the request. For additional information resizing, **click here**.
      operationId: Resize_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceResizePayload'
        required: true
      responses:
        '200':
          description: The resizing of the virtual machine configuration was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/sg-rules:
    post:
      tags:
      - virtual machine
      summary: Add firewall rule to virtual machine
      description: Creates a firewall rule for a virtual machine. Include the virtual machine ID in the path, and provide the firewall rule configuration in the request body, as detailed below. For additional information on firewall rules, **click here**.
      operationId: Create_firewall_rule_for_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_Security_Rule_Payload'
        required: true
      responses:
        '200':
          description: The firewall rule has been successfully added to the virtual machine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Security_Group_Rule'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/sg-rules/{sg_rule_id}:
    delete:
      tags:
      - virtual machine
      summary: Delete firewall rule from virtual machine
      description: Deletes a firewall rule associated with a virtual machine. Provide the virtual machine ID and the firewall rule ID in the path to remove the specified rule from the specified virtual machine.
      operationId: Delete_firewall_rule_for_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      - name: sg_rule_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The firewall rule has been successfully removed from the virtual machine.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/snapshots:
    post:
      tags:
      - virtual machine
      summary: Create snapshot from a virtual machine
      description: Create snapshots of a virtual machine by providing the virtual machine ID in the path
      operationId: Create_Snapshot_for_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSnapshotPayload'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSnapshotResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/start:
    get:
      tags:
      - virtual machine
      summary: Start virtual machine
      description: Initiates the startup of a virtual machine. Provide the virtual machine ID in the path to initiate the starting of the specified virtual machine.
      operationId: Start_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Virtual machine started successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/stop:
    get:
      tags:
      - virtual machine
      summary: Stop virtual machine
      description: Shuts down a virtual machine. Provide the virtual machine ID in the path to initiate the shutdown process for the specified virtual machine.
      operationId: Stop_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Virtual machine shut down successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    Security_Group_Rule:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        security_rule:
          $ref: '#/components/schemas/Security_Group_Rule_Fields'
    ContractInstanceFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        flavor_name:
          type: string
        gpu_count:
          type: integer
        total_usage_time:
          type: integer
        termination_time:
          type: string
          format: date-time
        cluster:
          $ref: '#/components/schemas/ClusterFields'
    Instance_Image_Fields:
      type: object
      properties:
        name:
          type: string
    MetricsFields:
      type: object
      properties:
        cpu:
          $ref: '#/components/schemas/MetricItemFields'
        memory.usages:
          $ref: '#/components/schemas/MetricItemFields'
        network.in:
          $ref: '#/components/schemas/MetricItemFields'
        network.out:
          $ref: '#/components/schemas/MetricItemFields'
        disk.read:
          $ref: '#/components/schemas/MetricItemFields'
        disk.write:
          $ref: '#/components/schemas/MetricItemFields'
    ClusterNodeInstanceFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        fixed_ip:
          type: string
        floating_ip:
          type: string
        floating_ip_status:
          type: string
        contract_id:
          type: integer
        image_id:
          type: integer
    Volume_Attachment_Fields:
      type: object
      properties:
        id:
          type: integer
        volume:
          $ref: '#/components/schemas/Volume_Fields_for_Instance'
        status:
          type: string
        device:
          type: string
        protected:
          type: boolean
        created_at:
          type: string
          format: date-time
    Profile_Object_Fields:
      required:
      - name
      type: object
      properties:
        name:
          type: string
        description:
          type: string
    Create_Security_Rule_Payload:
      required:
      - direction
      - ethertype
      - protocol
      - remote_ip_prefix
      type: object
      properties:
        direction:
          type: string
          description: The direction of traffic that the firewall rule applies to.
        protocol:
          type: string
          description: The network protocol associated with the rule. Call the [`GET /core/sg-rules-protocols`](https://infrahub-api-doc.nexgencloud.com/#get-/core/sg-rules-protocols) endpoint to retrieve a list of permitted network protocols.
          example: any
          enum:
          - any
          - ah
          - dccp
          - egp
          - esp
          - gre
          - hopopt
          - icmp
          - igmp
          - ip
          - ipip
          - ipv6-encap
          - ipv6-frag
          - ipv6-icmp
          - icmpv6
          - ipv6-nonxt
          - ipv6-opts
          - ipv6-route
          - ospf
          - pgm
          - rsvp
          - sctp
          - tcp
          - udp
          - udplite
          - vrrp
        ethertype:
          type: string
          description: The Ethernet type associated with the rule.
        remote_ip_prefix:
          type: string
          description: The IP address range that is allowed to access the specified port. Use "0.0.0.0/0" to allow any IP address.
    RequestInstanceLogsResponse:
      type: object
      properties:
        request_id:
          type: integer
    CreateInstancesResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        instances:
          type: array
          items:
            $ref: '#/components/schemas/Instance_Fields'
    Edit_label_of_an_existing_VM_Payload:
      type: object
      properties:
        labels:
          type: array
          description: Multiple labels can be added by separating with spaces
          items:
            type: string
    ClusterNodeGroupFirewallFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
    LableResonse:
      type: object
      properties:
        id:
          type: integer
        label:
          type: string
    Instance_Enhanced_Metrics_Fields:
      type: object
      properties:
        enabled:
          type: boolean
    NameAvailableModel:
      type: object
      properties:
        name:
          type: string
        available:
          type: boolean
        message:
          type: string
    Instances:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        page:
          type: integer
        page_size:
          type: integer
        count:
          type: integer
        instances:
          type: array
          items:
            $ref: '#/components/schemas/Instance_Fields'
    Instance_Flavor_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        cpu:
          type: integer
        ram:
          type: integer
        disk:
          type: integer
        ephemeral:
          type: integer
        gpu:
          type: string
        gpu_count:
          type: integer
        labels:
          type: array
          items:
            $ref: '#/components/schemas/FlavorLabelFields'
        features:
          type: object
          properties: {}
    Create_Instances_Payload:
      required:
      - count
      - environment_name
      - flavor_name
      - key_name
      - name
      type: object
      properties:
        name:
          maxLength: 50
          type: string
          description: The name of the virtual machine being created.
        environment_name:
          type: string
          description: The name of the [environment](https://docs.hyperstack.cloud/docs/api-reference/core-resources/environments/) in which the virtual machine is to be created.
        image_name:
          type: string
          description: The [operating system (OS) image](https://docs.hyperstack.cloud/docs/virtual-machines/images) name designated for installation on the virtual machine.It also accepts custom, private images, created from [existing snapshots](https://docs.hyperstack.cloud/docs/virtual-machines/custom-images).
        volume_name:
          type: string
          description: The names of the volume(s) to be attached to the virtual machine being created.
        create_bootable_volume:
          type: boolean
          description: Indicates whether to create a bootable volume for the virtual machine. When set to `true`, a bootable volume will be created; the default value is `false`.
        flavor_name:
          type: string
          description: The name of the GPU hardware configuration ([flavor](https://docs.hyperstack.cloud/docs/hardware/flavors)) for the virtual machines being created.
        flavor:
          $ref: '#/components/schemas/Flavor_Object_Fields'
        key_name:
          type: string
          description: The name of the existing SSH key pair to be used for secure access to the virtual machine. For additional information on SSH key pairs, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/keypairs/).
        user_data:
          type: string
          description: Optional initialization configuration commands to manage the configuration of a virtual machine at launch using cloud-init scripts. For more information about custom VM configuration using cloud-init, [**click here**](https://docs.hyperstack.cloud/docs/virtual-machines/initialization-configuration).
        callback_url:
          maxLength: 250
          type: string
          description: An optional URL where actions performed on the virtual machine will be sent. For additional information on event callbacks, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/virtual-machines/callbacks-vms/).
        assign_floating_ip:
          type: boolean
          description: When this field is set to `true`, it attaches a [public IP address](https://docs.hyperstack.cloud/docs/api-reference/core-resources/virtual-machines/floating-ip/) to the virtual machine, enabling internet accessibility.
        enable_port_randomization:
          type: boolean
          description: Indicates whether to enable port randomization.This setting is only effective if 'assign_floating_ip' is true. Defaults to true.
          default: true
        security_rules:
          type: array
          items:
            $ref: '#/components/schemas/Create_Security_Rule_Payload'
        profile:
          $ref: '#/components/schemas/Profile_Object_Fields'
        count:
          type: integer
          description: The number of virtual machines to be created.
        labels:
          type: array
          items:
            type: string
        enhanced_monitoring_enabled:
          type: boolean
          description: When true, the Hyperstack VM Agent is opted in for this VM and metrics ingestion is allowed by the prom-gateway. The agent must still be installed on the VM (typically via user_data cloud-init).
          default: false
    ClusterNodeFields:
      type: object
      properties:
        id:
          type: integer
        role:
          type: string
        node_group_id:
          type: integer
        node_group_name:
          type: string
        instance:
          $ref: '#/components/schemas/ClusterNodeInstanceFields'
        status:
          type: string
        status_reason:
          type: string
        is_bastion:
          type: boolean
        requires_public_ip:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SnapshotFields:
      required:
      - created_at
      - description
      - id
      - is_image
      - name
      - region_id
      - size
      - status
      - updated_at
      - vm_id
      type: object
      properties:
        id:
          type: integer
          description: Snapshot ID
        name:
          type: string
          description: Snapshot name
        description:
          type: string
          description: Description of the snapshot
        vm_id:
          type: integer
          description: ID of the VM from which the snapshot is created
        region_id:
          type: integer
          description: Region where the snapshot will be available
        status:
          type: string
          description: Status of the snapshot
        is_image:
          type: boolean
          description: Indicates if the snapshot is an image
        size:
          type: integer
          description: Size in GB of the snapshot
        has_floating_ip:
          type: boolean
          description: Indicates if the VM had a floating IP assigned
        labels:
          type: array
          description: Labels associated with snapshot
          items:
            type: string
            description: ''
        created_at:
          type: string
          description: Creation timestamp
          format: date-time
        updated_at:
          type: string
          description: Last update timestamp
          format: date-time
    UserEnhancedMetricsResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        metrics:
          $ref: '#/components/schemas/UserEnhancedMetricsResponseFields'
        install_command:
          type: string
          description: One-liner the user can run inside the VM to install the agent when enabling. Omitted when disabling.
    Cluster_Flavor_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        cpu:
          type: integer
        ram:
          type: number
        disk:
          type: integer
        ephemeral:
          type: integer
        gpu:
          type: string
        gpu_count:
          type: integer
        features:
          type: object
          properties: {}
        labels:
          type: array
          items:
            $ref: '#/components/schemas/LableResonse'
    ClusterNodeGroupFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        role:
          type: string
        flavor:
          $ref: '#/components/schemas/Cluster_Flavor_Fields'
        count:
          type: integer
        min_count:
          type: integer
        max_count:
          type: integer
        firewall_ids:
          type: array
          items:
            type: integer
        firewalls:
          type: array
          items:
            $ref: '#/components/schemas/ClusterNodeGroupFirewallFields'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Volume_Fields_for_Instance:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        volume_type:
          type: string
        bootable:
          type: boolean
        size:
          type: integer
    Flavor_Object_Fields:
      type: object
      properties:
        cpu:
          type: integer
        ram:
          type: number
        disk:
          type: integer
        gpu:
          type: string
        gpu_count:
          type: integer
    CreateSnapshotResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        snapshot:
          $ref: '#/components/schemas/SnapshotFields'
    Instance_Keypair_Fields:
      type: object
      properties:
        name:
          type: string
    Instance_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        environment:
          $ref: '#/components/schemas/Instance_Environment_Fields'
        image:
          $ref: '#/components/schemas/Instance_Image_Fields'
        flavor:
          $ref: '#/components/schemas/Instance_Flavor_Fields'
        os:
          type: string
        keypair:
          $ref: '#/components/schemas/Instance_Keypair_Fields'
        volume_attachments:
          type: array
          items:
            $ref: '#/components/schemas/Volume_Attachment_Fields'
        security_rules:
          type: array
          items:
            $ref: '#/components/schemas/Security_Rules_Fields_for_Instance'
        power_state:
          type: string
        vm_state:
          type: string
        fixed_ip:
          type: string
        floating_ip:
          type: string
        floating_ip_status:
          type: string
        port_randomization_status:
          type: string
        port_randomization:
          type: boolean
        callback_url:
          type: string
        locked:
          type: boolean
        contract_id:
          type: integer
        created_at:
          type: string
          format: date-time
        labels:
          type: array
          items:
            type: string
        features:
          type: object
          properties: {}
        requires_public_ip:
          type: boolean
        enhanced_metrics:
          $ref: '#/components/schemas/Instance_Enhanced_Metrics_Fields'
    InstanceResizePayload:
      type: object
      properties:
        flavor_name:
          type: string
        flavor:
          $ref: '#/components/schemas/Flavor_Object_Fields'
    GetInstanceLogsResponse:
      type: object
      properties:
        logs:
          type: string
    ClusterFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        environment_name:
          type: string
        kubernetes_version:
          type: string
        api_address:
          type: string
        kube_config:
          type: string
        status:
          type: string
        status_reason:
          type: string
        node_groups:
          type: array
          items:
            $ref: '#/components/schemas/ClusterNodeGroupFields'
        master_flavor:
          $ref: '#/components/schemas/Cluster_Flavor_Fields'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/ClusterNodeFields'
        keypair_name:
          type: string
        is_reconciling:
          type: boolean
        created_at:
          type: string
          format: date-time
    MetricItemFields:
      type: object
      properties:
        unit:
          type: string
        columns:
          type: array
          example:
          - time
          - granularity
          - value
          items:
            type: string
        data:
          type: array
          example:
          - - '2023-09-01T01:19:00+00:00'
            - 60
            - 1041433070000000
          - - '2023-09-01T01:24:00+00:00'
            - 60
            - 1041441320000000
          items:
            type: array
            items:
              type: object
              properties: {}
    AttachFirewallsToVMPayload:
      required:
      - firewalls
      type: object
      properties:
        firewalls:
          type: array
          description: Ids of the firewalls to be attached with a virtual machine.
          items:
            type: integer
    Instance:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        instance:
          $ref: '#/components/schemas/Instance_Fields'
    RequestInstanceLogsPayload:
      type: object
      properties:
        length:
          type: integer
          description: The amount of lines to fetch
    ContractInstancesResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        instances:
          type: array
          items:
            $ref: '#/components/schemas/ContractInstanceFields'
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    CreateSnapshotPayload:
      required:
      - description
      - name
      type: object
      properties:
        name:
          type: string
          description: Snapshot name
        description:
          type: string
          description: description
        labels:
          type: array
          description: Labels associated with snapshot
          items:
            type: string
            description: label
    UserEnhancedMetricsResponseFields:
      type: object
      properties:
        enabled:
          type: boolean
    Security_Group_Rule_Fields:
      type: object
      properties:
        id:
          type: integer
        direction:
          type: string
        protocol:
          type: string
        port_range_min:
          type: integer
        port_range_max:
          type: integer
        ethertype:
          type: string
        remote_ip_prefix:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    Security_Rules_Fields_for_Instance:
      type: object
      properties:
        id:
          type: integer
        direction:
          type: string
        protocol:
          type: string
        port_range_min:
          type: integer
        port_range_max:
          type: integer
        ethertype:
          type: string
        remote_ip_prefix:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    FlavorLabelFields:
      type: object
      properties:
        id:
          type: integer
          description: ''
        label:
          type: string
          description: ''
    UserEnhancedMetricsPayload:
      required:
      - enabled
      type: object
      properties:
        enabled:
          type: boolean
          description: Set to true to opt this VM into Enhanced Metrics, false to opt out.
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Instance_Environment_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        org_id:
          type: integer
        region:
          type: string
        features:
          $ref: '#/components/schemas/Environment_Features'
    Environment_Features:
      type: object
      properties:
        network_optimised:
          type: boolean
        green_status:
          type: string
          example: GREEN
          enum:
          - GREEN
          - PARTIALLY_GREEN
          - NOT_GREEN
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
