openapi: 3.2.0
info:
  title: Infrahub api key API
  version: '1.0'
  description: API Key
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: API Key
  description: API Key
paths:
  /api-key:
    get:
      tags:
      - API Key
      summary: Retrieve API Keys
      description: Retrieves your API keys, granting access to the Infrahub APIs. For further details on API keys, **click here**.
      operationId: Get_API_Key
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApiKeysResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /api-key/generate:
    post:
      tags:
      - API Key
      summary: Generate API Key
      description: Generates your API key, providing access to the Infrahub APIs. For further details on API keys, **click here**.
      operationId: Generate_API_Key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUpdateApiKeyPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUpdateApiKeyResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      x-codegen-request-body-name: payload
  /api-key/{api_key_id}:
    put:
      tags:
      - API Key
      summary: Update API Key
      description: Updates the name and optionally the description of a specified API key. Include the ID of the API key in the path and the new name and optional description in the body of the request.
      operationId: Update_API_Key
      parameters:
      - name: api_key_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUpdateApiKeyPayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUpdateApiKeyResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
    delete:
      tags:
      - API Key
      summary: Delete API Key
      description: Delete a specified API key by including the ID of the API key in the path.
      operationId: Delete_API_Key
      parameters:
      - name: api_key_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    GenerateUpdateApiKeyPayload:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 200
          minLength: 1
          type: string
        description:
          type: string
    CommonResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    ApiKeyFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        key:
          type: string
        created_at:
          type: string
          format: date-time
    GetApiKeysResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        api_keys:
          type: array
          items:
            $ref: '#/components/schemas/ApiKeyFields'
    GenerateUpdateApiKeyResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        api_key:
          $ref: '#/components/schemas/ApiKeyFields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
