openapi: 3.2.0
info:
  title: Infrahub Auth API
  version: '1.0'
  description: Authentication APIs using authentik
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Auth
  description: Authentication APIs using authentik
paths:
  /auth/me:
    get:
      tags:
      - Auth
      summary: Retrieve Authenticated User Details
      description: Retrieves detailed information about the currently authenticated user. For additional information, **click here**.
      operationId: Get_Authenticated_User
      responses:
        '200':
          description: User Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUserInfoResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /auth/me/mfa:
    get:
      tags:
      - Auth
      summary: Get MFA status for authenticated user
      description: Retrieve the Multi-Factor Authentication (MFA) status for the currentlyauthenticated user. Includes whether MFA is enabled.
      operationId: Get_User_MFA_Status
      responses:
        '200':
          description: MFA Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MFAStatusResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      security:
      - accessToken: []
      - apiKey: []
  /auth/me/mfa/disable:
    post:
      tags:
      - Auth
      description: Disable Multi-Factor Authentication (MFA) for the currently authenticated user. This endpoint is used to turn off MFA.
      operationId: Disable_MFA
      responses:
        '200':
          description: MFA Disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden - CSRF validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
      security:
      - accessToken: []
      - apiKey: []
      summary: Disable MFA
      x-summary-source: derived
  /auth/me/organizations:
    get:
      tags:
      - Auth
      summary: Get User Organizations
      description: Retrieve the organizations associated with a user by their user ID. This endpoint is useful for understanding the user's organizational affiliations.
      operationId: Get_User_Organizations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrganizationsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /auth/token/change-org/{org_id}:
    get:
      tags:
      - Auth
      description: Change the organization associated with the current token. This is useful for users who have access to multiple organizations.
      operationId: Change_Organization_for_Token
      parameters:
      - name: org_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthGetTokenResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      summary: Change organization for token
      x-summary-source: derived
components:
  schemas:
    MFAStatusFields:
      required:
      - mfa_enabled
      type: object
      properties:
        mfa_enabled:
          type: boolean
          description: Whether MFA is enabled for the user
    OrganizationFields:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        credit:
          type: integer
        threshold:
          type: integer
        total_instances:
          type: integer
        total_volumes:
          type: integer
        total_containers:
          type: integer
        total_clusters:
          type: integer
        users:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUserResponseModel'
        created_at:
          type: string
          format: date-time
    MFAStatusResponse:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        mfa:
          $ref: '#/components/schemas/MFAStatusFields'
    CommonResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    RbacRoleField:
      type: object
      properties:
        name:
          type: string
    AuthUserInfoResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        user:
          $ref: '#/components/schemas/AuthUserFields'
    AuthUserFields:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        username:
          type: string
        created_at:
          type: string
          format: date-time
    OrganizationUserResponseModel:
      type: object
      properties:
        id:
          type: integer
        sub:
          type: string
        email:
          type: string
        username:
          type: string
        name:
          type: string
        role:
          type: string
        rbac_roles:
          type: array
          items:
            $ref: '#/components/schemas/RbacRoleField'
        joined_at:
          type: string
          format: date-time
        last_login:
          type: string
          format: date-time
    AuthGetTokenResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        token:
          $ref: '#/components/schemas/AccessTokenField'
    UserOrganizationsResponse:
      type: object
      properties:
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationFields'
    AccessTokenField:
      type: object
      properties:
        access_token:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
