openapi: 3.2.0
info:
  title: Infrahub rbac role API
  version: '1.0'
  description: RBAC Role APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: rbac role
  description: RBAC Role APIs
paths:
  /auth/roles:
    get:
      tags:
      - rbac role
      summary: List RBAC Roles
      description: Retrieves a list of RBAC roles that can be assigned to the users within an organization. For additional information on RBAC roles, click here.
      operationId: List_RBAC_Roles
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRbacRolesResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - rbac role
      summary: Create RBAC Role
      description: Creates an RBAC role that can be assigned to users, granting them access to specific resource actions. Provide the configuration of the RBAC role, including its name, description, and list of permissions and policy IDs in the request body. For additional information on creating RBAC roles, click here.
      operationId: Create_RBAC_Role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateRbacRolePayload'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /auth/roles/{id}:
    get:
      tags:
      - rbac role
      summary: Retrieve RBAC Role Details
      description: Retrieves the details of a specified RBAC role by providing the RBAC role ID in the path. For additional information, click here.
      operationId: Retrieve_RBAC_Role_Details
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    put:
      tags:
      - rbac role
      summary: Update RBAC Role
      description: Updates an RBAC role by providing the role ID in the path and the modified role configuration in the request body, including its name, description, and list of permissions and policy IDs. For additional information, click here.
      operationId: Update_RBAC_Role
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateRbacRolePayload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RbacRoleDetailResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
    delete:
      tags:
      - rbac role
      summary: Delete RBAC Role
      description: Deletes an RBAC role by providing its ID in the path. For additional information, click here.
      operationId: Delete_RBAC_Role
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    RolePolicyFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
    CommonResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    RbacRoleDetailResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        role:
          $ref: '#/components/schemas/RbacRoleFields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    RbacRoleFields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        policies:
          type: array
          items:
            $ref: '#/components/schemas/RolePolicyFields'
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/RolePermissionFields'
        created_at:
          type: string
          format: date-time
    CreateUpdateRbacRolePayload:
      required:
      - description
      - name
      type: object
      properties:
        name:
          maxLength: 200
          type: string
          description: Name of the RBAC role.
        description:
          type: string
          description: Description of the role.
        policies:
          type: array
          items:
            type: integer
            description: List of policy IDs.
        permissions:
          type: array
          items:
            type: integer
            description: List of permission IDs.
    RolePermissionFields:
      type: object
      properties:
        id:
          type: integer
        resource:
          type: string
        permission:
          type: string
    GetRbacRolesResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RbacRoleFields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
