openapi: 3.2.0
info:
  title: Infrahub Callbacks API
  version: '1.0'
  description: Callback APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Callbacks
  description: Callback APIs
paths:
  /core/virtual-machines/{vm_id}/attach-callback:
    post:
      tags:
      - Callbacks
      summary: Attach callback to virtual machine
      description: Creates a callback URL for a specified virtual machine, enabling the posting of action events executed on the virtual machine to the specified URL. Provide the callback URL in the request body and the ID of the virtual machine to which it is being attached in the path. For more details on virtual machine callback URLs, **click here**.
      operationId: Attach_callback_to_VM
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attach_Callback_Payload'
        required: true
      responses:
        '200':
          description: Callback URL successfully attached to your virtual machine. Any action events on your virtual machine will be posted to the provided URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attach_Callback_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/virtual-machines/{vm_id}/delete-callback:
    delete:
      tags:
      - Callbacks
      summary: Delete virtual machine callback
      description: Permanently deletes the callback URL associated with a specified virtual machine by providing the virtual machine ID in the request path. For additional information on virtual machine callback URLs, **click here**.
      operationId: Delete_VM_callback
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Virtual machine callback URL successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/virtual-machines/{vm_id}/update-callback:
    put:
      tags:
      - Callbacks
      summary: Update virtual machine callback
      description: Updates the callback URL for a specified virtual machine. Provide the new callback URL in the request body, along with the ID of the associated virtual machine in the path. For additional information on virtual machine callback URLs, **click here**.
      operationId: Update_VM_callback
      parameters:
      - name: vm_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attach_Callback_Payload'
        required: true
      responses:
        '200':
          description: Virtual machine callback URL successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attach_Callback_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/volumes/{volume_id}/attach-callback:
    post:
      tags:
      - Callbacks
      summary: Attach callback to volume
      description: Creates a callback URL for a specified volume, enabling the posting of action events executed on the volume to the specified URL. Provide the callback URL in the request body and the ID of the volume to which it is being attached in the path. For more details on volume callback URLs, **click here**.
      operationId: Attach_callback_to_volume
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attach_Callback_Payload'
        required: true
      responses:
        '200':
          description: Callback URL successfully attached to your volume. Any action events on your volume will be posted to the provided URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attach_Callback_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/volumes/{volume_id}/delete-callback:
    delete:
      tags:
      - Callbacks
      summary: Delete volume callback
      description: Permanently deletes the callback URL associated with a specified volume by providing the volume ID in the request path. For additional information on volume callback URLs, **click here**.
      operationId: Delete_volume_callback
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Volume callback URL successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/volumes/{volume_id}/update-callback:
    put:
      tags:
      - Callbacks
      summary: Update volume callback
      description: Updates the callback URL for a specified volume. Provide the new callback URL in the request body, along with the ID of the associated volume in the path. For additional information on volume callback URLs, **click here**.
      operationId: Update_volume_callback
      parameters:
      - name: volume_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attach_Callback_Payload'
        required: true
      responses:
        '200':
          description: Callback URL successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attach_Callback_Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
components:
  schemas:
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Attach_Callback_Response:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        url:
          type: string
    Attach_Callback_Payload:
      required:
      - url
      type: object
      properties:
        url:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
