openapi: 3.2.0
info:
  title: Infrahub Environment API
  version: '1.0'
  description: Environment APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Environment
  description: Environment APIs
paths:
  /core/environments:
    get:
      tags:
      - Environment
      summary: List environments
      description: Returns a list of your existing environments, providing the following details for each; environment ID, name, **region**, and the date and time of creation. For more information on environments, **click here**.
      operationId: List_environments
      parameters:
      - name: page
        in: query
        description: Page Number
        schema: {}
      - name: pageSize
        in: query
        description: Data Per Page
        schema: {}
      - name: search
        in: query
        description: Search By ID or Name or Region
        schema: {}
      responses:
        '200':
          description: Successful retrieval of environments list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environments'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    post:
      tags:
      - Environment
      summary: Create environment
      description: Creates an environment—a container to organize your resources, including SSH key pairs, virtual machines, and volumes. To create your environment, provide your desired environment name, and **region** in the request body.
      operationId: Create_environment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Create_Environment'
        required: true
      responses:
        '200':
          description: Environment has been created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
  /core/environments/name-availability/{name}:
    get:
      tags:
      - Environment
      summary: Fetch environment name availability
      description: Check if a Environment name is available
      operationId: Fetch_environment_name_availability
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameAvailableModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/environments/{id}:
    get:
      tags:
      - Environment
      summary: Retrieve environment
      description: Retrieves details about a specific environment. Provide the environment ID in the path and the new environment `name` in the request body to modify the specified environment.
      operationId: Get_environment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Environment details retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
    put:
      tags:
      - Environment
      summary: Update environment
      description: Updates the name of an existing environment. Provide the environment ID in the path and the new environment `name` in the request body to modify the specified environment.
      operationId: Update_environment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Update_Environment'
        required: true
      responses:
        '200':
          description: Environment name successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
    delete:
      tags:
      - Environment
      summary: Delete environment
      description: Deletes an environment permanently. Provide the environment ID in the path to remove the specified environment.
      operationId: Delete_environment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The environment has been successfully deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseModel'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
  /core/environments/{id}/vm-quota:
    get:
      tags:
      - Environment
      summary: Get environment VM quota
      description: Retrieves VM quota information for a specific environment, including current VM count, maximum VMs allowed, available VMs, and percentage used in an environment before reaching the subnet IP limit.
      operationId: Get_environment_VM_quota
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: VM quota information retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VM_Quota'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    NameAvailableModel:
      type: object
      properties:
        name:
          type: string
        available:
          type: boolean
        message:
          type: string
    Environments:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        environments:
          type: array
          items:
            $ref: '#/components/schemas/Environment_Fields'
        page:
          type: integer
        page_size:
          type: integer
        count:
          type: integer
    Environment_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        region:
          type: string
        created_at:
          type: string
          format: date-time
        features:
          $ref: '#/components/schemas/Environment_Features'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    VM_Quota:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        current_vms:
          type: integer
        max_vms:
          type: integer
        available_vms:
          type: integer
        percentage_used:
          type: number
        cidr:
          type: string
    Environment_Features:
      type: object
      properties:
        network_optimised:
          type: boolean
        green_status:
          type: string
          example: GREEN
          enum:
          - GREEN
          - PARTIALLY_GREEN
          - NOT_GREEN
    ResponseModel:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
    Create_Environment:
      required:
      - name
      - region
      type: object
      properties:
        name:
          maxLength: 50
          type: string
          description: The name of the environment being created.
        region:
          type: string
          description: The geographic location of the data center where the environment is being created. To learn more about regions, [**click here**]({Config.INFRAHUB_DOCS_BASE}/docs/features/regions).
    Update_Environment:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 50
          type: string
          description: The new name of the environment.
    Environment:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        environment:
          $ref: '#/components/schemas/Environment_Fields'
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
