openapi: 3.2.0
info:
  title: Infrahub Vouchers API
  version: '1.0'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Vouchers
paths:
  /billing/billing/vouchers/redeem:
    post:
      tags:
      - Vouchers
      summary: Redeem a voucher with a voucher_code
      description: Request to redeem a voucher with a voucher code.
      operationId: Redeem_a_voucher
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Redeem_voucher_payload'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherRedeemResponseSchema'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
      x-codegen-request-body-name: payload
components:
  schemas:
    voucher:
      required:
      - code
      - id
      - status
      type: object
      properties:
        id:
          type: integer
          description: Voucher ID
        code:
          type: string
          description: Voucher code
        status:
          type: string
          description: Voucher status
        redemption_count:
          type: integer
          description: Current redemption count for a General Voucher
        max_redemption_count:
          type: integer
          description: Max redemption count for a General Voucher
        remaining_redemptions:
          type: integer
          description: Remaining redemptions
    VoucherRedeemResponseSchema:
      required:
      - message
      - status
      type: object
      properties:
        status:
          type: boolean
          description: Success status of the operation
        message:
          type: string
          description: Response message
        voucher:
          type: object
          description: Redeemed voucher details
          allOf:
          - $ref: '#/components/schemas/voucher'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    Redeem_voucher_payload:
      required:
      - voucher_code
      type: object
      properties:
        voucher_code:
          type: string
          description: The code of the voucher you want to redeem.
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
