openapi: 3.2.0
info:
  title: Infrahub Gpu API
  version: '1.0'
  description: GPU APIs
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Gpu
  description: GPU APIs
paths:
  /core/gpus:
    get:
      tags:
      - Gpu
      summary: List GPUs
      description: Returns a list of all available GPUs that can be utilized in the creation of custom virtual machine configurations.
      operationId: List_GPUs
      responses:
        '200':
          description: Retrieval of GPUs list successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPU_List'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseModel'
        '500':
          description: Internal Server Error
          content: {}
      security:
      - accessToken: []
      - apiKey: []
components:
  schemas:
    GPU_List:
      type: object
      properties:
        status:
          type: boolean
        message:
          type: string
        gpu_list:
          type: array
          items:
            $ref: '#/components/schemas/GPU_Fields'
    ErrorResponseModel:
      type: object
      properties:
        status:
          type: boolean
          default: false
        message:
          type: string
        error_reason:
          type: string
    GPU_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        regions:
          type: array
          items:
            $ref: '#/components/schemas/GPU_Region_Fields'
        example_metadata:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    GPU_Region_Fields:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
