openapi: 3.2.0
info:
  title: Nexgen Cloud Buckets API
  version: '1.0'
  description: 'Operations tagged Buckets across 2 of this provider''s published API definitions: nexgen-cloud-hyperstack-openapi.json, nexgen-cloud-infrahub-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
tags:
- name: Buckets
  description: A bucket is an S3-compatible object storage container. Buckets are region-scoped and accessed via standard S3 SDKs once you have access keys. Use these endpoints to list and delete buckets, bucket creation happens through the S3 protocol against the bucket endpoint URL, not this API.
paths:
  /object-storage/buckets:
    get:
      tags:
      - Buckets
      summary: List buckets
      operationId: listBucketsEndpoint
      parameters:
      - name: search
        in: query
        schema:
          type: string
        description: Filter results by case-insensitive substring match against the resource name.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__BucketListResponse'
              example:
                buckets: []
                failed_regions: []
              examples:
                default:
                  summary: Successful response
                  value:
                    buckets: []
                    failed_regions: []
        '422':
          description: Validation Error
          content:
            application/json:
              examples: {}
      description: Retrieve a list of all buckets in your [**Object Storage**](https://docs.hyperstack.cloud/docs/storage/object-storage) account, and provides details on each, including their name, region, size, and number of stored objects.
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
  /object-storage/buckets/{bucket_name}:
    get:
      tags:
      - Buckets
      summary: Retrieve a bucket
      operationId: retrieveBucketEndpoint
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          type: string
        description: Name of the bucket.
      - name: region
        in: query
        required: true
        schema:
          type: string
        description: Filter results to a specific region (e.g. `CANADA-1`, `NORWAY-1`).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__BucketResponse'
        '422':
          description: Validation Error
          content: {}
      description: Retrieves detailed metadata for a specific bucket in your [**Object Storage**](https://docs.hyperstack.cloud/docs/storage/object-storage) account by name, including region, creation timestamp, object count, and storage usage.
      security:
      - apiKey: []
    delete:
      tags:
      - Buckets
      summary: Delete a bucket
      operationId: deleteBucketEndpoint
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema:
          type: string
        description: Name of the bucket.
      - name: region
        in: query
        required: true
        schema:
          type: string
        description: Filter results to a specific region (e.g. `CANADA-1`, `NORWAY-1`).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__DeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__ErrorResponse'
        '422':
          description: Validation Error
          content: {}
      description: 'Deletes a specific bucket from your [**Object Storage**](https://docs.hyperstack.cloud/docs/storage/object-storage) account.


        **Irreversible:** This action is irreversible and permanently removes the bucket and all stored objects within it.'
      security:
      - apiKey: []
    servers:
    - url: https://infrahub-api.nexgencloud.com/v1
components:
  schemas:
    object_storage__ErrorResponse:
      title: ErrorResponse
      type: object
      properties:
        error_reason:
          type: string
          description: Short machine-readable reason code when the request fails.
        message:
          type: string
          description: Human-readable description of the result.
        status:
          type: boolean
          default: false
          description: Whether the request succeeded.
    object_storage__BucketListResponse:
      title: BucketListResponse
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/object_storage__BucketResponse'
          description: Buckets visible to the calling environment.
        failed_regions:
          type: array
          items:
            type: string
          description: Regions whose object-storage tier could not be reached during this list call.
    object_storage__RegionsEnum:
      type: string
      enum:
      - CANADA-1
      example: CANADA-1
    object_storage__DeleteResponse:
      title: DeleteResponse
      type: object
      properties:
        message:
          type: string
          description: Human-readable description of the result.
    object_storage__BucketResponse:
      title: BucketResponse
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp marking when the resource was created.
        endpoint:
          type: string
          description: Bucket endpoint URL. Use this with the S3 protocol.
        name:
          type: string
          description: Name of the object storage bucket.
        num_objects:
          type: integer
          description: Number of objects.
        region:
          $ref: '#/components/schemas/object_storage__RegionsEnum'
          description: Region the resource is in (for example, `NORWAY-1`, `CANADA-1`, `US-1`).
        size_bytes:
          type: integer
          description: Accumulated size in bytes.
        size_bytes_actual:
          type: integer
          description: Size utilized in bytes.
    object_storage__ErrorResponse_2:
      title: ErrorResponse
      required:
      - error_reason
      - message
      type: object
      properties:
        error_reason:
          title: Error Reason
          type: string
        message:
          title: Message
          type: string
        status:
          title: Status
          type: boolean
          default: false
    object_storage__BucketListResponse_2:
      title: BucketListResponse
      required:
      - buckets
      type: object
      properties:
        buckets:
          title: Buckets
          type: array
          items:
            $ref: '#/components/schemas/object_storage__BucketResponse_2'
        failed_regions:
          title: Failed Regions
          type: array
          items:
            type: string
    object_storage__RegionsEnum_2:
      title: RegionsEnum
      type: string
      enum:
      - CANADA-1
    object_storage__DeleteResponse_2:
      title: DeleteResponse
      required:
      - message
      type: object
      properties:
        message:
          title: Message
          type: string
    object_storage__BucketResponse_2:
      title: BucketResponse
      required:
      - created_at
      - endpoint
      - name
      - num_objects
      - region
      - size_bytes
      - size_bytes_actual
      type: object
      properties:
        created_at:
          title: Created At
          type: string
          format: date-time
        endpoint:
          title: Endpoint
          type: string
        name:
          title: Name
          type: string
        num_objects:
          title: Num Objects
          type: integer
          description: Number of objects
        region:
          $ref: '#/components/schemas/object_storage__RegionsEnum_2'
        size_bytes:
          title: Size Bytes
          type: integer
          description: Accumulated size in bytes
        size_bytes_actual:
          title: Size Bytes Actual
          type: integer
          description: Size utilized in bytes
  securitySchemes:
    apiKey:
      type: apiKey
      name: api_key
      in: header
      description: 'API-key authentication. Pass your API key as the `api_key` header value (e.g., `api_key: YOUR_API_KEY`, no prefix). [Generate a key in the Hyperstack console](https://console.hyperstack.cloud/api-keys). The key is personal to your user account and works across every environment and region in your organization.'
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
x-refined-from:
- nexgen-cloud-hyperstack-openapi.json
- nexgen-cloud-infrahub-api-openapi.json
