openapi: 3.2.0
info:
  title: Infrahub Buckets API
  version: '1.0'
servers:
- url: https://infrahub-api.nexgencloud.com/v1
security:
- accessToken: []
- apiKey: []
tags:
- name: Buckets
paths:
  /object-storage/buckets:
    get:
      tags:
      - Buckets
      summary: List buckets
      operationId: listBucketsEndpoint
      parameters:
      - name: search
        in: query
        schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__BucketListResponse'
        '422':
          description: Validation Error
          content: {}
  /object-storage/buckets/{bucket_name}:
    get:
      tags:
      - Buckets
      summary: Retrieve a bucket
      operationId: retrieveBucketEndpoint
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema: {}
      - name: region
        in: query
        required: true
        schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__BucketResponse'
        '422':
          description: Validation Error
          content: {}
    delete:
      tags:
      - Buckets
      summary: Delete a bucket
      operationId: deleteBucketEndpoint
      parameters:
      - name: bucket_name
        in: path
        required: true
        schema: {}
      - name: region
        in: query
        required: true
        schema: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__DeleteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/object_storage__ErrorResponse'
        '422':
          description: Validation Error
          content: {}
components:
  schemas:
    object_storage__ErrorResponse:
      title: ErrorResponse
      required:
      - error_reason
      - message
      type: object
      properties:
        error_reason:
          title: Error Reason
          type: string
        message:
          title: Message
          type: string
        status:
          title: Status
          type: boolean
          default: false
    object_storage__RegionsEnum:
      title: RegionsEnum
      type: string
      enum:
      - CANADA-1
    object_storage__DeleteResponse:
      title: DeleteResponse
      required:
      - message
      type: object
      properties:
        message:
          title: Message
          type: string
    object_storage__BucketListResponse:
      title: BucketListResponse
      required:
      - buckets
      type: object
      properties:
        buckets:
          title: Buckets
          type: array
          items:
            $ref: '#/components/schemas/object_storage__BucketResponse'
        failed_regions:
          title: Failed Regions
          type: array
          items:
            type: string
    object_storage__BucketResponse:
      title: BucketResponse
      required:
      - created_at
      - endpoint
      - name
      - num_objects
      - region
      - size_bytes
      - size_bytes_actual
      type: object
      properties:
        created_at:
          title: Created At
          type: string
          format: date-time
        endpoint:
          title: Endpoint
          type: string
        name:
          title: Name
          type: string
        num_objects:
          title: Num Objects
          type: integer
          description: Number of objects
        region:
          $ref: '#/components/schemas/object_storage__RegionsEnum'
        size_bytes:
          title: Size Bytes
          type: integer
          description: Accumulated size in bytes
        size_bytes_actual:
          title: Size Bytes Actual
          type: integer
          description: Size utilized in bytes
  securitySchemes:
    accessToken:
      type: apiKey
      description: Bearer Token
      name: Authorization
      in: header
    apiKey:
      type: apiKey
      description: Send it as api_key in header
      name: api_key
      in: header
x-original-swagger-version: '2.0'
