{"openapi":"3.0.1","info":{"title":"Infrahub-API","version":"1.0"},"servers":[{"url":"https://infrahub-api.nexgencloud.com/v1"}],"tags":[{"name":"auth","description":"Authentication APIs using authentik"},{"name":"organization","description":"Organizations API"},{"name":"api key","description":"API Key"},{"name":"invite","description":"Invite APIs"},{"name":"permission","description":"Permission APIs"},{"name":"user permission","description":"User Permission APIs"},{"name":"policy","description":"Policy APIs"},{"name":"rbac role","description":"RBAC Role APIs"},{"name":"assigning member role","description":"Assigning Member Role APIs"},{"name":"beta access","description":"Beta Access APIs"},{"name":"partner-config","description":"Partner config fetch endpoint"},{"name":"user-consent","description":"User Consent stores all consents from a User"},{"name":"user-consent-events","description":"User Consent management"},{"name":"email-opt-in-out","description":"User email preference management"},{"name":"dashboard","description":"Dashboard APIs"},{"name":"stock","description":"Stock APIs"},{"name":"environment","description":"Environment APIs"},{"name":"virtual machine events","description":"Virtual Machine Event APIs"},{"name":"virtual machine","description":"Virtual Machine APIs"},{"name":"flavor","description":"Flavor APIs"},{"name":"image","description":"Image APIs"},{"name":"keypair","description":"Keypair APIs"},{"name":"vnc url","description":"VNC Console Link APIs"},{"name":"volume","description":"Volume APIs"},{"name":"volume attachment","description":"Volume Attachment APIs"},{"name":"gpu","description":"GPU APIs"},{"name":"callbacks","description":"Callback APIs"},{"name":"floating ip","description":"Floating IP APIs"},{"name":"region","description":"Region APIs"},{"name":"template","description":"Templates APIs"},{"name":"deployment","description":"Deployment APIs"},{"name":"security-rules","description":"Security Rule APIs"},{"name":"profile","description":"Profile APIs"},{"name":"clusters","description":"Cluster APIs"},{"name":"cluster events","description":"Cluster Event APIs"},{"name":"compliance","description":"Compliance APIs"},{"name":"firewalls","description":"Firewalls APIs"},{"name":"firewall-attachment","description":"Firewall Attachments APIs"},{"name":"user detail choice","description":"User Detail Choice APIs"},{"name":"Snapshots","description":"Snapshot APIs"},{"name":"snapshot events","description":"Snapshot Events APIs"},{"name":"FIP Exclusions","description":"Floating IP Detachment Exclusions"},{"name":"Pricebook","description":"Pricebook APIs"},{"name":"Calculate","description":"Calculate APIs"},{"name":"Customer Contract","description":"Customer Contract APIs"},{"name":"alive"},{"name":"auto-topup"},{"name":"billing"},{"name":"vouchers"},{"name":"credit"},{"name":"payment"},{"name":"user"},{"name":"Access Keys"},{"name":"Buckets"},{"name":"Health"},{"name":"Regions"}],"paths":{"/api-key":{"get":{"tags":["api key"],"summary":"Retrieve API Keys","description":"Retrieves your API keys, granting access to the Infrahub APIs. For further details on API keys, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/api-key/retrieve-api-key).","operationId":"Get_API_Key","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetApiKeysResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/api-key/generate":{"post":{"tags":["api key"],"summary":"Generate API Key","description":"Generates your API key, providing access to the Infrahub APIs. For further details on API keys, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/api-key/generate-api-key).","operationId":"Generate_API_Key","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateUpdateApiKeyPayload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateUpdateApiKeyResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]}],"x-codegen-request-body-name":"payload"}},"/api-key/{api_key_id}":{"put":{"tags":["api key"],"summary":"Update API Key","description":"Updates the name and optionally the description of a specified API key. Include the ID of the API key in the path and the new name and optional description in the body of the request.","operationId":"Update_API_Key","parameters":[{"name":"api_key_id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateUpdateApiKeyPayload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateUpdateApiKeyResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"},"delete":{"tags":["api key"],"summary":"Delete API Key","description":"Delete a specified API key by including the ID of the API key in the path.","operationId":"Delete_API_Key","parameters":[{"name":"api_key_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/beta-access/requests":{"get":{"tags":["beta access"],"summary":"Check the status of all beta access requests","description":"Check the status of all beta access requests.","operationId":"Get_beta_access_status","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BetaAccessStatusResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["beta access"],"summary":"Create a new beta access request","description":"Creates a new beta access request for the current user","operationId":"Create_beta_access_request","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BetaAccessRequestPayload"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BetaAccessRequestResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/auth/beta-access/requests/{program}":{"get":{"tags":["beta access"],"summary":"Check the status of beta access requests","description":"Check the status of a particular beta access requests.","operationId":"Get_beta_access_requests","parameters":[{"name":"program","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BetaAccessStatusResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/email/opt-out":{"get":{"tags":["email-opt-in-out"],"summary":"Get all email preferences for the authenticated user","description":"Returns all email categories with the user's opt-in status. Categories without an explicit preference default to opted_in=true.","operationId":"Get_email_preferences_for_a_user","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailPreferencesResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}}},"put":{"tags":["email-opt-in-out"],"summary":"Toggle all optional email preferences for the authenticated user","description":"Sets opted_in to the given value for every non-required, non-deleted email category. Required categories are not affected.","operationId":"Toggle_all_optional_email_preferences_for_the_user","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmailPreferenceInput"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmailPreferenceResponse"}}}},"400":{"description":"Bad Request","content":{}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"x-codegen-request-body-name":"payload"}},"/auth/email/opt-out/{slug}":{"put":{"tags":["email-opt-in-out"],"summary":"Update email preference opted_in status for a category slug","description":"Updates the opted_in status for the given email category slug. If the slug belongs to a parent category (email_category_id is null), all non-deleted child categories are updated. If the slug belongs to a child category, only that category is updated.","operationId":"Update_email_preference_for_a_category_by_slug","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmailPreferenceInput"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmailPreferenceResponse"}}}},"400":{"description":"Bad Request","content":{}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Email category not found","content":{}},"500":{"description":"Internal Server Error","content":{}}},"x-codegen-request-body-name":"payload"}},"/auth/invites":{"get":{"tags":["invite"],"summary":"List Invites","description":"Retrieve a list of email invitations from your organization. For additional information on listing invited users, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/invites/list-invites).","operationId":"List_Invites","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetInvitesResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["invite"],"summary":"Invite User to Organization","description":"Invites a user to join your organization. For additional information on inviting users to the organization, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/invites/invite-member).","operationId":"Invite_User_to_Organization","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteUserPayload"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteUserResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/auth/invites/{id}":{"delete":{"tags":["invite"],"summary":"Accept Invite","description":"Deletes an invitation for a user to join your organization. For additional information on deleting an invitation, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/invites/delete-invite).","operationId":"Delete_Invite","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Invite accepted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/invites/{id}/accept":{"get":{"tags":["invite"],"summary":"Accept Invite","description":"Accept an invitation for a user to join your organization.","operationId":"Accept_Invite","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Invite deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/me":{"get":{"tags":["auth"],"summary":"Retrieve Authenticated User Details","description":"Retrieves detailed information about the currently authenticated user. For additional information, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/auth).","operationId":"Get_Authenticated_User","responses":{"200":{"description":"User Information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthUserInfoResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/me/mfa":{"get":{"tags":["auth"],"summary":"Get MFA status for authenticated user","description":"Retrieve the Multi-Factor Authentication (MFA) status for the currentlyauthenticated user. Includes whether MFA is enabled.","operationId":"Get_User_MFA_Status","responses":{"200":{"description":"MFA Status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MFAStatusResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/me/mfa/disable":{"post":{"tags":["auth"],"description":"Disable Multi-Factor Authentication (MFA) for the currently authenticated user. This endpoint is used to turn off MFA.","operationId":"Disable_MFA","responses":{"200":{"description":"MFA Disabled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden - CSRF validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/me/organizations":{"get":{"tags":["auth"],"summary":"Get User Organizations","description":"Retrieve the organizations associated with a user by their user ID. This endpoint is useful for understanding the user's organizational affiliations.","operationId":"Get_User_Organizations","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserOrganizationsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/organizations":{"get":{"tags":["organization"],"summary":"Retrieve Organization Information","description":"Retrieves detailed information about your organization, including current credit, threshold, number of instances, and number of volumes. For additional information on organizations, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/retrieve-org-details).","operationId":"Retrieve_Organization_Information","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrganizationResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/organizations/remove-member":{"post":{"tags":["organization"],"summary":"Remove Organization Member","description":"Removes a member from your organization. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/remove-member).","operationId":"Remove_Organization_Member","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveMemberPayload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveMemberFromOrganizationResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/auth/organizations/update":{"put":{"tags":["organization"],"summary":"Update Organization Information","description":"Updates the name of the organization. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/organization/update-org-name).","operationId":"Update_Organization_Information","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrganizationPayload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrganizationResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/auth/partner-config":{"get":{"tags":["partner-config"],"summary":"Get partner config","description":"Fetch the customised customer configuration for Hyperstack.","operationId":"Get_partner_config","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerConfig"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}}}},"/auth/partner-config/docs":{"get":{"tags":["partner-config"],"description":"Fetch the partner config for a given domain.","operationId":"Get_partner_config_by_domain","parameters":[{"name":"domain","in":"query","description":"The domain to look up the partner config for.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerConfig"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}}}},"/auth/permissions":{"get":{"tags":["permission"],"summary":"List Permissions","description":"Retrieves a list of permissions that users can be granted to access a particular resource action. For additional information on permissions, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/permission/permissions).","operationId":"List_Permissions","responses":{"200":{"description":"Getting permissions success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPermissionsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/policies":{"get":{"tags":["policy"],"summary":"List Policies","description":"Retrieves a list of policies available for addition to RBAC roles. For additional information on policies, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/policies).","operationId":"List_Policies","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPoliciesResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/roles":{"get":{"tags":["rbac role"],"summary":"List RBAC Roles","description":"Retrieves a list of RBAC roles that can be assigned to the users within an organization. For additional information on RBAC roles, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/list-rbac-roles).","operationId":"List_RBAC_Roles","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRbacRolesResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["rbac role"],"summary":"Create RBAC Role","description":"Creates an RBAC role that can be assigned to users, granting them access to specific resource actions. Provide the configuration of the RBAC role, including its name, description, and list of permissions and policy IDs in the request body. For additional information on creating RBAC roles, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/create-rbac-role).","operationId":"Create_RBAC_Role","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUpdateRbacRolePayload"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RbacRoleDetailResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/auth/roles/{id}":{"get":{"tags":["rbac role"],"summary":"Retrieve RBAC Role Details","description":"Retrieves the details of a specified RBAC role by providing the RBAC role ID in the path. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/retrieve-rbac-details).","operationId":"Retrieve_RBAC_Role_Details","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RbacRoleDetailResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"put":{"tags":["rbac role"],"summary":"Update RBAC Role","description":"Updates an RBAC role by providing the role ID in the path and the modified role configuration in the request body, including its name, description, and list of permissions and policy IDs. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/update-rbac-role).","operationId":"Update_RBAC_Role","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUpdateRbacRolePayload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RbacRoleDetailResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"},"delete":{"tags":["rbac role"],"summary":"Delete RBAC Role","description":"Deletes an RBAC role by providing its ID in the path. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/delete-rbac-role).","operationId":"Delete_RBAC_Role","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/token/change-org/{org_id}":{"get":{"tags":["auth"],"description":"Change the organization associated with the current token. This is useful for users who have access to multiple organizations.","operationId":"Change_Organization_for_Token","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthGetTokenResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/user-consent":{"get":{"tags":["user-consent"],"summary":"Get Consents for a User","description":"Fetch all the recorded consents given from a User","operationId":"Get_All_Consents_for_a_User","parameters":[{"name":"consent_type","in":"query","description":"Filter by consent type","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserConsentsResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}}},"post":{"tags":["user-consent"],"summary":"Add a new User consent","description":"Add a new consent given by the User","operationId":"Add_a_new_consent_for_a_User","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecordConsentRequest"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentActionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"x-codegen-request-body-name":"payload"}},"/auth/user-consent-events/{consent_type}/events":{"get":{"tags":["user-consent-events"],"summary":"Get audit trail for a consent","description":"Get all consent audit events","operationId":"Get_consent_audit_events","parameters":[{"name":"consent_type","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentEventsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}}}}},"/auth/user-consent/templates":{"get":{"tags":["user-consent"],"summary":"Get all consent templates","description":"Returns current consent templates for all consent types","operationId":"Get_all_consent_templates","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentTemplatesResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}}}}},"/auth/user-consent/templates/{consent_type}":{"get":{"tags":["user-consent"],"summary":"Get consent template for a specific type","description":"Returns the current consent template for a specific consent type","operationId":"Get_consent_template_by_type","parameters":[{"name":"consent_type","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentTemplate"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}}}}},"/auth/user-consent/{consent_type}":{"patch":{"tags":["user-consent"],"summary":"Grant or revoke an existing consent","description":"Revoke or grant a consent to the User","operationId":"Update_a_consent_action_by_type","parameters":[{"name":"consent_type","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateConsentRequest"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentActionResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"x-codegen-request-body-name":"payload"}},"/auth/users/me/permissions":{"get":{"tags":["user permission"],"summary":"List My User Permissions","description":"Retrieves a list of permissions granted to your account. For additional information on your permissions, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/permission/list-my-permissions).","operationId":"List_My_User_Permissions","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserPermissionsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/users/{id}/permissions":{"get":{"tags":["user permission"],"summary":"List User Permissions","description":"Retrieves a list of permissions granted to a specific user within your organization. Provide the ID of the user in the path. For additional information on user permissions, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/permission/list-user-permissions).","operationId":"List_User_Permissions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserPermissionsResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/auth/users/{user_id}/assign-roles":{"put":{"tags":["assigning member role"],"summary":"Assign RBAC Role","description":"Assigns a specific RBAC role to a user within your organization, granting them access to the resource actions permitted by the role. Provide the user ID in the path and the role ID in the request body. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/manage-member-roles/assign-rbac-role).","operationId":"Assign_RBAC_Role_to_User","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRbacRolePayload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RbacRoleDetailResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/auth/users/{user_id}/roles":{"delete":{"tags":["assigning member role"],"summary":"Remove RBAC Role From User","description":"Removes an RBAC role from a user within your organization, revoking the resource permissions they had access to. Provide the user ID in the path. For additional information, [click here](https://docs.hyperstack.cloud/docs/api-reference/auth-resources/rbac/manage-member-roles/revoke-rbac-role).","operationId":"Remove_RBAC_Role_From_User","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/clusters":{"get":{"tags":["clusters"],"summary":"List Clusters","operationId":"List_Clusters","parameters":[{"name":"page","in":"query","description":"Page number for pagination","schema":{"type":"integer"}},{"name":"pageSize","in":"query","description":"Number of items per page","schema":{"type":"integer"}},{"name":"environment","in":"query","description":"Environment Filter","schema":{"type":"string"}},{"name":"search","in":"query","description":"Search query to filter cluster by name","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["clusters"],"summary":"Create Cluster","operationId":"Create_Cluster","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create_Cluster_Payload"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"422":{"description":"Unprocessable entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/clusters/master-flavors":{"get":{"tags":["clusters"],"summary":"Get Cluster Master Flavors","operationId":"Get_Cluster_Master_Flavors","responses":{"200":{"description":"Retrieved Flavors.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterFlavorsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/clusters/name-availability/{name}":{"get":{"tags":["clusters"],"summary":"Fetch cluster name availability","description":"Check if a Cluster name is available","operationId":"Fetch_cluster_name_availability","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameAvailableModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/clusters/versions":{"get":{"tags":["clusters"],"summary":"List Cluster Versions","description":"Lists available Kubernetes versions, optionally filtered by region.","operationId":"Get_Cluster_Versions","parameters":[{"name":"region","in":"query","description":"Filter versions by region name (optional)","schema":{"type":"string"}}],"responses":{"200":{"description":"Retrieved Cluster Versions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterVersions"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/clusters/{cluster_id}/events":{"get":{"tags":["cluster events"],"summary":"Fetch all of a cluster events","operationId":"List_cluster_events","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterEvents"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/clusters/{cluster_id}/node-groups":{"get":{"tags":["clusters"],"summary":"List node groups for a cluster","operationId":"List_Node_Groups","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterNodeGroupsListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["clusters"],"summary":"Create a node group in a cluster","operationId":"Create_Node_Group","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create_ClusterNodeGroup_payload"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterNodeGroupsCreateResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/clusters/{cluster_id}/node-groups/{node_group_id}":{"get":{"tags":["clusters"],"summary":"Retrieve a node group in a cluster","operationId":"Get_Node_Group","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"node_group_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterNodeGroupsGetResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"delete":{"tags":["clusters"],"summary":"Delete a node group","operationId":"Delete_Node_Group","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"node_group_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"patch":{"tags":["clusters"],"summary":"Update a node group in a cluster","operationId":"Update_Node_Group","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"node_group_id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Update_ClusterNodeGroup_payload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterNodeGroupsCreateResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/clusters/{cluster_id}/nodes":{"get":{"tags":["clusters"],"summary":"Get Cluster Nodes","operationId":"Get_Cluster_Nodes","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterNodesListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["clusters"],"summary":"Create Node","operationId":"Create_Node","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClusterNodeFields"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterNodesListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/clusters/{cluster_id}/nodes/delete":{"post":{"tags":["clusters"],"summary":"Delete Multiple Cluster Nodes","operationId":"Delete_Cluster_Nodes","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteClusterNodesFields"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/clusters/{cluster_id}/nodes/{node_id}":{"delete":{"tags":["clusters"],"summary":"Delete Cluster Node","operationId":"Delete_Cluster_Node","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"node_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/clusters/{cluster_id}/reconcile":{"post":{"tags":["clusters"],"summary":"Reconcile a cluster","operationId":"Reconcile_cluster","parameters":[{"name":"cluster_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManualReconciliationModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/clusters/{id}":{"get":{"tags":["clusters"],"summary":"Getting Cluster Detail","operationId":"Getting_Cluster_Detail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"delete":{"tags":["clusters"],"summary":"Delete a cluster","operationId":"Delete_cluster","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/compliance":{"get":{"tags":["compliance"],"summary":"Retrieve GPU compliance","description":"Returns a list of compliance objects each corresponding to available GPU models. These compliance objects contain minimum and maximum values for RAM in GB, number of vCPUs, and system disk capacity in GB. Use the optional `gpu` model parameter in the query string to filter responses by GPU model. For additional details on GPU compliance, [**click here**](https://docs.hyperstack.cloud/docs/hardware/flavors#adhering-to-gpu-compliance).","operationId":"Get_compliance","parameters":[{"name":"gpu","in":"query","description":"This is for gpu model","schema":{}}],"responses":{"200":{"description":"Compliance list retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComplianceResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"put":{"tags":["compliance"],"summary":"Update a compliance","operationId":"Update_compliance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompliancePayload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUpdateComplianceResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"},"post":{"tags":["compliance"],"summary":"Create compliance","operationId":"Create_Compliance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompliancePayload"}}},"required":true},"responses":{"201":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUpdateComplianceResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/compliance/{gpu_model}":{"delete":{"tags":["compliance"],"summary":"Delete a compliance","operationId":"Delete_compliance","parameters":[{"name":"gpu_model","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/dashboard":{"get":{"tags":["dashboard"],"summary":"Retrieve Dashboard","description":"Returns hardware and pricing overview for your active resources, includingvirtual machines, containers, and volumes. For more details on the Dashboard feature, [**click here**](https://docs.hyperstack.cloud/docs/resource-management/dashboard/).","operationId":"Get_Dashboard","responses":{"200":{"description":"Getting dashboard info success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard_Info_Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/environments":{"get":{"tags":["environment"],"summary":"List environments","description":"Returns a list of your existing environments, providing the following details for each; environment ID, name, [**region**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/environments/), and the date and time of creation. For more information on environments, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/environments/).","operationId":"List_environments","parameters":[{"name":"page","in":"query","description":"Page Number","schema":{}},{"name":"pageSize","in":"query","description":"Data Per Page","schema":{}},{"name":"search","in":"query","description":"Search By ID or Name or Region","schema":{}}],"responses":{"200":{"description":"Successful retrieval of environments list.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environments"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["environment"],"summary":"Create environment","description":"Creates an environment—a container to organize your resources, including SSH key pairs, virtual machines, and volumes. To create your environment, provide your desired environment name, and [**region**](https://docs.hyperstack.cloud/docs/resource-management/regions/) in the request body.","operationId":"Create_environment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create_Environment"}}},"required":true},"responses":{"200":{"description":"Environment has been created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environment"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/environments/name-availability/{name}":{"get":{"tags":["environment"],"summary":"Fetch environment name availability","description":"Check if a Environment name is available","operationId":"Fetch_environment_name_availability","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameAvailableModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/environments/{id}":{"get":{"tags":["environment"],"summary":"Retrieve environment","description":"Retrieves details about a specific environment. Provide the environment ID in the path and the new environment `name` in the request body to modify the specified environment.","operationId":"Get_environment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Environment details retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environment"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"put":{"tags":["environment"],"summary":"Update environment","description":"Updates the name of an existing environment. Provide the environment ID in the path and the new environment `name` in the request body to modify the specified environment.","operationId":"Update_environment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Update_Environment"}}},"required":true},"responses":{"200":{"description":"Environment name successfully updated.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Environment"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"},"delete":{"tags":["environment"],"summary":"Delete environment","description":"Deletes an environment permanently. Provide the environment ID in the path to remove the specified environment.","operationId":"Delete_environment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"The environment has been successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/environments/{id}/vm-quota":{"get":{"tags":["environment"],"summary":"Get environment VM quota","description":"Retrieves VM quota information for a specific environment, including current VM count, maximum VMs allowed, available VMs, and percentage used in an environment before reaching the subnet IP limit.","operationId":"Get_environment_VM_quota","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"VM quota information retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VM_Quota"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/fip-detachment-exclusions/org/{org_id}":{"get":{"tags":["FIP Exclusions"],"description":"is org excluded from floating ip detachment","operationId":"Check_if_Org_is_Excluded_from_Floating_IP_Detachment","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/firewalls":{"get":{"tags":["firewalls"],"summary":"List firewalls","description":"Retrieves a list of existing firewalls and their details, including the security rules they contain and information about the virtual machines to which they are attached. For more information about the firewalls features offered by Infrahub, [**click here**](https://docs.hyperstack.cloud/docs/network-security/security-groups).","operationId":"List_existing_firewalls","parameters":[{"name":"page","in":"query","schema":{"type":"integer"}},{"name":"pageSize","in":"query","schema":{"type":"integer"}},{"name":"search","in":"query","schema":{"type":"string"}},{"name":"environment","in":"query","description":"Filter Environment ID or Name","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirewallsListResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["firewalls"],"summary":"Create firewall","description":"Creates a firewall to which firewall rules can be added. A firewall can be attached to one or more virtual machines to control inbound and outbound traffic. In the body of the request, include the name of the firewall, the ID of the environment within which the firewall will be created, and an optional description. To obtain the ID of the environment, make a request to the [**list environments**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/environments/list-environments) endpoint.","operationId":"Create_firewall","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFirewallPayload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirewallResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/firewalls/{firewall_id}/firewall-rules":{"post":{"tags":["firewalls"],"summary":"Add firewall rule to firewall","description":"Creates a [**firewall rule**](https://docs.hyperstack.cloud/docs/network-security/security-rules) and adds it to an existing firewall. Include the firewall ID in the path, and provide the firewall rule configuration in the request body.","operationId":"Add_rule_to_firewall","parameters":[{"name":"firewall_id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Create_Firewall_Rule_Payload"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Firewall_Rule"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/firewalls/{firewall_id}/firewall-rules/{firewall_rule_id}":{"delete":{"tags":["firewalls"],"summary":"Delete firewall rules from firewall","description":"Removes a firewall rule from firewall by providing the firewall ID and firewall rule ID in the path. For more information, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/firewalls/remove-firewall-rule-from-firewall).","operationId":"Delete_rule_from_firewall","parameters":[{"name":"firewall_id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"firewall_rule_id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/firewalls/{firewall_id}/update-attachments":{"post":{"tags":["firewall-attachment"],"summary":"Attach Firewalls to VMs","description":"Attach a firewall to one or more virtual machines by providing the virtual machine IDs in the request body and the firewall ID in the path. For more information, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/firewalls/attach-firewall-to-vms).","operationId":"Attach_firewall_to_VMs","parameters":[{"name":"firewall_id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachFirewallWithVM"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/firewalls/{id}":{"get":{"tags":["firewalls"],"summary":"Retrieve firewall details","description":"Retrieves the details of an existing firewall, including the security rules it contains and information about the virtual machines to which it is attached.","operationId":"Get_firewall","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FirewallDetailResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"delete":{"tags":["firewalls"],"summary":"Delete firewall","description":"Deletes a firewall by specifying the firewall ID in the path. If the firewall is currently attached to a virtual machine, it must be detached before deletion. For more information, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/firewalls/delete-firewall).","operationId":"Delete_existing_firewall","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/flavors":{"get":{"tags":["flavor"],"summary":"List Flavors","description":"Returns a list of available virtual machine hardware configurations, known as**flavors**. You can specify a `region_name` in the query string of the request toretrieve flavors available only in the specified region; by default, it returnsflavors available in all regions. For more details on flavors,[**click here**](https://docs.hyperstack.cloud/docs/hardware/flavors).","operationId":"List_Flavors","parameters":[{"name":"region","in":"query","description":"Region Name","schema":{}}],"responses":{"200":{"description":"Successful retrieval of flavors list.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Flavor_List_Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/gpus":{"get":{"tags":["gpu"],"summary":"List GPUs","description":"Returns a list of all available GPUs that can be utilized in the creation of custom virtual machine configurations.","operationId":"List_GPUs","responses":{"200":{"description":"Retrieval of GPUs list successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GPU_List"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/image/name-availability/{name}":{"get":{"tags":["image"],"summary":"Fetch name availability for Images","description":"Check if an Image name is available","operationId":"Fetch_Image_name_availability","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NameAvailableModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/images":{"get":{"tags":["image"],"summary":"List Images","description":"Returns a list of all available operating system (OS) images, providing details about each image's corresponding virtual machine operating system. You can include the optional `region` parameter in the query string of the request to specifically return OS images from the designated region. Additionally, use the `include_public` parameter to specify whether to include public images in the response. For more information onOS images, [**click here**](https://docs.hyperstack.cloud/docs/virtual-machines/images).","operationId":"List_Images","parameters":[{"name":"region","in":"query","description":"Region Name","schema":{"type":"string"}},{"name":"include_public","in":"query","description":"Flag to include public images in the response (true/false). Default is true.","schema":{"type":"boolean"}},{"name":"search","in":"query","description":"Search query to filter images by name","schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number for pagination","schema":{"type":"integer"}},{"name":"per_page","in":"query","description":"Number of Images per page","schema":{"type":"integer"}}],"responses":{"200":{"description":"Retrieval of images list successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Images"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/images/{id}":{"get":{"tags":["image"],"summary":"Get Private Image Details","description":"Retrieve details of a specific image by providing the image ID.","operationId":"Get_Image","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}},{"name":"include_related_vms","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Image details retrieved successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Image"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"delete":{"tags":["image"],"summary":"Delete an image","description":"Deletes an image permanently. Provide the image ID in the path to specify the image to be deleted.","operationId":"Delete_image","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Image successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/keypair/{id}":{"put":{"tags":["keypair"],"summary":"Update key pair name","description":"Updates the name of a specified key pair. Provide the key pair ID in the path, and include the new `name` in the request body.","operationId":"Update_key_pair_name","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Update_Keypair_Name"}}},"required":true},"responses":{"200":{"description":"Keypair name updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Update_Keypair_name_response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"},"delete":{"tags":["keypair"],"summary":"Delete key pair","description":"Permanently deletes a specified key pair. Provide the key pair ID in the path to remove the designated key pair.","operationId":"Delete_key_pair","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Keypair successfully deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/keypairs":{"get":{"tags":["keypair"],"summary":"List key pairs","description":"Retrieves a list of your existing SSH key pairs, providing details for each. For more information on SSH key pairs, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/keypairs/).","operationId":"List_key_pairs","parameters":[{"name":"page","in":"query","description":"Page Number","schema":{}},{"name":"pageSize","in":"query","description":"Data Per Page","schema":{}},{"name":"search","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Retrieval of key pairs list successful.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Keypairs"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["keypair"],"summary":"Import key pair","description":"Imports a new key pair for secure shell (SSH) access to your resources. Provide the key name, environment name, and public key in the request body. For more details on importing SSH key pairs, [**click here**](https://docs.hyperstack.cloud/docs/api-reference/core-resources/keypairs/import-keypair).","operationId":"Import_key_pair","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Import_Keypair_Payload"}}},"required":true},"responses":{"200":{"description":"Keypair is imported successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Import_Keypair_Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/marketplace/deployments":{"get":{"tags":["deployment"],"summary":"List Deployments","operationId":"List_Deployments","responses":{"200":{"description":"Getting deployments success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Deployments"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"post":{"tags":["deployment"],"summary":"Start Deployment","operationId":"Start_Deployment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Start_Deployment_Payload"}}},"required":true},"responses":{"200":{"description":"Deployment created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Start_Deployment"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}],"x-codegen-request-body-name":"payload"}},"/core/marketplace/deployments/{id}":{"get":{"tags":["deployment"],"summary":"Details of Deployment by ID","operationId":"Get_deployment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Getting deployment detail success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Start_Deployment"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]},"delete":{"tags":["deployment"],"summary":"Delete Deployment","operationId":"Delete_Deployment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"202":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"500":{"description":"Internal Server Error","content":{}}},"security":[{"accessToken":[]},{"apiKey":[]}]}},"/core/marketplace/templates":{"get":{"tags":["template"],"summary":"List templates","description":"Returns a comprehensive list of templates, providing resource configuration details for each. Optionally, specify the `visibility` as `public` or `private` to retrieve templates with the desired visibility status. To learn more about the templates feature, [**click here**](https://docs.hyperstack.cloud/docs/features/templates#view-a-list-of-templates).","operationId":"List_templates","parameters":[{"name":"visibility","in":"query","description":"Specify the `visibility` status as either `public` or `private` to filter and retrieve templates with the desired visibility.","schema":{}}],"responses":{"200":{"description":"Templates list successfully retrieved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Templates"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseModel"}}}},"406":{"description":"Not Acceptable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseMod
[...]
