{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Studio API",
    "version": "0.1",
    "description": "The AI Studio API is a REST API for the full lifecycle of custom AI models on Hyperstack AI Studio: curate and generate training datasets, fine-tune foundation models on your data, evaluate training results, deploy models, and run inference. Inference runs on base and fine-tuned models, covering text chat (OpenAI-compatible chat completions) and image generation and editing.\n\n## Base URL\n\nAll requests are sent to:\n\n```\nhttps://console.hyperstack.cloud/ai/api/v1\n```\n\n## Authentication\n\nEvery request requires an API key. Pass it as the `api_key` request header, with the raw key as the value and no prefix (`api_key: YOUR_API_KEY`). Generate a key on the [API Keys](https://console.hyperstack.cloud/api-keys) page in the Hyperstack console. See [Getting Started with the API](https://docs.hyperstack.cloud/docs/ai-studio/getting-started#getting-started-with-the-api) for the full walkthrough.\n\n## Request and response format\n\nRequests use standard HTTP methods (`GET`, `POST`, `PUT`, `PATCH`, `DELETE`) with `application/json` bodies unless noted otherwise. Responses are `application/json`. The text inference endpoints, such as [chat completions](https://docs.hyperstack.cloud/docs/ai-studio-api-reference/chat-completions), are OpenAI-compatible."
  },
  "servers": [
    {
      "url": "https://console.hyperstack.cloud/ai/api/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Base Models",
      "description": "Pre-trained foundation models available in AI Studio. These endpoints let you list available models, retrieve pricing, and fetch details for a specific base model."
    },
    {
      "name": "Inference",
      "description": "OpenAI-compatible chat completions endpoint for running inference against deployed models. Use this endpoint to send prompts and receive generated responses."
    },
    {
      "name": "Image Generation",
      "description": "Text-to-image and image-to-image generation. Submit a generation or edit request, then poll the task endpoint to retrieve the resulting image. Use a presigned upload URL to supply a source image for edits."
    },
    {
      "name": "Conversations",
      "description": "Conversation threads and message history for AI Studio chat sessions. These endpoints let you create conversations, send messages, retrieve message history, and delete conversation threads."
    },
    {
      "name": "Models",
      "description": "User-deployed models and model aliases. These endpoints let you deploy and undeploy models, list available models, manage model aliases, and retrieve deployment details."
    },
    {
      "name": "System Prompts",
      "description": "Reusable system prompt templates for AI Studio deployments. These endpoints let you create, retrieve, update, and delete system prompts that can be applied to deployed models."
    },
    {
      "name": "Overview",
      "description": "Organization-level summary and resource usage metrics for the AI Studio account."
    },
    {
      "name": "Knowledge Bases",
      "description": "Collections of your own documents that models can search at inference time."
    }
  ],
  "paths": {
    "/base_models": {
      "get": {
        "description": "Returns all pre-trained foundation models available in AI Studio for inference. Base models are served through third-party provider integrations.",
        "operationId": "getBaseModels",
        "parameters": [
          {
            "in": "query",
            "name": "inference",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": null
            },
            "description": "When `true`, returns only base models that are available for inference."
          },
          {
            "in": "query",
            "name": "finetuning",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": null
            },
            "description": "When `true`, returns only base models that support fine-tuning."
          },
          {
            "in": "query",
            "name": "modalities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ModalityEnum"
              }
            },
            "description": "Filter models by modality. Repeat the parameter for multiple values, such as `modalities=text-to-image&modalities=image-to-image`."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseModelsResponseSchema",
                  "example": {
                    "models": [
                      {
                        "allowed_hf_lora_adapter_size": 8589934592,
                        "available_for_finetuning": true,
                        "available_for_inference": true,
                        "default_batch_size": 16,
                        "default_gradient_accumulation_steps": 2,
                        "default_lr": 0.00005,
                        "default_micro_batch_size": 4,
                        "deployment_records": [],
                        "display_name": "Llama 3.3 70B Instruct",
                        "hf_repo": "meta-llama/Llama-3.3-70B-Instruct",
                        "input_token_cost_per_m": 0.8,
                        "is_third_party": false,
                        "model_id": 1001,
                        "model_name": "Llama-3.3-70B-Instruct",
                        "model_type": "language_model",
                        "output_token_cost_per_m": 0.8,
                        "supported_context_len": 8192,
                        "supported_locations": [
                          "ca1"
                        ],
                        "training_cost_per_log": 0.00551,
                        "training_time_per_log": 0.08741,
                        "training_time_y_intercept": 856.518,
                        "input_modalities": [
                          "text"
                        ],
                        "output_modalities": [
                          "text"
                        ]
                      }
                    ],
                    "status": "success"
                  }
                },
                "example": {
                  "models": [
                    {
                      "allowed_hf_lora_adapter_size": 8589934592,
                      "available_for_finetuning": true,
                      "available_for_inference": true,
                      "default_batch_size": 16,
                      "default_gradient_accumulation_steps": 2,
                      "default_lr": 0.00005,
                      "default_micro_batch_size": 4,
                      "deployment_records": [],
                      "display_name": "Llama 3.3 70B Instruct",
                      "hf_repo": "meta-llama/Llama-3.3-70B-Instruct",
                      "input_token_cost_per_m": 0.8,
                      "is_third_party": false,
                      "model_id": 1001,
                      "model_name": "Llama-3.3-70B-Instruct",
                      "model_type": "language_model",
                      "output_token_cost_per_m": 0.8,
                      "supported_context_len": 8192,
                      "supported_locations": [
                        "ca1"
                      ],
                      "training_cost_per_log": 0.00551,
                      "training_time_per_log": 0.08741,
                      "training_time_y_intercept": 856.518,
                      "input_modalities": [
                        "text"
                      ],
                      "output_modalities": [
                        "text"
                      ]
                    }
                  ],
                  "status": "success"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "List base models",
        "tags": [
          "Base Models"
        ]
      }
    },
    "/base_models/pricing": {
      "get": {
        "description": "Returns input and output token pricing for each available base model, expressed as cost per 1 million tokens. Use this to estimate inference and evaluation costs before submitting jobs.",
        "operationId": "getBaseModelPricing",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "pricing": [
                    {
                      "available_for_inference": true,
                      "is_third_party": false,
                      "last_health_check": "2025-01-15T10:30:00.000000+00:00",
                      "model_name": "Llama-3.3-70B-Instruct",
                      "pricing": {
                        "input": "0.80",
                        "output": "0.80"
                      }
                    }
                  ],
                  "status": "success"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "pricing": {
                      "type": "array",
                      "description": "List of pricing entries, one per available model.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "available_for_inference": {
                            "type": "boolean",
                            "description": "Whether the model is currently available for inference."
                          },
                          "is_third_party": {
                            "type": "boolean",
                            "description": "Whether the model is hosted by a third-party provider."
                          },
                          "last_health_check": {
                            "type": "string",
                            "description": "ISO 8601 timestamp of the most recent availability health check."
                          },
                          "model_name": {
                            "type": "string",
                            "description": "Model display name."
                          },
                          "pricing": {
                            "type": "object",
                            "description": "Token pricing in USD per 1 million tokens.",
                            "properties": {
                              "input": {
                                "type": "string",
                                "description": "Cost per 1M input (prompt) tokens."
                              },
                              "output": {
                                "type": "string",
                                "description": "Cost per 1M output (completion) tokens."
                              }
                            }
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Indicates the result of the operation. Typically `\"success\"`."
                    }
                  },
                  "example": {
                    "pricing": [
                      {
                        "available_for_inference": true,
                        "is_third_party": false,
                        "last_health_check": "2025-01-15T10:30:00.000000+00:00",
                        "model_name": "Llama-3.3-70B-Instruct",
                        "pricing": {
                          "input": "0.80",
                          "output": "0.80"
                        }
                      }
                    ],
                    "status": "success"
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "List base model pricing",
        "tags": [
          "Base Models"
        ]
      }
    },
    "/base_models/{base_model_id}": {
      "get": {
        "description": "Returns detailed information for a specific base model by its numeric ID, including supported context length and pricing tiers.",
        "operationId": "getBaseModel",
        "parameters": [
          {
            "in": "path",
            "name": "base_model_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "description": "Unique identifier of the base model to retrieve."
          },
          {
            "in": "query",
            "name": "month",
            "required": false,
            "schema": {
              "type": "integer",
              "default": null
            },
            "description": "Month (1-12) to scope returned usage data to."
          },
          {
            "in": "query",
            "name": "year",
            "required": false,
            "schema": {
              "type": "integer",
              "default": null
            },
            "description": "Year (e.g. `2025`) to scope returned usage data to."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelResponseSchema",
                  "example": {
                    "message": {
                      "allowed_hf_lora_adapter_size": 8589934592,
                      "available_for_finetuning": true,
                      "available_for_inference": true,
                      "default_batch_size": 16,
                      "default_gradient_accumulation_steps": 2,
                      "default_lr": 0.00005,
                      "default_micro_batch_size": 4,
                      "deployment_records": [],
                      "display_name": "Llama 3.3 70B Instruct",
                      "hf_repo": "meta-llama/Llama-3.3-70B-Instruct",
                      "input_token_cost_per_m": 0.8,
                      "is_third_party": false,
                      "model_id": 1001,
                      "model_name": "Llama-3.3-70B-Instruct",
                      "model_type": "language_model",
                      "output_token_cost_per_m": 0.8,
                      "supported_context_len": 8192,
                      "supported_locations": [
                        "ca1"
                      ],
                      "training_cost_per_log": 0.00551,
                      "training_time_per_log": 0.08741,
                      "training_time_y_intercept": 856.518,
                      "usage_data": [],
                      "input_modalities": [
                        "text"
                      ],
                      "output_modalities": [
                        "text"
                      ]
                    },
                    "status": "success"
                  }
                },
                "example": {
                  "message": {
                    "allowed_hf_lora_adapter_size": 8589934592,
                    "available_for_finetuning": true,
                    "available_for_inference": true,
                    "default_batch_size": 16,
                    "default_gradient_accumulation_steps": 2,
                    "default_lr": 0.00005,
                    "default_micro_batch_size": 4,
                    "deployment_records": [],
                    "display_name": "Llama 3.3 70B Instruct",
                    "hf_repo": "meta-llama/Llama-3.3-70B-Instruct",
                    "input_token_cost_per_m": 0.8,
                    "is_third_party": false,
                    "model_id": 1001,
                    "model_name": "Llama-3.3-70B-Instruct",
                    "model_type": "language_model",
                    "output_token_cost_per_m": 0.8,
                    "supported_context_len": 8192,
                    "supported_locations": [
                      "ca1"
                    ],
                    "training_cost_per_log": 0.00551,
                    "training_time_per_log": 0.08741,
                    "training_time_y_intercept": 856.518,
                    "usage_data": [],
                    "input_modalities": [
                      "text"
                    ],
                    "output_modalities": [
                      "text"
                    ]
                  },
                  "status": "success"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "Get base model",
        "tags": [
          "Base Models"
        ]
      }
    },
    "/chat/completions": {
      "post": {
        "description": "Sends a chat prompt to a model and returns a completion. Supports both streaming (server-sent events) and non-streaming response modes. Use the `model` field to target a base model by its `model_name`. Optional sampling parameters include `temperature`, `top_p`, `top_k`, `max_tokens`, `presence_penalty`, and `repetition_penalty`. Total tokens (prompt + completion) must not exceed the model's context window.",
        "operationId": "chatCompletions",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InferenceRequestSchema",
                "example": {
                  "model": "Qwen/Qwen3-VL-8B-Instruct",
                  "messages": [
                    {
                      "role": "user",
                      "content": [
                        {
                          "type": "text",
                          "text": "Describe this image."
                        },
                        {
                          "type": "image_url",
                          "image_url": {
                            "url": "https://example.com/photo.png"
                          }
                        }
                      ]
                    }
                  ],
                  "stream": false
                }
              },
              "example": {
                "model": "Qwen/Qwen3-VL-8B-Instruct",
                "messages": [
                  {
                    "role": "user",
                    "content": [
                      {
                        "type": "text",
                        "text": "Describe this image."
                      },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/photo.png"
                        }
                      }
                    ]
                  }
                ],
                "stream": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "choices": [
                    {
                      "finish_reason": "stop",
                      "index": 0,
                      "message": {
                        "content": "This is a minimalist, pixel-art style image depicting a serene sunset or sunrise over a mountain range.\n\nThe key elements are:\n\n*   **The Sky:** The background features a smooth gradient, transitioning from a deep purple at the top to a warm orange-pink near the horizon. This creates a calm, atmospheric effect.\n*   **The Sun:** A large, bright, off-white circle representing the sun is positioned just above the horizon, partially obscured by the mountains.\n*   **The Mountains:** Two simple, dark purple, triangular mountain silhouettes dominate the lower half of the image. They are rendered in a low-resolution, pixelated style, giving the scene a retro video game aesthetic.\n\nThe overall composition is balanced and tranquil, with the sun acting as a central focal point. The use of simple shapes and a limited color palette emphasizes the peacefulness of the scene.",
                        "role": "assistant"
                      }
                    }
                  ],
                  "created": 1736932200,
                  "id": "a1b2c3d4e5f6789012345678901234ab",
                  "model": "qwen/qwen3-vl-8b-instruct",
                  "object": "chat.completion",
                  "usage": {
                    "completion_tokens": 177,
                    "prompt_tokens": 91,
                    "total_tokens": 268
                  }
                },
                "schema": {
                  "type": "object",
                  "description": "OpenAI-compatible chat completion response.",
                  "properties": {
                    "choices": {
                      "type": "array",
                      "description": "Array of completion choices. Most requests produce one choice.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finish_reason": {
                            "type": "string",
                            "description": "Reason generation stopped: `stop`, `length`, or `content_filter`."
                          },
                          "index": {
                            "type": "integer",
                            "description": "Index of this choice."
                          },
                          "logprobs": {
                            "type": "object",
                            "description": "Log probabilities for tokens, if requested."
                          },
                          "message": {
                            "type": "object",
                            "description": "The generated message.",
                            "properties": {
                              "role": {
                                "type": "string",
                                "description": "Always `\"assistant\"`."
                              },
                              "content": {
                                "type": "string",
                                "description": "Generated text content."
                              }
                            }
                          }
                        }
                      }
                    },
                    "created": {
                      "type": "integer",
                      "description": "Unix timestamp of when the completion was created."
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for this completion."
                    },
                    "model": {
                      "type": "string",
                      "description": "Model that generated the completion."
                    },
                    "object": {
                      "type": "string",
                      "description": "Always `\"chat.completion\"`."
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token usage for this completion.",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Tokens in the input prompt."
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Tokens generated in the response."
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Total tokens consumed."
                        }
                      }
                    }
                  },
                  "example": {
                    "choices": [
                      {
                        "finish_reason": "stop",
                        "index": 0,
                        "message": {
                          "content": "This is a minimalist, pixel-art style image depicting a serene sunset or sunrise over a mountain range.\n\nThe key elements are:\n\n*   **The Sky:** The background features a smooth gradient, transitioning from a deep purple at the top to a warm orange-pink near the horizon. This creates a calm, atmospheric effect.\n*   **The Sun:** A large, bright, off-white circle representing the sun is positioned just above the horizon, partially obscured by the mountains.\n*   **The Mountains:** Two simple, dark purple, triangular mountain silhouettes dominate the lower half of the image. They are rendered in a low-resolution, pixelated style, giving the scene a retro video game aesthetic.\n\nThe overall composition is balanced and tranquil, with the sun acting as a central focal point. The use of simple shapes and a limited color palette emphasizes the peacefulness of the scene.",
                          "role": "assistant"
                        }
                      }
                    ],
                    "created": 1736932200,
                    "id": "a1b2c3d4e5f6789012345678901234ab",
                    "model": "qwen/qwen3-vl-8b-instruct",
                    "object": "chat.completion",
                    "usage": {
                      "completion_tokens": 177,
                      "prompt_tokens": 91,
                      "total_tokens": 268
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "The request was invalid. This includes sending image content to a model that does not support image input, which returns the error \"Model X does not support image input.\""
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "Create chat completion",
        "tags": [
          "Inference"
        ]
      }
    },
    "/conversations": {
      "get": {
        "description": "Returns all conversation threads for the authenticated user. Conversations are persistent chat sessions, created in the AI Studio Playground or via the Send message API, that retain message history, model selection, and parameter settings across sessions.",
        "operationId": "getConversations",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "description": "Page number to retrieve. Defaults to 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "description": "Number of conversations per page. Defaults to 20.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "description": "Filter conversations by title (case-insensitive).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of your conversations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "description": "The conversations on this page, ordered by most recent activity.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Unique conversation ID."
                          },
                          "title": {
                            "type": "string",
                            "description": "Conversation title, generated automatically from the first message and editable via the rename endpoint."
                          },
                          "model_name": {
                            "type": "string",
                            "description": "The model used in the conversation."
                          },
                          "base_model_id": {
                            "type": "integer",
                            "description": "ID of the base model used in the conversation."
                          },
                          "message_count": {
                            "type": "integer",
                            "description": "Number of messages in the conversation."
                          },
                          "last_message_preview": {
                            "type": "string",
                            "description": "A short preview of the most recent message."
                          },
                          "settings": {
                            "type": "object",
                            "description": "Inference settings applied to the conversation, such as temperature or top_p."
                          },
                          "system_prompt_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the saved system prompt applied to the conversation, or null if none."
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When the conversation was created."
                          },
                          "modified_at": {
                            "type": "string",
                            "nullable": true,
                            "description": "When the conversation was last updated, or null if it has not changed since creation."
                          },
                          "is_deleted": {
                            "type": "boolean",
                            "description": "Whether the conversation has been soft-deleted."
                          },
                          "deleted_at": {
                            "type": "string",
                            "nullable": true,
                            "description": "When the conversation was deleted, or null if it has not been deleted."
                          },
                          "user_id": {
                            "type": "integer",
                            "description": "ID of the user who owns the conversation."
                          },
                          "organization_id": {
                            "type": "integer",
                            "description": "ID of the organization that owns the conversation."
                          },
                          "lorax_model_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the LoRA-served fine-tuned model used for the conversation, or null if not applicable."
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer",
                      "description": "The current page number."
                    },
                    "pages": {
                      "type": "integer",
                      "description": "Total number of pages."
                    },
                    "per_page": {
                      "type": "integer",
                      "description": "Number of conversations per page."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of conversations."
                    }
                  },
                  "example": {
                    "conversations": [
                      {
                        "id": 1001,
                        "title": "Describe the attached image",
                        "model_name": "Qwen/Qwen3-VL-8B-Instruct",
                        "base_model_id": 1001,
                        "message_count": 1,
                        "last_message_preview": "This image is a stylized, pixel-art depiction of a sunset over mountains.",
                        "settings": {},
                        "system_prompt_id": null,
                        "created_at": "Wed, 15 Jan 2025 10:30:00 GMT",
                        "modified_at": "Wed, 15 Jan 2025 10:31:00 GMT",
                        "is_deleted": false,
                        "deleted_at": null,
                        "user_id": 1001,
                        "organization_id": 1001,
                        "lorax_model_id": null
                      }
                    ],
                    "page": 1,
                    "pages": 1,
                    "per_page": 20,
                    "total": 1
                  }
                },
                "example": {
                  "conversations": [
                    {
                      "id": 1001,
                      "title": "Describe the attached image",
                      "model_name": "Qwen/Qwen3-VL-8B-Instruct",
                      "base_model_id": 1001,
                      "message_count": 1,
                      "last_message_preview": "This image is a stylized, pixel-art depiction of a sunset over mountains.",
                      "settings": {},
                      "system_prompt_id": null,
                      "created_at": "Wed, 15 Jan 2025 10:30:00 GMT",
                      "modified_at": "Wed, 15 Jan 2025 10:31:00 GMT",
                      "is_deleted": false,
                      "deleted_at": null,
                      "user_id": 1001,
                      "organization_id": 1001,
                      "lorax_model_id": null
                    }
                  ],
                  "page": 1,
                  "pages": 1,
                  "per_page": 20,
                  "total": 1
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "List conversations",
        "tags": [
          "Conversations"
        ]
      }
    },
    "/conversations/send_message": {
      "post": {
        "description": "Sends a message to a conversation thread and returns the model's response. If `conversation_id` is omitted or null, a new conversation thread is created. Supports both streaming and non-streaming response modes via the `stream` flag. An optional `system_prompt_id` attaches a saved system prompt template to the request.",
        "operationId": "sendMessage",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSendMessageRequestSchema",
                "example": {
                  "message": "What is in this image?",
                  "model": "Qwen/Qwen3-VL-8B-Instruct",
                  "image_attachments": [
                    "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  ],
                  "stream": false
                }
              },
              "example": {
                "message": "What is in this image?",
                "model": "Qwen/Qwen3-VL-8B-Instruct",
                "image_attachments": [
                  "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                ],
                "stream": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "choices": [
                    {
                      "finish_reason": "stop",
                      "index": 0,
                      "message": {
                        "content": "This image is a stylized, pixel-art depiction of a sunset or sunrise over mountains.\n\nHere's a breakdown of what's in the image:\n\n- **The Sun:** A large, pale yellow/cream-colored circle sits just above the mountain ridge, appearing to be setting or rising.\n- **The Mountains:** Two dark purple, jagged peaks form the foreground. The silhouette suggests a simple, stylized mountain range.\n- **The Sky:** The background sky features a gradient of colors, transitioning from deep purple at the top to a warm orange/pink near the horizon where the sun is located.\n\nThe overall aesthetic is minimalist and retro, reminiscent of early video game graphics or digital art with a pixelated style. It evokes a sense of calm and natural beauty through its simple composition.",
                        "role": "assistant"
                      }
                    }
                  ],
                  "conversation": {
                    "id": 1001,
                    "title": "Image content unknown."
                  },
                  "created": 1736932200,
                  "id": "a1b2c3d4e5f6789012345678901234ab",
                  "model": "qwen/qwen3-vl-8b-instruct",
                  "object": "chat.completion",
                  "system_fingerprint": "",
                  "usage": {
                    "completion_tokens": 159,
                    "completion_tokens_details": {
                      "accepted_prediction_tokens": 0,
                      "audio_tokens": 0,
                      "image_tokens": 0,
                      "reasoning_tokens": 0,
                      "rejected_prediction_tokens": 0,
                      "text_tokens": 159,
                      "video_tokens": 0
                    },
                    "prompt_tokens": 93,
                    "prompt_tokens_details": {
                      "audio_tokens": 0,
                      "cache_creation_input_tokens": 0,
                      "cache_read_input_tokens": 0,
                      "cached_tokens": 0,
                      "image_tokens": 79,
                      "text_tokens": 14,
                      "video_tokens": 0
                    },
                    "total_tokens": 252
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "choices": {
                      "type": "array",
                      "description": "Array of completion choices (typically one).",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finish_reason": {
                            "type": "string",
                            "description": "Reason the model stopped generating tokens (e.g. `stop`, `length`)."
                          },
                          "index": {
                            "type": "integer",
                            "description": "Index of this choice in the array."
                          },
                          "message": {
                            "type": "object",
                            "description": "The generated assistant message.",
                            "properties": {
                              "role": {
                                "type": "string",
                                "description": "Always `\"assistant\"`."
                              },
                              "content": {
                                "type": "string",
                                "description": "The text content of the generated response."
                              }
                            }
                          }
                        }
                      }
                    },
                    "conversation": {
                      "type": "object",
                      "description": "The conversation this message belongs to.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique conversation ID."
                        },
                        "title": {
                          "type": "string",
                          "description": "Conversation title, generated automatically from the first message and editable via the rename endpoint."
                        }
                      }
                    },
                    "created": {
                      "type": "integer",
                      "description": "Unix timestamp of when the completion was created."
                    },
                    "model": {
                      "type": "string",
                      "description": "Model used for this completion."
                    },
                    "usage": {
                      "type": "object",
                      "description": "Token usage statistics for this completion.",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Tokens in the prompt."
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Tokens in the generated response."
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Total tokens consumed."
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "description": "Breakdown of the completion (output) token count by category.",
                          "properties": {
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "description": "Tokens from accepted predictions."
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Audio tokens in the completion."
                            },
                            "image_tokens": {
                              "type": "integer",
                              "description": "Image tokens in the completion."
                            },
                            "reasoning_tokens": {
                              "type": "integer",
                              "description": "Tokens used for reasoning."
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "description": "Tokens from rejected predictions."
                            },
                            "text_tokens": {
                              "type": "integer",
                              "description": "Text tokens in the completion."
                            },
                            "video_tokens": {
                              "type": "integer",
                              "description": "Video tokens in the completion."
                            }
                          }
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "description": "Breakdown of the prompt (input) token count by category.",
                          "properties": {
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Audio tokens in the prompt."
                            },
                            "cache_creation_input_tokens": {
                              "type": "integer",
                              "description": "Input tokens used to create a cache entry."
                            },
                            "cache_read_input_tokens": {
                              "type": "integer",
                              "description": "Input tokens read from the cache."
                            },
                            "cached_tokens": {
                              "type": "integer",
                              "description": "Cached tokens in the prompt."
                            },
                            "image_tokens": {
                              "type": "integer",
                              "description": "Image tokens in the prompt."
                            },
                            "text_tokens": {
                              "type": "integer",
                              "description": "Text tokens in the prompt."
                            },
                            "video_tokens": {
                              "type": "integer",
                              "description": "Video tokens in the prompt."
                            }
                          }
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the chat completion."
                    },
                    "object": {
                      "type": "string",
                      "description": "The object type. Always `chat.completion`."
                    },
                    "system_fingerprint": {
                      "type": "string",
                      "description": "Backend configuration fingerprint for the model serving the request. May be an empty string."
                    }
                  },
                  "example": {
                    "choices": [
                      {
                        "finish_reason": "stop",
                        "index": 0,
                        "message": {
                          "content": "This image is a stylized, pixel-art depiction of a sunset or sunrise over mountains.\n\nHere's a breakdown of what's in the image:\n\n- **The Sun:** A large, pale yellow/cream-colored circle sits just above the mountain ridge, appearing to be setting or rising.\n- **The Mountains:** Two dark purple, jagged peaks form the foreground. The silhouette suggests a simple, stylized mountain range.\n- **The Sky:** The background sky features a gradient of colors, transitioning from deep purple at the top to a warm orange/pink near the horizon where the sun is located.\n\nThe overall aesthetic is minimalist and retro, reminiscent of early video game graphics or digital art with a pixelated style. It evokes a sense of calm and natural beauty through its simple composition.",
                          "role": "assistant"
                        }
                      }
                    ],
                    "conversation": {
                      "id": 1001,
                      "title": "Image content unknown."
                    },
                    "created": 1736932200,
                    "id": "a1b2c3d4e5f6789012345678901234ab",
                    "model": "qwen/qwen3-vl-8b-instruct",
                    "object": "chat.completion",
                    "system_fingerprint": "",
                    "usage": {
                      "completion_tokens": 159,
                      "completion_tokens_details": {
                        "accepted_prediction_tokens": 0,
                        "audio_tokens": 0,
                        "image_tokens": 0,
                        "reasoning_tokens": 0,
                        "rejected_prediction_tokens": 0,
                        "text_tokens": 159,
                        "video_tokens": 0
                      },
                      "prompt_tokens": 93,
                      "prompt_tokens_details": {
                        "audio_tokens": 0,
                        "cache_creation_input_tokens": 0,
                        "cache_read_input_tokens": 0,
                        "cached_tokens": 0,
                        "image_tokens": 79,
                        "text_tokens": 14,
                        "video_tokens": 0
                      },
                      "total_tokens": 252
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "Send message",
        "tags": [
          "Conversations"
        ]
      }
    },
    "/conversations/{conversation_id}": {
      "delete": {
        "description": "Permanently deletes a conversation thread and all of its messages. This action is irreversible and cannot be undone.",
        "operationId": "deleteConversation",
        "parameters": [
          {
            "in": "path",
            "name": "conversation_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "description": "Unique identifier of the conversation to delete. Use the `id` from [List conversations](https://docs.hyperstack.cloud/docs/ai-studio-api-reference/get-conversations)."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Conversation deleted successfully"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Confirmation that the conversation was deleted."
                    }
                  },
                  "example": {
                    "message": "Conversation deleted successfully"
                  }
                }
              }
            },
            "description": "Conversation deleted successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "Delete conversation",
        "tags": [
          "Conversations"
        ]
      },
      "patch": {
        "tags": [
          "Conversations"
        ],
        "operationId": "renameConversation",
        "summary": "Rename conversation",
        "description": "Rename a conversation that you own. Provide the new title in the request body. Returns the updated conversation.",
        "parameters": [
          {
            "in": "path",
            "name": "conversation_id",
            "required": true,
            "description": "Unique identifier of the conversation to rename. Use the `id` from [List conversations](https://docs.hyperstack.cloud/docs/ai-studio-api-reference/get-conversations).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationRenameSchema",
                "example": {
                  "title": "Describe the attached image"
                }
              },
              "example": {
                "title": "Describe the attached image"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The conversation was renamed. Returns the updated conversation.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversation": {
                      "type": "object",
                      "description": "The updated conversation.",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Unique conversation ID."
                        },
                        "title": {
                          "type": "string",
                          "description": "Conversation title, generated automatically from the first message and editable via the rename endpoint."
                        },
                        "base_model_id": {
                          "type": "integer",
                          "description": "ID of the base model used in the conversation."
                        },
                        "user_id": {
                          "type": "integer",
                          "description": "ID of the user who owns the conversation."
                        },
                        "organization_id": {
                          "type": "integer",
                          "description": "ID of the organization that owns the conversation."
                        },
                        "settings": {
                          "type": "object",
                          "description": "Inference settings applied to the conversation, such as temperature or top_p."
                        },
                        "system_prompt_id": {
                          "type": "integer",
                          "nullable": true,
                          "description": "ID of the saved system prompt applied to the conversation, or null if none."
                        },
                        "created_at": {
                          "type": "string",
                          "description": "When the conversation was created."
                        },
                        "modified_at": {
                          "type": "string",
                          "nullable": true,
                          "description": "When the conversation was last updated, or null if it has not changed since creation."
                        },
                        "is_deleted": {
                          "type": "boolean",
                          "description": "Whether the conversation has been soft-deleted."
                        },
                        "deleted_at": {
                          "type": "string",
                          "nullable": true,
                          "description": "When the conversation was deleted, or null if it has not been deleted."
                        },
                        "lorax_model_id": {
                          "type": "integer",
                          "nullable": true,
                          "description": "ID of the LoRA-served fine-tuned model used for the conversation, or null if not applicable."
                        }
                      }
                    }
                  },
                  "example": {
                    "conversation": {
                      "id": 1001,
                      "title": "Describe the attached image",
                      "base_model_id": 1001,
                      "user_id": 1001,
                      "organization_id": 1001,
                      "settings": {},
                      "system_prompt_id": null,
                      "created_at": "Wed, 15 Jan 2025 10:30:00 GMT",
                      "modified_at": "Wed, 15 Jan 2025 10:31:00 GMT",
                      "is_deleted": false,
                      "deleted_at": null,
                      "lorax_model_id": null
                    }
                  }
                },
                "example": {
                  "conversation": {
                    "id": 1001,
                    "title": "Describe the attached image",
                    "base_model_id": 1001,
                    "user_id": 1001,
                    "organization_id": 1001,
                    "settings": {},
                    "system_prompt_id": null,
                    "created_at": "Wed, 15 Jan 2025 10:30:00 GMT",
                    "modified_at": "Wed, 15 Jan 2025 10:31:00 GMT",
                    "is_deleted": false,
                    "deleted_at": null,
                    "lorax_model_id": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid, for example an empty title.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "404": {
            "description": "The conversation was not found or is not owned by you.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/{conversation_id}/messages": {
      "get": {
        "description": "Returns the complete message history for the specified conversation thread, ordered chronologically. Each message includes its role, content, and metadata.",
        "operationId": "getConversationMessages",
        "parameters": [
          {
            "in": "path",
            "name": "conversation_id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "description": "Unique identifier of the conversation whose messages to retrieve. Use the `id` from [List conversations](https://docs.hyperstack.cloud/docs/ai-studio-api-reference/get-conversations)."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "messages": [
                    {
                      "content": "What is in this image?",
                      "image_attachment": {
                        "file_reference": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "url": "https://your-bucket.s3.amazonaws.com/<file_reference>?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-Signature=..."
                      },
                      "role": "user"
                    }
                  ],
                  "usage": {
                    "completion_tokens": 159,
                    "completion_tokens_details": {
                      "accepted_prediction_tokens": 0,
                      "audio_tokens": 0,
                      "image_tokens": 0,
                      "reasoning_tokens": 0,
                      "rejected_prediction_tokens": 0,
                      "text_tokens": 159,
                      "video_tokens": 0
                    },
                    "prompt_tokens": 93,
                    "prompt_tokens_details": {
                      "audio_tokens": 0,
                      "cache_creation_input_tokens": 0,
                      "cache_read_input_tokens": 0,
                      "cached_tokens": 0,
                      "image_tokens": 79,
                      "text_tokens": 14,
                      "video_tokens": 0
                    },
                    "total_tokens": 252
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "array",
                      "description": "Ordered message history for this conversation.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Text content of the message."
                          },
                          "role": {
                            "type": "string",
                            "description": "Message author role: `user` or `assistant`."
                          },
                          "image_attachment": {
                            "type": "object",
                            "nullable": true,
                            "description": "Present on a `user` message that was sent with an image, absent otherwise.",
                            "properties": {
                              "file_reference": {
                                "type": "string",
                                "description": "Reference for the attached image, as returned by [Request an image upload URL](https://docs.hyperstack.cloud/docs/ai-studio-api-reference/upload-image)."
                              },
                              "url": {
                                "type": "string",
                                "description": "A short-lived URL for downloading the attached image."
                              }
                            }
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "description": "Aggregate token usage across the conversation.",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "description": "Breakdown of the completion (output) token count by category.",
                          "properties": {
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "description": "Tokens from accepted predictions."
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Audio tokens in the completion."
                            },
                            "image_tokens": {
                              "type": "integer",
                              "description": "Image tokens in the completion."
                            },
                            "reasoning_tokens": {
                              "type": "integer",
                              "description": "Tokens used for reasoning."
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "description": "Tokens from rejected predictions."
                            },
                            "text_tokens": {
                              "type": "integer",
                              "description": "Text tokens in the completion."
                            },
                            "video_tokens": {
                              "type": "integer",
                              "description": "Video tokens in the completion."
                            }
                          }
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "description": "Breakdown of the prompt (input) token count by category.",
                          "properties": {
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Audio tokens in the prompt."
                            },
                            "cache_creation_input_tokens": {
                              "type": "integer",
                              "description": "Input tokens used to create a cache entry."
                            },
                            "cache_read_input_tokens": {
                              "type": "integer",
                              "description": "Input tokens read from the cache."
                            },
                            "cached_tokens": {
                              "type": "integer",
                              "description": "Cached tokens in the prompt."
                            },
                            "image_tokens": {
                              "type": "integer",
                              "description": "Image tokens in the prompt."
                            },
                            "text_tokens": {
                              "type": "integer",
                              "description": "Text tokens in the prompt."
                            },
                            "video_tokens": {
                              "type": "integer",
                              "description": "Video tokens in the prompt."
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "messages": [
                      {
                        "content": "What is in this image?",
                        "image_attachment": {
                          "file_reference": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "url": "https://your-bucket.s3.amazonaws.com/<file_reference>?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-Signature=..."
                        },
                        "role": "user"
                      }
                    ],
                    "usage": {
                      "completion_tokens": 159,
                      "completion_tokens_details": {
                        "accepted_prediction_tokens": 0,
                        "audio_tokens": 0,
                        "image_tokens": 0,
                        "reasoning_tokens": 0,
                        "rejected_prediction_tokens": 0,
                        "text_tokens": 159,
                        "video_tokens": 0
                      },
                      "prompt_tokens": 93,
                      "prompt_tokens_details": {
                        "audio_tokens": 0,
                        "cache_creation_input_tokens": 0,
                        "cache_read_input_tokens": 0,
                        "cached_tokens": 0,
                        "image_tokens": 79,
                        "text_tokens": 14,
                        "video_tokens": 0
                      },
                      "total_tokens": 252
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "List conversation messages",
        "tags": [
          "Conversations"
        ]
      }
    },
    "/models": {
      "get": {
        "description": "Returns all models available to the authenticated user in OpenAI-compatible format. Use a model's `id` as the `model` value in inference requests.",
        "operationId": "getModels",
        "parameters": [
          {
            "in": "query",
            "name": "modalities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ModalityEnum"
              }
            },
            "description": "Filter models by modality. Repeat the parameter for multiple values, such as `modalities=text-to-image&modalities=image-to-image`."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenAIModelsListResponseSchema",
                  "example": {
                    "data": [
                      {
                        "created": 1736932200,
                        "id": "Llama-3.3-70B-Instruct",
                        "object": "model",
                        "owned_by": "hyperstack"
                      }
                    ],
                    "object": "list"
                  }
                },
                "example": {
                  "data": [
                    {
                      "created": 1736932200,
                      "id": "Llama-3.3-70B-Instruct",
                      "object": "model",
                      "owned_by": "hyperstack"
                    }
                  ],
                  "object": "list"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Bad Request"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "List models",
        "tags": [
          "Models"
        ]
      }
    },
    "/models/choices": {
      "get": {
        "description": "Returns a simplified list of models available for selection in the AI Studio interface, including display names and base model identifiers. Use this endpoint to populate model picker UI elements.",
        "operationId": "getModelsChoices",
        "parameters": [
          {
            "in": "query",
            "name": "inference",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": null
            },
            "description": "When `true`, returns only models available for inference."
          },
          {
            "in": "query",
            "name": "finetuning",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": null
            },
            "description": "When `true`, returns only models that support fine-tuning."
          },
          {
            "in": "query",
            "name": "modalities",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ModalityEnum"
              }
            },
            "description": "Filter models by modality. Repeat the parameter for multiple values, such as `modalities=text-to-image&modalities=image-to-image`."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelsChoicesResponseSchema",
                  "example": {
                    "models": [
                      {
                        "base_model_hf_repo": "mistralai/Mistral-Small-24B-Instruct-2501",
                        "display_name": "test-model-123 ",
                        "hf_repo": null,
                        "is_finetuned_model": true,
                        "model_id": 1001,
                        "model_name": "test-model-123 ",
                        "provider": "Hyperstack",
                        "input_modalities": [
                          "text"
                        ],
                        "output_modalities": [
                          "text"
                        ],
                        "parameter_schema": null
                      }
                    ],
                    "status": "success"
                  }
                },
                "example": {
                  "models": [
                    {
                      "base_model_hf_repo": "mistralai/Mistral-Small-24B-Instruct-2501",
                      "display_name": "test-model-123 ",
                      "hf_repo": null,
                      "is_finetuned_model": true,
                      "model_id": 1001,
                      "model_name": "test-model-123 ",
                      "provider": "Hyperstack",
                      "input_modalities": [
                        "text"
                      ],
                      "output_modalities": [
                        "text"
                      ],
                      "parameter_schema": null
                    }
                  ],
                  "status": "success"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "List model choices",
        "tags": [
          "Models"
        ]
      }
    },
    "/org/summary": {
      "get": {
        "description": "Returns a high-level summary of resource usage and model activity for the authenticated user's organization, including active model counts, recent training job status, and aggregate token usage.",
        "operationId": "getOrgSummary",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationSummaryResponse",
                  "example": {
                    "status": "success",
                    "summary": {
                      "base_models_count": 60,
                      "datasets_count": 15,
                      "finetuned_models_count": 16,
                      "logs_count": 0
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "summary": {
                    "base_models_count": 60,
                    "datasets_count": 15,
                    "finetuned_models_count": 16,
                    "logs_count": 0
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get organization summary",
        "tags": [
          "Overview"
        ]
      }
    },
    "/system-prompts": {
      "get": {
        "description": "Returns all saved system prompt templates for the authenticated user. System prompts define the assistant's persona, behavior, and response style and can be attached to chat completions or conversation messages.",
        "operationId": "listSystemPrompts",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemPromptsListSchema",
                  "example": {
                    "prompts": [
                      {
                        "content": "Updated content for API test. You are a concise assistant.",
                        "created_at": "2025-01-15T10:30:00.000000+00:00",
                        "id": 1001,
                        "name": "example-sysprompt",
                        "organization_id": 1001,
                        "updated_at": "2025-01-15T10:30:00.000000+00:00",
                        "user_id": 1001,
                        "uuid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      }
                    ]
                  }
                },
                "example": {
                  "prompts": [
                    {
                      "content": "Updated content for API test. You are a concise assistant.",
                      "created_at": "2025-01-15T10:30:00.000000+00:00",
                      "id": 1001,
                      "name": "example-sysprompt",
                      "organization_id": 1001,
                      "updated_at": "2025-01-15T10:30:00.000000+00:00",
                      "user_id": 1001,
                      "uuid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "List system prompts",
        "tags": [
          "System Prompts"
        ]
      },
      "post": {
        "description": "Creates a new reusable system prompt template. The saved prompt can then be referenced by its ID in chat completion or conversation requests to apply a consistent persona or instruction set without repeating the prompt text.",
        "operationId": "createSystemPrompt",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemPromptCreateSchema",
                "example": {
                  "name": "example-sysprompt",
                  "content": "You are a helpful assistant created for API testing purposes."
                }
              },
              "example": {
                "name": "example-sysprompt",
                "content": "You are a helpful assistant created for API testing purposes."
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemPromptResponseSchema",
                  "example": {
                    "content": "You are a helpful assistant created for API testing purposes.",
                    "created_at": "2025-01-15T10:30:00.000000+00:00",
                    "id": 1001,
                    "name": "example-sysprompt",
                    "organization_id": 1001,
                    "updated_at": null,
                    "user_id": 1001,
                    "uuid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  }
                },
                "example": {
                  "content": "You are a helpful assistant created for API testing purposes.",
                  "created_at": "2025-01-15T10:30:00.000000+00:00",
                  "id": 1001,
                  "name": "example-sysprompt",
                  "organization_id": 1001,
                  "updated_at": null,
                  "user_id": 1001,
                  "uuid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "Create system prompt",
        "tags": [
          "System Prompts"
        ]
      }
    },
    "/system-prompts/{id}": {
      "delete": {
        "description": "Permanently deletes a system prompt template by ID. Existing conversation history that referenced this prompt is unaffected, but the prompt can no longer be attached to new requests.",
        "operationId": "deleteSystemPrompt",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the system prompt to delete."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessSchema",
                  "example": {
                    "message": "System prompt deleted successfully",
                    "status": "success"
                  }
                },
                "example": {
                  "message": "System prompt deleted successfully",
                  "status": "success"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "Delete system prompt",
        "tags": [
          "System Prompts"
        ]
      },
      "get": {
        "description": "Returns a specific system prompt template by ID, including its name and full content.",
        "operationId": "getSystemPrompt",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the system prompt to retrieve."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemPromptResponseSchema",
                  "example": {
                    "content": "You are a helpful assistant created for API testing purposes.",
                    "created_at": "2025-01-15T10:30:00.000000+00:00",
                    "id": 1001,
                    "name": "example-sysprompt",
                    "organization_id": 1001,
                    "updated_at": null,
                    "user_id": 1001,
                    "uuid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  }
                },
                "example": {
                  "content": "You are a helpful assistant created for API testing purposes.",
                  "created_at": "2025-01-15T10:30:00.000000+00:00",
                  "id": 1001,
                  "name": "example-sysprompt",
                  "organization_id": 1001,
                  "updated_at": null,
                  "user_id": 1001,
                  "uuid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "Get system prompt",
        "tags": [
          "System Prompts"
        ]
      },
      "put": {
        "description": "Updates the content of an existing system prompt template. Changes take effect immediately for any subsequent requests that reference this prompt ID.",
        "operationId": "updateSystemPrompt",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the system prompt to update."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemPromptUpdateSchema",
                "example": {
                  "content": "Updated content for API test. You are a concise assistant."
                }
              },
              "example": {
                "content": "Updated content for API test. You are a concise assistant."
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemPromptResponseSchema",
                  "example": {
                    "content": "Updated content for API test. You are a concise assistant.",
                    "created_at": "2025-01-15T10:30:00.000000+00:00",
                    "id": 1001,
                    "name": "example-sysprompt",
                    "organization_id": 1001,
                    "updated_at": "2025-01-15T10:30:00.000000+00:00",
                    "user_id": 1001,
                    "uuid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  }
                },
                "example": {
                  "content": "Updated content for API test. You are a concise assistant.",
                  "created_at": "2025-01-15T10:30:00.000000+00:00",
                  "id": 1001,
                  "name": "example-sysprompt",
                  "organization_id": 1001,
                  "updated_at": "2025-01-15T10:30:00.000000+00:00",
                  "user_id": 1001,
                  "uuid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Error"
          }
        },
        "summary": "Update system prompt",
        "tags": [
          "System Prompts"
        ]
      }
    },
    "/images/generations": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "operationId": "generateImageFromText",
        "summary": "Generate image from text",
        "description": "Generates one or more images from a text prompt using a text-to-image model. This operation is asynchronous: the response returns a `job_id` with status `queued`. Poll [Get image result](https://docs.hyperstack.cloud/docs/ai-studio-api-reference/get-image-result) until the status is `completed` to retrieve the generated images.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequestSchema"
              },
              "example": {
                "model": "FLUX.1-schnell",
                "prompt": "A red ceramic coffee mug on a wooden table, soft morning light",
                "num_images": 1,
                "image_size": "square_hd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJobAcceptedSchema"
                },
                "example": {
                  "job_id": 256,
                  "status": "queued"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/images/edits": {
      "post": {
        "tags": [
          "Image Generation"
        ],
        "operationId": "generateImageFromImage",
        "summary": "Generate image from image",
        "description": "Generates an edited image from a source image and a text prompt using an image-to-image model. Supply the source image with `image_url` (an uploaded S3 filename from [Get image upload URL](https://docs.hyperstack.cloud/docs/ai-studio-api-reference/get-image-upload-url), or a reachable URL). This operation is asynchronous: the response returns a `job_id` with status `queued`. Poll [Get image result](https://docs.hyperstack.cloud/docs/ai-studio-api-reference/get-image-result) until the status is `completed` to retrieve the result. Requires an image-to-image model; text-to-image models return a `modality.incompatible` error.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequestSchema"
              },
              "example": {
                "model": "FLUX.1-Kontext-dev",
                "prompt": "Make the background a clear blue sky",
                "image_url": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "num_images": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJobAcceptedSchema"
                },
                "example": {
                  "job_id": 257,
                  "status": "queued"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorSchema"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/images/signed-url": {
      "get": {
[...]
