{
  "openapi": "3.0.1",
  "info": {
    "title": "Hyperstack API",
    "version": "1.0",
    "description": "The Hyperstack API is a REST API for deploying and managing GPU infrastructure on the Hyperstack cloud, provision virtual machines, manage volumes, configure networking, and access billing data programmatically.\n\n## Base URL\n\nAll requests are sent to:\n\n```\nhttps://infrahub-api.nexgencloud.com/v1\n```\n\n## Request and response format\n\nRequests use standard HTTP methods (`GET`, `POST`, `PUT`, `PATCH`, `DELETE`). Request bodies are `application/json` unless noted otherwise on the endpoint. Responses are `application/json` and follow a consistent envelope of `{status, message, .}`, see the [Pagination](https://docs.hyperstack.cloud/docs/api-reference/pagination) primer for the small set of exceptions.\n\n## Authentication\n\nEvery request requires an API key. Pass it as the `api_key` request header (`api_key: YOUR_API_KEY`). [Generate a key in the Hyperstack console](https://console.hyperstack.cloud/api-keys); see [Authentication](https://docs.hyperstack.cloud/docs/api-reference/authentication) for header formats and rotation guidance."
  },
  "servers": [
    {
      "url": "https://infrahub-api.nexgencloud.com/v1"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Auth endpoints manage organization tokens, including changing the active organization on the current token. Use these endpoints when an account spans multiple organizations and you need to scope subsequent calls to a specific one."
    },
    {
      "name": "Organization",
      "description": "Organization endpoints manage organization-level metadata: name, members, and configuration. Most users belong to a single organization; multi-organization accounts use these endpoints to switch context and manage memberships."
    },
    {
      "name": "API Key",
      "description": "API keys authenticate requests to the Hyperstack API. Generate keys in the console; each key is server-side and scoped to a specific environment. Rotate keys periodically and revoke any key whose secret may have been exposed."
    },
    {
      "name": "Invite",
      "description": "Invite endpoints add and manage users within an organization. Invite a user by email; they accept the invitation and gain access to the organization with the role you specified."
    },
    {
      "name": "Permission",
      "description": "Permission endpoints list the granular permissions defined by Hyperstack. Permissions compose into RBAC roles, which are assigned to organization members. List permissions to discover what's available before building a custom role."
    },
    {
      "name": "User Permission",
      "description": "Permissions assigned to specific users in the calling organization."
    },
    {
      "name": "Policy",
      "description": "Authorization policies that bind permissions to roles."
    },
    {
      "name": "RBAC Role",
      "description": "RBAC role endpoints create, list, update, and delete custom roles. A role is a named bundle of permissions that you can assign to organization members. Built-in roles (`admin`, `member`, `viewer`) cover most cases, create custom roles for finer control."
    },
    {
      "name": "Assigning Member Role",
      "description": "Bulk role assignments for organization members."
    },
    {
      "name": "Dashboard",
      "description": "Aggregate account-level metrics for the calling user, VM and resource counts, recent activity."
    },
    {
      "name": "Stock",
      "description": "GPU and CPU stock availability per flavor and region. Use before deployment to confirm capacity."
    },
    {
      "name": "Environment",
      "description": "An environment is a logical container for resources within a region. Use environments to separate development, staging, and production resources, or to isolate per-team workloads. Most resource endpoints require an environment name in the request."
    },
    {
      "name": "Virtual Machine",
      "description": "A virtual machine on Hyperstack is a single-tenant compute instance backed by dedicated GPU and CPU resources. Each VM runs in a region, attaches a root volume and optional data volumes, and is protected by an environment-scoped firewall. Most workflows follow this lifecycle: deploy → attach data volumes → run workload → snapshot → terminate. For long-running development VMs, hibernation is the cost-effective alternative to termination."
    },
    {
      "name": "Flavor",
      "description": "A flavor is a machine type, its CPU count, memory, and GPU configuration. Flavors are region-specific. List flavors before deploying a virtual machine to find one available in your target region with the GPU and resource shape you need."
    },
    {
      "name": "Image",
      "description": "An image is the operating system disk a virtual machine boots from. Images include Ubuntu, Rocky Linux, and other distributions, with optional pre-installed CUDA or AI/ML frameworks. Images are region-scoped, list images per region to find what's available before deploying."
    },
    {
      "name": "Keypair",
      "description": "A keypair is an SSH public/private key pair used to authenticate into virtual machines after deployment. Generate the keypair locally, register the public key with Hyperstack, then reference the keypair name when deploying a VM. Hyperstack never stores private keys."
    },
    {
      "name": "VNC URL",
      "description": "Console-access URLs for connecting to a virtual machine over VNC."
    },
    {
      "name": "Volume",
      "description": "A volume is persistent block storage that attaches to a virtual machine. Volumes are region-scoped and can be detached and reattached to other VMs in the same region. Snapshots capture a point-in-time copy of a volume that can be restored to any new volume of equal or greater size."
    },
    {
      "name": "Volume Attachment",
      "description": "Volume attachment endpoints manage the binding between a volume and a virtual machine. A volume can be attached to one VM at a time. Detach a volume before attaching it elsewhere; the data persists on the volume across attachments."
    },
    {
      "name": "GPU",
      "description": "GPU model availability and stock per region."
    },
    {
      "name": "Callbacks",
      "description": "Webhook callback registrations on virtual machines and volumes for state-change notifications."
    },
    {
      "name": "Floating IP",
      "description": "A floating IP is a static public IPv4 address that can be assigned to a virtual machine. Floating IPs persist across VM lifecycle events, detach from one VM and reattach to another to keep the address. Allocating a floating IP without attaching it incurs a small reservation fee."
    },
    {
      "name": "Region",
      "description": "A region is a geographic location where Hyperstack hosts compute and storage. Resources are region-scoped, virtual machines, volumes, snapshots, and firewalls all belong to exactly one region. List regions to discover which are available to your account."
    },
    {
      "name": "Template",
      "description": "A template is a saved virtual machine configuration that you can reuse to deploy identical VMs without re-specifying every parameter. Templates capture flavor, image, keypair, networking, and metadata."
    },
    {
      "name": "Deployment",
      "description": "Deployment endpoints manage scripts that run during virtual machine boot to install dependencies, configure services, or prepare GPU workloads. Attach a deployment script to a VM at launch; the script runs once on first boot and is logged for review."
    },
    {
      "name": "Profile",
      "description": "Saved virtual-machine deployment configurations that can be reused across new VMs."
    },
    {
      "name": "Clusters",
      "description": "A cluster is a managed Kubernetes cluster on Hyperstack, control plane + worker nodes preconfigured for GPU workloads. Clusters are region-scoped and can attach data volumes via Container Storage Interface (CSI) drivers. Most workflows: deploy cluster → configure storage → deploy workload → autoscale workers."
    },
    {
      "name": "Firewalls",
      "description": "A firewall is a set of inbound and outbound rules scoped to an environment. Attach a firewall to one or more virtual machines or Kubernetes clusters to control which network traffic each resource can send and receive. Default rules block all inbound traffic, add explicit allow rules for SSH, HTTP, or any service you need to expose."
    },
    {
      "name": "User Detail Choice",
      "description": "User-specific configuration choices (profile preferences, defaults)."
    },
    {
      "name": "Snapshots",
      "description": "A snapshot is a point-in-time copy of a virtual machine or volume. Snapshots are stored in the same region as the source resource and can be used to clone, restore, or migrate state. Snapshot creation is non-blocking, the source VM remains running while the snapshot completes in the background."
    },
    {
      "name": "FIP Exclusions",
      "description": "FIP exclusion endpoints manage which virtual machines are exempt from automatic floating-IP detachment policies."
    },
    {
      "name": "Pricebook",
      "description": "Pricebook endpoints expose Hyperstack's pricing for compute, storage, and networking resources. Use these to estimate costs before deploying or to surface live pricing in your application."
    },
    {
      "name": "Calculate",
      "description": "Calculate endpoints return billing-rate breakdowns for specific resources. Provide a resource type and ID to retrieve its hourly cost, including pre- and post-discount components."
    },
    {
      "name": "Customer Contract",
      "description": "Customer contract endpoints retrieve negotiated pricing terms applied to your account. Contracts override standard pricebook rates for the resources they cover."
    },
    {
      "name": "Alive",
      "description": "Service liveness check for the billing API. Use to confirm the billing service is reachable."
    },
    {
      "name": "Billing",
      "description": "Billing endpoints expose your account's billing history, current credit balance, payment history, and usage costs. Use these to reconcile spend, build internal cost reports, or trigger alerts when balances drop below a threshold."
    },
    {
      "name": "Vouchers",
      "description": "Voucher endpoints redeem promotional codes to add credit to your account. Vouchers are single-use."
    },
    {
      "name": "Credit",
      "description": "Credit endpoints retrieve your account's current credit balance. Credits are consumed by resource usage and replenished via payments or vouchers."
    },
    {
      "name": "Payment",
      "description": "Payment endpoints initiate and retrieve payments. Use these to add funds to your account programmatically or to fetch receipts for reconciliation."
    },
    {
      "name": "User",
      "description": "Account-level user information and billing identity."
    },
    {
      "name": "Access Keys",
      "description": "Access keys authenticate S3-compatible object storage operations. Each key has an access ID and a secret. Generate access keys via this API or in the console, then use them to sign requests to bucket endpoints."
    },
    {
      "name": "Buckets",
      "description": "A bucket is an S3-compatible object storage container. Buckets are region-scoped and accessed via standard S3 SDKs once you have access keys. Use these endpoints to list and delete buckets, bucket creation happens through the S3 protocol against the bucket endpoint URL, not this API."
    },
    {
      "name": "Health",
      "description": "Service liveness check for object storage. Use to confirm the object-storage service is reachable."
    },
    {
      "name": "Regions",
      "description": "Regions where object storage is available."
    },
    {
      "name": "User Consent",
      "description": "User Consent endpoints record each user's grant or revoke decision for a given consent type (e.g. marketing communications, data-sharing terms). Use these endpoints to read what consent has been granted, fetch current consent templates, and update consent state programmatically."
    },
    {
      "name": "Email Preferences",
      "description": "Email preference endpoints control which optional email notifications Hyperstack sends to your account. Use them to read your current preferences and change them, individually or all at once. See the [**Email Notification Preferences guide**](https://docs.hyperstack.cloud/docs/resource-management/email-notifications) for the full feature walkthrough."
    }
  ],
  "paths": {
    "/api-key": {
      "get": {
        "tags": [
          "API Key"
        ],
        "summary": "Retrieve API keys",
        "description": "Retrieves a list of your API keys that can be used to [**authenticate**](https://docs.hyperstack.cloud/docs/api-reference/authentication) Hyperstack API requests.",
        "operationId": "Get_API_Key",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApiKeysResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Getting API Keys success",
                  "api_keys": [
                    {
                      "id": 1129,
                      "name": "api-example-key",
                      "description": "",
                      "key": "********-****-****-****-********be9a",
                      "created_at": "2026-05-06T15:18:42Z"
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Getting API Keys success",
                      "api_keys": [
                        {
                          "id": 1129,
                          "name": "api-example-key",
                          "description": "",
                          "key": "********-****-****-****-********be9a",
                          "created_at": "2026-05-06T15:18:42Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api-key/generate": {
      "post": {
        "tags": [
          "API Key"
        ],
        "summary": "Generate API key",
        "description": "Generates a new API key for use in authenticating API requests. Provide the API key `name` in the request body, plus an optional `description`. For details on how to pass the key in subsequent requests, see [**Authentication**](https://docs.hyperstack.cloud/docs/api-reference/authentication).",
        "operationId": "Generate_API_Key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateUpdateApiKeyPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateUpdateApiKeyResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "403": {
            "description": "Forbidden\n\nCommon cause: `error_reason: forbidden`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {
                  "default": {
                    "summary": "Forbidden",
                    "value": {
                      "status": false,
                      "message": "Maximum API key limit reached",
                      "error_reason": "forbidden"
                    }
                  }
                },
                "example": {
                  "status": false,
                  "message": "Maximum API key limit reached",
                  "error_reason": "forbidden"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": []
      }
    },
    "/api-key/{api_key_id}": {
      "put": {
        "tags": [
          "API Key"
        ],
        "summary": "Update API key",
        "description": "Updates the name and optionally the description of a specified API key. Include the ID of the API key in the path and the new name and optional description in the body of the request. To retrieve the ID of the API key call the [**List API Keys**](https://docs.hyperstack.cloud/docs/api-reference/get-api-key) API.",
        "operationId": "Update_API_Key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the API key."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateUpdateApiKeyPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateUpdateApiKeyResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "API Key"
        ],
        "summary": "Delete API key",
        "description": "Delete a specified API key by including the ID of the API key in the path. To retrieve the ID of the API key call the [**List API Keys**](https://docs.hyperstack.cloud/docs/api-reference/get-api-key) API.",
        "operationId": "Delete_API_Key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the API key."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/invites": {
      "get": {
        "tags": [
          "Invite"
        ],
        "summary": "List Invites",
        "description": "Retrieves a list of existing email invitations to join your [**organization**](https://docs.hyperstack.cloud/docs/resource-management/organization) along with their details, including the email addresses to which invitations have been sent, the status of each invitation, and the timestamp of when it was sent.",
        "operationId": "List_Invites",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvitesResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Getting invites successful",
                  "invites": [
                    {
                      "id": 8429,
                      "email": "user@example.com",
                      "status": "CONFIRMATION_PENDING",
                      "created_at": "2026-05-07T09:21:55Z"
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Getting invites successful",
                      "invites": [
                        {
                          "id": 8429,
                          "email": "user@example.com",
                          "status": "CONFIRMATION_PENDING",
                          "created_at": "2026-05-07T09:21:55Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Invite"
        ],
        "summary": "Invite user to organization",
        "description": "Sends an invitation for a user to join your [**organization**](https://docs.hyperstack.cloud/docs/resource-management/organization). Include the email of the user to be invited in the request body.",
        "operationId": "Invite_User_to_Organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteUserPayload",
                "example": {
                  "email": "user@example.com"
                },
                "properties": {}
              },
              "example": {
                "email": "user@example.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteUserResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Inviting user successful",
                  "invite": {
                    "id": 4501,
                    "email": "user@example.com",
                    "status": "EMAIL_SENT",
                    "created_at": "2026-05-07T11:47:30Z"
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Inviting user successful",
                      "invite": {
                        "id": 4501,
                        "email": "user@example.com",
                        "status": "EMAIL_SENT",
                        "created_at": "2026-05-07T11:47:30Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/invites/{id}": {
      "delete": {
        "tags": [
          "Invite"
        ],
        "summary": "Accept Invite",
        "description": "Deletes an invitation for a user to join your [**organization**](https://docs.hyperstack.cloud/docs/resource-management/organization). Include the ID of the invitation to be deleted in the path. You can obtain the IDs of outstanding invitations by calling the [**List Organization Invites**](https://docs.hyperstack.cloud/docs/api-reference/list-invites) endpoint.",
        "operationId": "Delete_Invite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the invite."
          }
        ],
        "responses": {
          "200": {
            "description": "Invite accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Invite deleted successfully"
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Invite deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/invites/{id}/accept": {
      "get": {
        "tags": [
          "Invite"
        ],
        "summary": "Accept Invite",
        "description": "Accept an invitation for a user to join your organization.",
        "operationId": "Accept_Invite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the invite."
          }
        ],
        "responses": {
          "200": {
            "description": "Invite deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "description": "Not Found\n\nCommon cause: `error_reason: not_found`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {
                  "default": {
                    "summary": "Not Found",
                    "value": {
                      "status": false,
                      "message": "Not found",
                      "error_reason": "not_found"
                    }
                  }
                },
                "example": {
                  "status": false,
                  "message": "Not found",
                  "error_reason": "not_found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Retrieve authenticated user details",
        "description": "Retrieves information about the currently authenticated user, including your name, username, email associated with your account, and timestamp of account creation.",
        "operationId": "Get_Authenticated_User",
        "responses": {
          "200": {
            "description": "User Information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthUserInfoResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Auth user",
                  "user": {
                    "email": "user@example.com",
                    "name": "Jane Doe",
                    "username": "Jane Doe",
                    "created_at": "2026-05-06T15:18:42Z",
                    "has_social_login": false
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Auth user",
                      "user": {
                        "email": "user@example.com",
                        "name": "Jane Doe",
                        "username": "Jane Doe",
                        "created_at": "2026-05-06T15:18:42Z",
                        "has_social_login": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/me/mfa": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get MFA status for authenticated user",
        "description": "Retrieve the Multi-Factor Authentication (MFA) status for the currently authenticated user. Includes whether MFA is enabled.",
        "operationId": "Get_User_MFA_Status",
        "responses": {
          "200": {
            "description": "MFA Status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MFAStatusResponse"
                },
                "example": {
                  "status": true,
                  "message": "MFA status retrieved successfully",
                  "mfa": {
                    "mfa_enabled": true
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "MFA status retrieved successfully",
                      "mfa": {
                        "mfa_enabled": true
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/me/mfa/disable": {
      "post": {
        "tags": [
          "Auth"
        ],
        "description": "Disable Multi-Factor Authentication (MFA) for the currently authenticated user. This endpoint is used to turn off MFA.",
        "operationId": "Disable_MFA",
        "responses": {
          "200": {
            "description": "MFA Disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - CSRF validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Disable MFA on the calling user"
      }
    },
    "/auth/me/organizations": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get user organizations",
        "description": "Retrieve the organizations associated with a user by their user ID. This endpoint is useful for understanding the user's organizational affiliations.\n\n> **Non-standard envelope:** This endpoint returns only `{\"organizations\": [.]}`, no `status` or `message` field.",
        "operationId": "Get_User_Organizations",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserOrganizationsResponse"
                },
                "example": {
                  "organizations": [
                    {
                      "id": 2058,
                      "name": "Example Organization"
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "organizations": [
                        {
                          "id": 2058,
                          "name": "Example Organization"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/organizations": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Retrieve organization information",
        "description": "Retrieves information about your [**organization**](https://docs.hyperstack.cloud/docs/resource-management/organization) and its members. This includes the organization's name, date of creation, and details about each member, such as their name, email, roles, and more.",
        "operationId": "Retrieve_Organization_Information",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrganizationResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Successfully retrieved organizations info",
                  "organization": {
                    "id": 5341,
                    "name": "Example Organization",
                    "created_at": "2026-05-06T14:32:11Z",
                    "users": [
                      {
                        "id": 3287,
                        "sub": "5c7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d",
                        "email": "user@example.com",
                        "username": "Jane Doe",
                        "name": "Jane Doe",
                        "role": "Owner",
                        "rbac_roles": [],
                        "last_login": "2026-05-07T11:47:30Z",
                        "created_at": "2026-05-06T16:04:09Z"
                      }
                    ]
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Successfully retrieved organizations info",
                      "organization": {
                        "id": 5341,
                        "name": "Example Organization",
                        "created_at": "2026-05-06T14:32:11Z",
                        "users": [
                          {
                            "id": 3287,
                            "sub": "5c7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d",
                            "email": "user@example.com",
                            "username": "Jane Doe",
                            "name": "Jane Doe",
                            "role": "Owner",
                            "rbac_roles": [],
                            "last_login": "2026-05-07T11:47:30Z",
                            "created_at": "2026-05-06T16:04:09Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/organizations/remove-member": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Remove organization member",
        "description": "Removes a member from your [**organization**](https://docs.hyperstack.cloud/docs/resource-management/organization). Include the email of the user to be removed in the request body.",
        "operationId": "Remove_Organization_Member",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveMemberPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveMemberFromOrganizationResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/organizations/update": {
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Update organization information",
        "description": "Updates the name of your [**organization**](https://docs.hyperstack.cloud/docs/resource-management/organization). Specify the new organization `name` in the request body.",
        "operationId": "Update_Organization_Information",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationPayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOrganizationResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/permissions": {
      "get": {
        "tags": [
          "Permission"
        ],
        "summary": "List Permissions",
        "description": "Returns a list of [**permissions**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) that can be granted to users providing them with access to a specific resource action.",
        "operationId": "List_Permissions",
        "responses": {
          "200": {
            "description": "Getting permissions success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPermissionsResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Getting permissions success",
                  "permissions": [
                    {
                      "id": 6190,
                      "resource": "Environment",
                      "permission": "environment:list",
                      "method": "GET",
                      "endpoint": "^/core/environments/?$",
                      "created_at": "2026-05-06T14:32:11Z"
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Getting permissions success",
                      "permissions": [
                        {
                          "id": 6190,
                          "resource": "Environment",
                          "permission": "environment:list",
                          "method": "GET",
                          "endpoint": "^/core/environments/?$",
                          "created_at": "2026-05-06T14:32:11Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/policies": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "List Policies",
        "description": "Returns a list of [**policies**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) that can be added to RBAC roles. Assigning these policies to a user provides them with access to commonly used sets of permissions, allowing specific resource actions.",
        "operationId": "List_Policies",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPoliciesResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Getting policies success",
                  "policies": [
                    {
                      "id": 2058,
                      "name": "policy:AllPermissions",
                      "description": "Grants all permissions to all resources",
                      "permissions": [
                        {
                          "id": 7613,
                          "resource": "Environment",
                          "permission": "environment:list"
                        },
                        {
                          "id": 3287,
                          "resource": "Environment",
                          "permission": "environment:create"
                        },
                        {
                          "id": 8429,
                          "resource": "Environment",
                          "permission": "environment:details"
                        }
                      ],
                      "created_at": "2026-05-07T11:47:30Z"
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Getting policies success",
                      "policies": [
                        {
                          "id": 2058,
                          "name": "policy:AllPermissions",
                          "description": "Grants all permissions to all resources",
                          "permissions": [
                            {
                              "id": 7613,
                              "resource": "Environment",
                              "permission": "environment:list"
                            },
                            {
                              "id": 3287,
                              "resource": "Environment",
                              "permission": "environment:create"
                            },
                            {
                              "id": 8429,
                              "resource": "Environment",
                              "permission": "environment:details"
                            }
                          ],
                          "created_at": "2026-05-07T11:47:30Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/roles": {
      "get": {
        "tags": [
          "RBAC Role"
        ],
        "summary": "List RBAC roles",
        "description": "Returns a list of existing [**Role-Based Access Control (RBAC)**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) roles that can be assigned to users, granting them permissions and policies associated with the role, enabling them to execute specific resource actions.",
        "operationId": "List_RBAC_Roles",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRbacRolesResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Getting RBAC roles success",
                  "roles": [
                    {
                      "id": 3287,
                      "name": "example-role",
                      "description": "Example role",
                      "policies": [],
                      "permissions": [],
                      "created_at": "2026-05-06T16:04:09Z"
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Getting RBAC roles success",
                      "roles": [
                        {
                          "id": 3287,
                          "name": "example-role",
                          "description": "Example role",
                          "policies": [],
                          "permissions": [],
                          "created_at": "2026-05-06T16:04:09Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "RBAC Role"
        ],
        "summary": "Create RBAC role",
        "description": "Creates a [**Role-Based Access Control (RBAC)**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) role that can be assigned to users in your organization. Provide the role configuration, including its name, description, and list of permission and policy IDs, in the request body.\n\n**Required fields:** The request must include at least one valid ID for either the `policies` or `permissions` field.",
        "operationId": "Create_RBAC_Role",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUpdateRbacRolePayload",
                "example": {
                  "name": "example-role",
                  "description": "Example role",
                  "policies": [],
                  "permissions": []
                },
                "properties": {}
              },
              "example": {
                "description": "Example role",
                "name": "example-role",
                "policies": [],
                "permissions": []
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RbacRoleDetailResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Creating RBAC role success",
                  "role": {
                    "id": 8429,
                    "name": "example-role",
                    "description": "Example role",
                    "policies": [],
                    "permissions": [],
                    "created_at": "2026-05-07T09:21:55Z"
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Creating RBAC role success",
                      "role": {
                        "id": 8429,
                        "name": "example-role",
                        "description": "Example role",
                        "policies": [],
                        "permissions": [],
                        "created_at": "2026-05-07T09:21:55Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/roles/{id}": {
      "get": {
        "tags": [
          "RBAC Role"
        ],
        "summary": "Retrieve RBAC role details",
        "description": "Retrieves the details of a specified [**Role-Based Access Control (RBAC)**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) including the permissions and policies associated with the role. Include the ID of the role in the path to retrieve its details.",
        "operationId": "Retrieve_RBAC_Role_Details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the role."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RbacRoleDetailResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Getting RBAC role detail success",
                  "roles": {
                    "id": 9876,
                    "name": "example-role",
                    "description": "Example role",
                    "policies": [],
                    "permissions": [],
                    "created_at": "2026-05-07T09:21:55Z"
                  }
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Getting RBAC role detail success",
                      "roles": {
                        "id": 9876,
                        "name": "example-role",
                        "description": "Example role",
                        "policies": [],
                        "permissions": [],
                        "created_at": "2026-05-07T09:21:55Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "RBAC Role"
        ],
        "summary": "Update RBAC role",
        "description": "Updates the configuration of a specified [**Role-Based Access Control (RBAC)**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) role, including its permissions, policies, name, and description.\n\n**Required fields:** The request must include at least one valid ID for either the `policies` or `permissions` field.",
        "operationId": "Update_RBAC_Role",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the role."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUpdateRbacRolePayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RbacRoleDetailResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      },
      "delete": {
        "tags": [
          "RBAC Role"
        ],
        "summary": "Delete RBAC role",
        "description": "Deletes a specified [**Role-Based Access Control (RBAC)**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) role. Include the ID of the role to be deleted in the path.",
        "operationId": "Delete_RBAC_Role",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the role."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "RBAC Role deleted successfully"
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "RBAC Role deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/token/change-org/{org_id}": {
      "get": {
        "tags": [
          "Auth"
        ],
        "description": "Change the organization associated with the current token. This is useful for users who have access to multiple organizations.",
        "operationId": "Change_Organization_for_Token",
        "parameters": [
          {
            "name": "org_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the organization."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthGetTokenResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Switch the active organization on the token"
      }
    },
    "/auth/users/me/permissions": {
      "get": {
        "tags": [
          "User Permission"
        ],
        "summary": "List my user permissions",
        "description": "Retrieves a list of [**permissions**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) granted to a specific user within your organization. Obtain the ID of the organization member using the [**Retrieve Organization Details**](https://docs.hyperstack.cloud/docs/api-reference/retrieve-organization-information) endpoint, and include the ID in the path.",
        "operationId": "List_My_User_Permissions",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserPermissionsResponseModel"
                },
                "example": {
                  "status": true,
                  "message": "Getting my permissions successfully",
                  "permissions": [
                    {
                      "id": 6190,
                      "resource": "Environment",
                      "permission": "environment:list"
                    }
                  ]
                },
                "examples": {
                  "default": {
                    "summary": "Successful response",
                    "value": {
                      "status": true,
                      "message": "Getting my permissions successfully",
                      "permissions": [
                        {
                          "id": 6190,
                          "resource": "Environment",
                          "permission": "environment:list"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                },
                "examples": {}
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "examples": {}
              }
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/users/{id}/permissions": {
      "get": {
        "tags": [
          "User Permission"
        ],
        "summary": "List user permissions",
        "description": "Retrieves a list of permissions granted to a specific user within your organization. Provide the ID of the user in the path. For additional information on user permissions,.",
        "operationId": "List_User_Permissions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the user."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserPermissionsResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/users/{user_id}/assign-roles": {
      "put": {
        "tags": [
          "Assigning Member Role"
        ],
        "summary": "Assign RBAC role",
        "description": "Assigns a [**Role-Based Access Control (RBAC)**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) role to a member of your [**organization**](https://docs.hyperstack.cloud/docs/resource-management/organization), granting them the resource actions permitted by the role's permissions and policies. Include the user ID in the path and the RBAC role ID in the request body.\n\n- To obtain the user ID, call the [**Retrieve organization information**](https://docs.hyperstack.cloud/docs/api-reference/retrieve-organization-information) endpoint.\n- To obtain the RBAC role ID, call the [**List RBAC roles**](https://docs.hyperstack.cloud/docs/api-reference/list-rbac-roles) endpoint.",
        "operationId": "Assign_RBAC_Role_to_User",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the user."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignRbacRolePayload"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RbacRoleDetailResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/auth/users/{user_id}/roles": {
      "delete": {
        "tags": [
          "Assigning Member Role"
        ],
        "summary": "Remove RBAC role from user",
        "description": "Removes a [**Role-Based Access Control (RBAC)**](https://docs.hyperstack.cloud/docs/resource-management/organization#user-roles) role from a member of your [**organization**](https://docs.hyperstack.cloud/docs/resource-management/organization), revoking the resource actions permitted by the role's permissions and policies. Include the user ID in the path.\n\nTo obtain the user ID, call the [**Retrieve organization information**](https://docs.hyperstack.cloud/docs/api-reference/retrieve-organization-information) endpoint.",
        "operationId": "Remove_RBAC_Role_From_User",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the user."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/core/clusters": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "summary": "List Clusters",
        "operationId": "List_Clusters",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "description": "Filter results to the specified environment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search query to filter cluster by name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterListResponse"
                },
                "example": {
                  "status": true,
                  "message": "Getting clusters success",
                  "page": 1,
                  "page_size": 10,
                  "count": 1,
                  "clusters": [
                    {
                      "id": 9876,
                      "name": "example-c1",
                      "environment_name": "example-environment",
                      "environment_region": "NORWAY-1",
                      "kubernetes_version": "1.35.1",
                      "api_address": "https://api.example-c1-8a1cf2.example-environment.hyperstackcustomers.cloud:6443",
                      "kube_config": "YXBpVmVyc2lvbjogdjEKY2x1c3RlcnM6Ci0gY2x1c3RlcjoKICAgIGNlcnRpZmljYXRlLWF1dGhvcml0eS1kYXRhOiBMUzB0TFMxQ1JVZEpUaUJEUlZKVVNVWkpRMEZVUlMwdExTMHRDazFKU1VSQ1ZFTkRRV1V5WjBGM1NVSkJaMGxKU0ZWVmFubzVTbEYwYmtsM1JGRlpTa3R2V2tsb2RtTk9RVkZGVEVKUlFYZEdWRVZVVFVKRlIwRXhWVVVLUVhoTlMyRXpWbWxhV0VwMVdsaFNiR042UVdWR2R6QjVUbXBCTVUxRVkzaE9lbFY1VFZSQ1lVWjNNSHBPYWtFeFRVUlJlRTU2VlROTlZFSmhUVUpWZUFwRmVrRlNRbWRPVmtKQlRWUkRiWFF4V1cxV2VXSnRWakJhV0UxM1oyZEZhVTFCTUVkRFUzRkhVMGxpTTBSUlJVSkJVVlZCUVRSSlFrUjNRWGRuWjBWTENrRnZTVUpCVVVNM1JVdFNlamRsTjNSaUsxTjZWa2RoT1c1R1RrSklXR2hHSzFka2VYQkRiMGd6WjB4blpWQnZRbTlpZUM4d1RsWjZkSHBLYTJJMWJUUUtZbUl6ZGtSbE5VTmtiSFVyYkhWcFMzRllXbWhQV0hwV05taEdWR05aYTNwTGFrUlZjMlZRU0ZaWk5XZG5Na1pDTURsdFkwVk5iMnhzUkhaV1owWldSQXBWTjJ0YVNIaDZUVGwzWjBWeGVqQkRiM2RCYUZGcFJXaFdRVVpJVHpVNU16bEpjRnBtZVdkaFVXVmlZbGx5ZUdadmMyVldZaTlHT1hOdVZ6SXdVRE01Q2pWTVluUXJPR3hNVEdKRFFrTXdNMG93V0dGU1NVUlVRbXRYZURSWlZWbDRTM05QY0dOU01tbENhVkpKYWsxamJrdHdNVTkwV21sQ2EycHdUV3RxYkcwS2EzaDVZbk13ZFRkblFucElObHBZYVZoMVJYUTVSMVJPTHpVMmRrTTNZelZxY0c5TVIyWjFRbmhsV1RoUlltWlVTRUpVYW0xWVpXUk1keXRJTlRrelNRcEllRXAwTW1oSVJqRkJiRVk0UlUxUVMwZGpNR2h6ZEdoSldtdHFRV2ROUWtGQlIycFhWRUpZVFVFMFIwRXhWV1JFZDBWQ0wzZFJSVUYzU1VOd1JFRlFDa0puVGxaSVVrMUNRV1k0UlVKVVFVUkJVVWd2VFVJd1IwRXhWV1JFWjFGWFFrSlVMM0ZKT1doYWRDdFdOMVZXTWtORWEyRk1XRXBWT1VOM1JteEVRVllLUW1kT1ZraFNSVVZFYWtGTloyZHdjbVJYU214amJUVnNaRWRXZWsxQk1FZERVM0ZIVTBsaU0wUlJSVUpEZDFWQlFUUkpRa0ZSUVU1Q1puSTBUa2xYUndwa00xRjZVa04yUzJsd2VIQkxUemRXT1VwMldsUnBSRFZDUVZoUWVHbFpObVp2YUdGSlpFeFZRVGNyWVVGSk9USlpUbnBpTVVWTlFUaDVlbll3Yml0TkNteDBkR2xNYzFaU2VGaFdSVFVyU1dRNFFUSklORXN3ZVhoR2RVNTZNRmd4VlVONE5sRm9WM2xaTlZGamRreHVVbUYzUjB0a1VIVnZXRkpJTkdOWFRGY0tRV1ZuUjFSRk1Fa3hWV3d5ZG1wd1FsQnZWR0ZWY1RScmFqSmpSRGc1S3pkWFpGTlpSRmN5VXpoMWNIaFBaVkpQWjJkQ00wOXRZMVJ6VFROcWRYQjRXUXBhVkVKQlNpdEJVRmswTUU5Q05raFNRVWc1TnpORGIyOW9iSEpZZDFOVFJESlZWbkV4ZG5kTWIwczNhbkJKUm01R1psTXlVVUZNWVd0WmIycGpZVkJNQ2xFM2JYTk5ka1JqZDFWV01HTTBXRXhNYVZSNWFEZHhZa2RzYlU5YVIwY3lhVFp3TjNKTVlUSlJNVzFLSzNkTWRVVlBNVkJLV1VOQk16RXdOMDk1UkZrS2NFRkZVMDg0YzFSa1kwZEVDaTB0TFMwdFJVNUVJRU5GVWxSSlJrbERRVlJGTFMwdExTMEsKICAgIHNlcnZlcjogaHR0cHM6Ly9hcGkuYXBpdGVzdC01NTJmODI2YS1jMS04YTFjZjIuYXBpdGVzdC01NTJmODI2YS1lbnYuaHlwZXJzdGFja2N1c3RvbWVycy5jbG91ZDo2NDQzCiAgbmFtZTogYXBpdGVzdC01NTJmODI2YS1jMS04YTFjZjIKY29udGV4dHM6Ci0gY29udGV4dDoKICAgIGNsdXN0ZXI6IGFwaXRlc3QtNTUyZjgyNmEtYzEtOGExY2YyCiAgICB1c2VyOiBrdWJlcm5ldGVzLWFkbWluCiAgbmFtZToga3ViZXJuZXRlcy1hZG1pbkBhcGl0ZXN0LTU1MmY4MjZhLWMxLThhMWNmMgpjdXJyZW50LWNvbnRleHQ6IGt1YmVybmV0ZXMtYWRtaW5AYXBpdGVzdC01NTJmODI2YS1jMS04YTFjZjIKa2luZDogQ29uZmlnCnVzZXJzOgotIG5hbWU6IGt1YmVybmV0ZXMtYWRtaW4KICB1c2VyOgogICAgY2xpZW50LWNlcnRpZmljYXRlLWRhdGE6IExTMHRMUzFDUlVkSlRpQkRSVkpVU1VaSlEwRlVSUzB0TFMwdENrMUpTVVJMVkVORFFXaEhaMEYzU1VKQlowbEpXV05zY1d4b1dUUlFaR2QzUkZGWlNrdHZXa2xvZG1OT1FWRkZURUpSUVhkR1ZFVlVUVUpGUjBFeFZVVUtRWGhOUzJFelZtbGFXRXAxV2xoU2JHTjZRV1ZHZHpCNVRtcEJNVTFFWTNoT2VsVjVUVlJDWVVaM01IbE9la0V4VFVSamVFNTZWVE5OVkVKaFRVUjNlQXBJZWtGa1FtZE9Wa0pCYjFSR2JYUXhXVzFXYUZwSE1EWlpNbmd4WXpOU2JHTnBNV2hhUnpGd1ltNU5lRWRVUVZoQ1owNVdRa0ZOVkVWSGRERlpiVlo1Q21KdFZqQmFXRTEwV1ZkU2RHRlhOSGRuWjBWcFRVRXdSME5UY1VkVFNXSXpSRkZGUWtGUlZVRkJORWxDUkhkQmQyZG5SVXRCYjBsQ1FWRkRkbWw2YUZVS1ZrMTNSMGx5UzBoTlRHeHJVVkp5S3psNGRIWlVXVWR5TW1WSWJqTTNXRU5MT1V0UlFUTlVTbVUyTUVzeE1VOURNMWR4YW1GblVHOVBkRlJNUzJGbmFncFNVVW9yYURKNVJFTktXbVExYmxKU2JGYzBRMmhIT0dacU1qZFZTMk5CZG0xdFduWklkVGRPVm5SaFQxVXJWM0E1ZEhScVNIQllOMFpwWTFSTVpUSXZDbnBaVHpSRVJYbHdVMDlIYTJkb1QxQjNUM05RY0VGU2MwdFpaVTlXWWxoM1RXVnlVbVZCUTNNM1dqVnJWVE4wV1hJd1kybzVVVkZqYmxGUFUwaE5TSFVLTld4clNtTjFSbmhpZWtwNWVWQllXVTlsTVM5cGNtdFliVmx3VVV0aGJGUlJSMVV6UmpsS05XcFFUR3hTTVhsMVNEZExWVkJWVW1aRVowa3hSRloxZHdwTFVsaGFUak5GYm14Q2NFcHpVR2Q2ZUV0NGJ5c3ZSa0p2TTAxd2FrOXZNRXRHY2tVcmVXSXdiVzQwT0hwS2MyUlhjbTFUU1VNeWVYRkZPRUpOZWxaMENqWkdlVzU2YUZwV01scFZPR3czVlZwQlowMUNRVUZIYWxacVFsVk5RVFJIUVRGVlpFUjNSVUl2ZDFGRlFYZEpSbTlFUVZSQ1owNVdTRk5WUlVSRVFVc0tRbWRuY2tKblJVWkNVV05FUVdwQlRVSm5UbFpJVWsxQ1FXWTRSVUZxUVVGTlFqaEhRVEZWWkVsM1VWbE5RbUZCUmxBcmIyb3lSbTB6TlZoMFVsaFpTUXBQVW05MFkyeFVNRXhCVjFWTlFUQkhRMU54UjFOSllqTkVVVVZDUTNkVlFVRTBTVUpCVVVFMVYyUnRTMVpLVm1SUWVHbHJSMEprVkZFclVXNUxaek0zQ2pSc1NUQjFkV1JrYkRFeWNqRjJPSGh5WldaR1YzRktXRXB2VFd0cU1XZ3hZazE1YjB4c2IzTkdTa2hSWmtSMWJsRnpUR1ExYkV4Skx6WjZORXhoYUdvS2R6ZzBjbGxSTmtwa05IRmFhVmhGWkU1WGNYbHpXRTFWY1hFME5uQlRVazVHV0doT1JEZ3ZZamhRWW04NE5XWTRVbTVuVG5FME0yMVRlR1pNZEdKRVRncElTblE1UlRseFMwSndXV3gwY25SU1VFRnhNMGt6TW5sTGJFUnZVR3hzTWswelNFOXhjRmRUT1V0QlNVZzFWVzAxWm1KRmJWbExNVk50VlhnMWFtOHhDakJKZW1aTGRrRnVabmRrYzB4WVJVY3dLM0o2VFRRelFuVXJUbEE1VlZFNVJVeEliRlZpY1hBeFYwdG5lbXN5ZUZoWU5ubFFhM05HY0d4Q09HMDVNUzhLUWxGSmNVWmlhbEJ0Wm5SQ1ZFWk1UbEpwVlVVM2RHeENjVGx2TTBwRWVEWkJiRkZhZEZOSlYzaDJOWHBTU0hVemQxTXlTMVY0UkZCTmNIcFhDaTB0TFMwdFJVNUVJRU5GVWxSSlJrbERRVlJGTFMwdExTMEsKICAgIGNsaWVudC1rZXktZGF0YTogTFMwdExTMUNSVWRKVGlCU1UwRWdVRkpKVmtGVVJTQkxSVmt0TFMwdExRcE5TVWxGY0VGSlFrRkJTME5CVVVWQmNqUnpORlpHVkUxQ2FVdDVhSHBETlZwRlJXRXZkbU5pWWpBeVFuRTVibWcxT1NzeGQybDJVMnRCVGpCNVdIVjBDa04wWkZSbmRERnhiekp2UkRaRWNsVjVlVzF2U1RCVlEyWnZaSE5uZDJsWFdHVmFNRlZhVm5WQmIxSjJTRFE1ZFRGRGJrRk1OWEJ0WW5nM2RYcFdZbGNLYW14UWJIRm1ZbUpaZURaV0szaFpia1Y1TTNSMk9ESkVkVUY0VFhGVmFtaHdTVWxVYWpoRWNrUTJVVVZpUTIxSWFteFhNVGhFU0hFd1dHZEJjazh5WlFwYVJrNDNWMHM1U0VrdlZVVklTakJFYTJoNlFqZDFXbHBEV0V4b1kxYzRlV056YWpFeVJHNTBaalJ4TlVZMWJVdFZRMjF3VlRCQ2JFNTRabE5sV1hwNUNqVlZaR055YUN0NWJFUXhSVmgzTkVOT1VURmljME5yVmpKVVpIaEtOVkZoVTJKRU5FMDRVM05oVUhaNFVXRk9la3RaZW5GT1EyaGhlRkJ6YlRsS2NDc0tVRTE1WWtoV2NUVnJhVUYwYzNGb1VFRlVUVEZpWldoamNEZzBWMVprYlZaUVNtVXhSMUZKUkVGUlFVSkJiMGxDUVVGbmNtRkpSekJQU2t0SmFIUndNd293UVdvd1duSmpOamxPU0c1UU5FOXdOMnBQUjFjNFZXWnRVSE5QZW1nMllWaFBSa2RUUTB0ekx6QjBMMjlhVEhKUFowRkRabXR4TVRaWWJrNHZObFJTQ21Zek16ZFFZWEZYVlRkd1YxRXpNbkZvVkZCdGFGbFZlRzlHWWtocU9FZExjWGN5VVhCbU1sVXJXSHBTWWxwV2VqUkliWEZDTkdsSWJtWjFkM2gwYVZNS1FtSTFUVTR6UkZoUU5XeEpkblJRZURCMFkzazRabUYwZGtGdWJtZG5WbUkzV1ZkRU4wRnJSM00zVEZKb2F6aE5WRk53VFhBNGVWTlhWRzV4UjJ0M2JncEtkR3BITTJkT1dqZDRRMDlrTW5aUFNWVXlaalpYV0dkSWFuQjRTVmd2WkhOSVJrTTBNR3RCTUhZclpXY3lNVUpwUWpBNVQyVjFPQ3RwUVcxNVlsSk1DalpXUjBWcFlsTkZUMVpXWWxNemExbGxOVlpETWs5emEwTlJNbkphTkVzeUsxQk5RbTlxZGxkYWR6WktOV0V5Tm5wME5HVjJabk5LTkVVeGMydEpTV1FLTHpNM1RXWjNSVU5uV1VWQmR6bFNRV1l6WkZOdk1VNTBVVmMzYmxkSGJWRTVla2h3YW5OalQyTjRaMEZQWW5FMlUwaDRiV1pTYlVWSFltWlJabVpTYVFwV1NFSTRjQ3MyTmtWUk5VczJlR3R0UjBsMVRrRjVOM2hNWjBoWE0wTlhkelJKTnprNFFuQkVTelo2VG5ZMFlsY3ZkbTVXV1dOdVlXTllUazFIYms1bkNrSmlUbnBFU1ZKU1dHNXhRMVJsWlZkclkzQmtablZoTjNweWNESmlWVXR0WmpJM2VqRlBNME5TWWpoNVJXRTJibHBGYjFFeVUydERaMWxGUVRWWWRGa0tZMDlTT1VkelF6QnVZWE15TTNrdmFqWlBaWFpoYURCWFdFMVhkM1kzUzA5Wk1WcDBMMUZJWTNaUGFYSlRkVlExVmpObVZYUkdkbGRFYzJoVldWQTVlQXBGVTI1NFFqSnpTRkJKVkZnNU1pdENVbkUzV1ZGM2VGZHJVRU1yU2s1NlpVNVpkMmxtYkVoeFlWTnBjV3ROVjBwMFUyMTJVVkpFTUhKd1pXNVFOWFpWQ25nNWNESjFiVkJyVm5kdWVHeE9TM05WVFVOamRFSTBaMGRtTUhaUWNUSjZWVXAxVTFOdVJVTm5XVUppZWpkc2JHbFpXQ3NyVUVGNVV6RkxMMmx6TjJrS1pHczBkMGRJWkZnd2NISlpaR2RyT0ZSellXMVNSRFZCTmtsTmFHRnRRbTVuYXpKUVZtdGtOa1UxT1dkV1pYZGpaV1ZFYXpaNU9EaERURk0xYUdod1JncFVaMVZWWlhSMVprMUhaRTlOYlU4clN6RmxNV1o2VDJoSFVrNUlSeko1WW1ZMlUyazJOalZUWnpGR2QxRlFTRUUzU1Zkc1NqTjRTakJtV1ZGQ056SlVDalZYYzBGSE0wTkllbkp2YTNaRFVGTjVlamRYT0ZGTFFtZFJRMGw1Tmxac04zQTJlRUYxZW05RVJHTjVhR3czU3paTmJVWmlVRGt5YjBKWlJIZENTRzRLU0RRclJGRmpablpEU21WTWJITkZXVXBuVDNrelFXWllWMmMwUzI5R2MzSlRlVUV5VG5SUWFXWkxTWFJEZEdjMldsZElabGhuZVVGaVJFazRNRlJxV2dwSVRXTXpSeXRsY21ScFZuWkdXVXBKWW5sbVkyeHdiakZPWTNaeFVFSTVNRmd3VG14VGMxUkZTMlJhVEhrcldWTlpVemxKYnpacGNFNVhZMnBoZGtrMENtVXZVMUl3VVV0Q1oxRkRRWFkxVlRBMldVb3hUazEyS3paVlkzQkVZVGhhVURjdlVubE5ZblZKWTB4S1pWZDRRVkV6VG05TE1saFZPWFpWVkVRdk5ta0thWFpKYVVrd2IwZFVjRmtySzJ0WWIxSndiMU0yUm1OQmRIZEdOSEJFZWxCSWIwRlBiMjlwVFZaaE5uUTBaVTgxWjJrdlpqUkJkVlZyWldoSlJWQkthQW94TlRaNVJHZFlObVJhT0U0eFJFUk9SR3AwVFd0b2JIZDRTbEprY2pSNFMyaE9SbGNyT1dKdlRsaEdXVTV3VjFJM2NFaGtVbmM5UFFvdExTMHRMVVZPUkNCU1UwRWdVRkpKVmtGVVJTQkxSVmt0TFMwdExRbz0K",
                      "status": "ACTIVE",
                      "status_reason": "K8s is ready",
                      "green_status": "GREEN",
                      "master_flavor": {
                        "id": 7613,
                        "name": "n1-cpu-small",
                        "cpu": 4,
                        "ram": 4,
                        "disk": 100,
                        "ephemeral": 0,
                        "gpu": "",
                        "gpu_count": 0,
                        "labels": [],
                        "features": {
                          "network_optimised": false,
                          "no_reboot": false,
                          "no_hibernation": false,
                          "no_snapshot": false,
                          "local_storage_only": false,
                          "api_only": false
                        }
                      },
                      "master_count": 2,
                      "keypair_name": "example-keypair",
                      "created_at": "2026-05-07T09:21:55Z",
                      "image": {
                        "name": "Ubuntu 24.04 LTS Hyperstack Kubernetes v1.35.1"
                      },
                      "node_groups": [
                        {
                          "id": 1402,
                          "cluster_id": 3287,
                          "name": "default",
                          "role": "worker",
                          "flavor": {
                            "id": 8429,
                            "name": "n1-cpu-small",
                            "cpu": 4,
                            "ram": 4,
                            "disk": 100,
                            "ephemeral": 0,
                            "gpu": "",
                            "gpu_count": 0,
                            "labels": [],
                            "features": {
                              "network_optimised": false,
                              "no_reboot": false,
                              "no_hibernation": false,
                              "no_snapshot": false,
                              "local_storage_only": false,
                              "api_only": false
                            }
                          },
                          "count": 1,
                          "min_count": 1,
                          "max_count": 1,
                          "firewall_ids": []
                        }
                      ],
                      "nodes": [
                        {
                          "id": 6190,
                          "node_group_id": null,
                          "node_group_name": null,
                          "instance": {
                            "id": 4501,
                            "name": "example-c1-bastion-0",
                            "status": "ACTIVE",
                            "fixed_ip": "203.0.113.205",
                            "floating_ip": "198.51.100.27",
                            "floating_ip_status": "ATTACHED",
                            "contract_id": null,
                            "image_id": 4501
                          },
                          "role": "bastion",
                          "status": "ACTIVE",
                          "status_reason": "Node is reconciled",
                          "is_bastion": true,
                          "requires_public_ip": true,
                          "created_at": "2026-05-06T14:32:11Z",
                          "updated_at": "2026-05-06T14:32:11Z"
                        },
                        {
                          "id": 1129,
                          "node_group_id": null,
                          "node_group_name": null,
                          "instance": {
                            "id": 6190,
                            "name": "example-c1-load-balancer-0-2",
[...]
